<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClamAVServer" value="localhost" />
    <add key="ClamAVServerPort" value="3310" />
    <!-- Serilog -->
    <add key="SerilogSeqServerUrl" value="http://localhost:5341" />
    <add key="SerilogEventLogSource" value="FileService" />
    <add key="SerilogEventLogName" value="Application" />
    <add key="SerilogFromEmail" value="applications@beconsultancy.co.uk" />
    <add key="SerilogToEmail" value="s.anumalsetty@beconsultancy.co.uk" />
    <!-- Startup Service Checks -->
    <add key="ServicesNeededOnStartupPorts" value="" />
  </appSettings>
  <system.serviceModel>
    <!--<diagnostics>-->
      <!-- Enable Message Logging here. --><!--
      --><!-- log all messages received or sent at the transport or service model levels > --><!--
      <messageLogging logEntireMessage="true" maxMessagesToLog="50" logMessagesAtServiceLevel="true" logMalformedMessages="false" logMessagesAtTransportLevel="false" />
    </diagnostics>-->
    <bindings>
      <customBinding>
        <binding name="MexBinding">
          <tcpTransport portSharingEnabled="true" maxPendingConnections="100" listenBacklog="200">
            <connectionPoolSettings groupName="default" maxOutboundConnectionsPerEndpoint="100" />
          </tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetBinding" closeTimeout="00:01:00" maxConnections="100" listenBacklog="200" portSharingEnabled="true" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="20" maxConcurrentSessions="20" maxConcurrentInstances="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="Bec.TargetFramework.Hosts.FileService.Services.FileProcessService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetBinding" contract="Bec.TargetFramework.Hosts.Infrastructure.Interfaces.IFileProcessService" />
        <endpoint address="mex" binding="customBinding" bindingConfiguration="MexBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8901/FileServices/FileProcessService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\Bec.TargetFramework.Hosts.FileServices.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <!--<system.net>
    <mailSettings>
      <smtp from="applications@beconsultancy.co.uk">
        <network host="192.168.10.15" port="25" userName="applications@bec.local" password="P@ssw0rd" />
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>-->
  <!--<entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.3.344.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>-->
</configuration>