<ul class="helpItemList">
    {{#if data.IsEmpty}}
    <li>
        <div>No items to display.</div>
    </li>
    {{/if}}
    {{#if data.IsSortable}}
    {{#each data.Items}}
    <li class="ui-state-default" data-item-id="{{HelpPageItemID}}">
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        <span class="help-item-title">{{Title}}</span>
        <span class="help-item-btn">
            <a class="btn btn-primary btn-sm" data-modallink="true" data-url=""><i class="fa fa-times"></i></a>
            <a class="btn btn-primary btn-sm" data-modallink="true" data-url=""><i class="fa fa-edit"></i></a>
        </span>
    </li>
    {{/each}}
    {{else}}
    {{#each data.Items}}
    <li class="ui-state-default" data-item-id="{{HelpPageItemID}}">
        <span class="help-item-title">{{Title}}</span>
    </li>
    {{/each}}
    {{/if}}
</ul>