@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("headtag", false)

    <style>
        .x-form-item-body {
            height: 26px;
        }

        .x-tab-default-top {
            padding: 8px 12px 1px 12px;
        }

        .x-tab-bar-default-horizontal {
            height: 30px;
        }

        .x-panel-body-default {
            color: black;
            font-size: 12px;
            font-size: normal;
        }

        .x-panel-header-default {
            font-size: 12px;
            border: 1px solid #157fcc;
        }

        .x-panel-header-default-horizontal-noborder {
            padding: 5px 5px 5px 5px;
        }

        .x-body {
            color: black;
            font-size: 12px;
            font-family: helvetica,arial,verdana,sans-serif;
            background: #ffffff;
        }

        .errorMultiSelect {
            color: red;
            font-weight: bold;
            background: no-repeat 0 2px;
            icon: url('~/Content/resources/images/icons/info.png');
            padding-left: 20px; /* width of the image plus a little extra padding */
        }
        .messageMultiSelect {
            color: black;
            font-weight: bold;
            background: no-repeat 0 2px;
            icon: url('~/Content/resources/images/icons/info.png');
            padding-left: 20px; /* width of the image plus a little extra padding */
        }
    </style>
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
    @RenderSection("mainBody", true)
</body>
</html>
