<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Found">
             <add wildcard="*" destination="/" />
          </httpRedirect>
        <defaultDocument>
            <files>
                <add value="app_offline.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
