<div>
    {{#each items}}
    <div class="message-item {{#unless IsReadByCurrentUser}}unread{{/unless}}">
        <div class="row">
            <div class="col-sm-1 hidden-xs no-padding">
                <div class="thumbnail" title="{{Message.UserType}}">
                    <i class="fa {{icon}} fa-2x"></i>
                </div>                
                <p class="usertype" title="{{Message.UserType}}">{{Message.UserType}}</p>
                {{#if Files}}
                    <div class="thumbnail">
                        <i class="fa fa-paperclip fa-2x"></i>
                    </div>
                {{/if}}
            </div>
            <div class="col-sm-11">
                <div class="message-heading">
                    {{#if isFromProfessionalUser}}
                        <strong>{{Message.OrganisationName}}</strong> >
                    {{/if}}

                    {{#if Message.FunctionName}}
                        <strong> {{Message.FunctionName}}</strong>    
                    {{else}}
                        <strong> {{Message.FirstName}} {{Message.LastName}}</strong>
                    {{/if}}
                    <span class="text-muted">wrote on {{Message.DateSent}}</span>
                </div>
                {{#if isMessage}}
                    <pre>{{Content.Message}}</pre>
                {{#each Files}}
                    <a class="attachment" href="{{Link}}">{{Name}}</a>
                {{/each}}
                {{else if isBaSafe}}
                    {{#with Content.NotificationDictionary.BankAccountMarkedAsSafeNotificationDTO}}
                        <pre>Bank account {{SortCode}}, {{AccountNumber}} has been marked as safe - you can now add transactions to the Safe Move Scheme. For further details please see the <a href="@Url.Action("Index", "Downloads", new { area = "ProOrganisation" })">Downloads</a> section.</pre>
                        <pre>Changed By: <strong>{{MarkedBy}}</strong></pre>
                    {{/with}}
                {{else if isBaFraud}}
                    {{#with Content.NotificationDictionary.BankAccountMarkedAsFraudSuspiciousNotificationDTO}}
                        <pre>The following bank account was marked as <strong>Fraud Suspicious</strong>:</pre>
                        <pre>Account Number: <strong>{{AccountNumber}}</strong></pre>
                        <pre>Sort Code: <strong>{{SortCode}}</strong></pre>
                        <pre>Changed By: <strong>{{MarkedBy}}</strong></pre>
                    {{/with}}
                {{else if isBaNoMatch}}
                    {{#with Content.NotificationDictionary.BankAccountCheckNoMatchNotificationDTO}}
                        <pre>The following bank account details were submitted by a user. <strong>The details did not match an active safe bank account.</strong></pre>
                        <pre>Account Number: <strong>{{AccountNumber}}</strong></pre>
                        <pre>Sort Code: <strong>{{SortCode}}</strong></pre>
                        <pre>Checked By: <strong>{{MarkedBy}}</strong></pre>
                        <pre>Details: <strong>{{Reason}}</strong></pre>
                    {{/with}}
                {{else if isBaPotFraud}}
                    {{#with Content.NotificationDictionary.BankAccountMarkedAsPotentialFraudNotificationDTO}}
                        <pre>The following bank account was marked as <strong>Potential Fraud</strong>:</pre>
                        <pre>Account Number: <strong>{{AccountNumber}}</strong></pre>
                        <pre>Sort Code: <strong>{{SortCode}}</strong></pre>
                        <pre>Changed By: <strong>{{MarkedBy}}</strong></pre>
                    {{/with}}
                {{else if isProductAdvised}}
                    {{#with Content.NotificationDictionary.ProductAdvisedNotificationDTO}}
                    <pre>WARNING: The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</pre>
                    <pre>Safe Buyer is a product that protects property buyers from fraud.</pre>
                    <pre>You are receiving this message because <strong>{{CompanyName}}</strong> is advising you to purchase Safe Buyer, which is also endorsed by some mortgage lenders, to protect you from fraud.</pre>
                    <pre>Safe Buyer enables you to check {{CompanyName}}'s bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with {{CompanyName}} avoiding email, which isn’t safe.</pre>
                    <pre><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by conveyancers and mortgage lenders.</pre>
                    {{/with}}
                {{/if}}
                <div class="read-status">
                    {{#if Unread}}
                    <span class="text-muted" title="Not read by anyone else">
                        <i class="fa fa-circle-o-notch color-primary"></i> Not read by any participants
                    </span>
                    {{else}}
                    {{#each Reads}}
                    <div class="text-muted">
                        Read by {{FirstName}} {{LastName}}{{#if AcceptedDate}} at {{AcceptedDate}}{{/if}}
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>