<h3 id="conversationSubject">
    <i class="fa fa-caret-left margin-right-10 hidden-md hidden-lg"></i>
    Subject: {{conversation.subject}}
    <i class="fa fa-pulse fa-spinner margin-left-5" id="messagesSpinner" style="display:none;"></i>
</h3>
<div class="messages-list">
    {{#items}}
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class="thumbnail">
                <i class="fa {{icon}} fa-2x"></i>
            </div>
            <p class="usertype">{{Message.UserType}}</p>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{Message.FirstName}} {{Message.LastName}}</strong> ({{Message.Email}}) <span class="text-muted">wrote on {{Message.DateSent}}</span>
                </div>
                <div class="panel-body">
                    <pre>{{Message.Message}}</pre>
                    {{#if Unread}}
                        <span class="text-muted pull-right">Unread</span>
                    {{else}}
                        {{#each Reads}}
                        <span class="text-muted pull-right">Read by {{FirstName}} {{LastName}}{{#if AcceptedDate}} at {{AcceptedDate}}{{/if}}</span>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            
        </div>
    </div>
    {{/items}}
</div>

<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="reply-panel panel panel-default margin-top-20">
            <div class="panel-heading">
                <strong>Reply to the conversation</strong>
            </div>
            <div class="panel-body">
                <form id="replyForm" class="smart-form" data-url="@Url.Action("Reply", "Messages", new { area = "Admin" })">
                    <fieldset>
                        <input type="hidden" name="ConversationId" value="{{conversation.id}}" />
                        @Html.AntiForgeryToken()
                        <section>
                            <label class="label">Message</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                <textarea name="Message" class="form-control" rows="5"></textarea>
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button id="replyButton" type="submit" class="btn btn-primary pull-right">Send</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
