{{#if conversation.link}}
<div class="pull-right">
    <a href="{{conversation.link}}" class="btn btn-primary">View {{conversation.linkdescription}}</a>
</div>
{{/if}}
<h3 id="conversationSubject">
    <i class="fa fa-caret-left margin-right-10 hidden-md hidden-lg"></i>
    <span class="text-muted">Subject: </span>
    {{conversation.subject}}
    <i class="fa fa-pulse fa-spinner margin-left-5" id="messagesSpinner" style="display:none;"></i>
</h3>
<div class="margin-bottom-10">
    <span class="text-muted">Participants:</span>
    <span>
        {{#each conversation.participants}}
        {{#if IsSafeSendGroup}}
        {{OrganisationName}} > {{FirstName}};
        {{else}}
        {{#if IsProfessionalOrganisation}}{{OrganisationName}} > {{/if}}
        {{FirstName}} {{LastName}};
        {{/if}}
        {{/each}}
    </span>
</div>
<div class="messages-list">
    <div class="scrollable" id="itemsContainer">
    </div>
    <div class="message-item">
        <div class="row">
            {{#if conversation.issystemmessage}}
            <div class="alert alert-info">
                <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                <p>You cannot reply to this conversation because it is a system generated message.</p>
            </div>
            {{else if lonely}}
            <div class="alert alert-info">
                <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                <p>You cannot reply to this conversation.</p>
            </div>
            {{else}}
            <div class="col-xs-12">
                <form id="replyForm" class="smart-form" data-url="@Url.Action("Reply", "Messages", new { area = "Admin" })">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="AttachmentsID" id="AttachmentsID" />
                    <div class="row display-table">
                        {{#if showFrom}}
                        <div class="col-xs-12">
                            <label class="label">From: </label>
                            <label class="select">
                                <select name="fromHash">
                                    {{#each from}}
                                    <option value="{{Hash}}">{{Display}}</option>
                                    {{/each}}
                                </select>
                                <i></i>
                            </label>
                        </div>
                        {{/if}}
                        <div class="col-xs-11">
                            <fieldset>
                                <input type="hidden" name="ConversationId" value="{{conversation.id}}" />
                                <section>
                                    <label class="textarea">
                                        <textarea id="replyMessageTextArea" name="Message" class="form-control" rows="1" placeholder="Write a reply..."></textarea>
                                    </label>
                                </section>
                            </fieldset>
                        </div>
                        <div class="col-xs-1">
                            <button id="replyButton" type="submit" class="btn btn-block btn-primary pull-right">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 smart-form">
                <div id="upload" class="row dropzone">
                    <div class="fallback">
                        <form method="post" enctype="multipart/form-data" id="multiform">
                            <input style="display:none;" type="file" name="file" id="file" title="Add File" />
                            <button type="button" id="test">Upload file...</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
