<h3 id="conversationSubject">
    <i class="fa fa-caret-left margin-right-10 hidden-md hidden-lg"></i>
    Subject: {{conversation.subject}}
    <i class="fa fa-pulse fa-spinner margin-left-5" id="messagesSpinner" style="display:none;"></i>
</h3>
<div class="messages-list">
    {{#each items}}
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class="thumbnail">
                <i class="fa fa-user fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{UserAccountOrganisation.UserAccount.Email}}</strong> <span class="text-muted">wrote on {{DateSent}}</span>
                </div>
                <div class="panel-body">
                    <pre>{{message}}</pre>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="reply-panel panel panel-default margin-top-20">
            <div class="panel-heading">
                <strong>Reply to the conversation</strong>
            </div>
            <div class="panel-body">
                <form id="replyForm" class="smart-form">
                    <fieldset>
                        <input type="hidden" name="ConversationId" value="{{conversation.id}}" />
                        <input type="hidden" name="__RequestVerificationToken" value="{{requestVerificationToken}}" />
                        <section>
                            <label class="label">Message</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                <textarea name="Message" class="form-control" rows="5"></textarea>
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button id="replyButton" type="submit" class="btn btn-primary pull-right">Send</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
