<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-weixin margin-right-10"></i>View Messages</h2>
        <div class="col-sm-12">
            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Discussions</h3>
                        <ul class="discussions-list">
                            <li class="unread">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="discussion-subject">New property to buy</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="date">20/07/2015 10:20</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 discussion-message">
                                        <strong>Edward Powell</strong> says: You should have done it before!
                                    </div>
                                </div>
                            </li>
                            <li class="unread">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="discussion-subject">Concerns about the survery</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="date">20/07/2015 10:20</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 discussion-message">
                                        <strong>Sam Johns</strong> says: How dear you?
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="discussion-subject">The contract has to be signed</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="date">20/07/2015 10:20</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 discussion-message">
                                        <strong>Bob Smith</strong> says: Ok!
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="discussion-subject">Whatever else</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="date">20/07/2015 10:20</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 discussion-message">
                                        <strong>Bob Smith</strong> says: Ok!
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="discussion-subject">Very long subject Very long subject Very long subject Very long subject Very long subject Very long subject Very long subject Very long subject</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="date">20/07/2015 10:20</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 discussion-message">
                                        <strong>Bob Smiths</strong> says: Very long content Very long content Very long content Very long content
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>New property to buy</h3>
                        <div class="messages-list">

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-11">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>Edward Powell</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                                        </div>
                                        <div class="panel-body">
                                            You should have done it before!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-11">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>Bob Smith</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                                        </div>
                                        <div class="panel-body">
                                            You should have done it before!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-11">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>Bob Smith</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                                        </div>
                                        <div class="panel-body">
                                            You should have done it before!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reply-panel panel panel-default margin-top-20">
                            <div class="panel-heading">
                                <strong>Reply to the discussion</strong>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <label for="comment">Message:</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">Reply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Admin/Messages/Index")"></script>
}
