@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models

<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-weixin margin-right-10"></i>Safe Send Messages</h2>
        <div class="col-sm-12">
            <div class="well">
                @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, SelectedConversationId = ViewBag.ConversationId })
            </div>
        </div>
    </div>
</div>
