html, #main-page-wrapper {
    background-color: #E8E8E8;
}

#main-page-wrapper {
    z-index: 1;
    position: relative;
}

#sidebar-main {
    margin-top: 30px;
}


/*-------------------- Sidebar Styles ---------------- */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 10;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

.page-content-wrapper {
    margin-top: 50px;
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#wrapper {
    padding-left: 200px;
}

    #wrapper.toggled {
        padding-left: 0;
    }

#sidebar-wrapper {
    width: 205px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

.page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
}


/*--------------------/Sidebar Styles ---------------- */
.steps {
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

    .steps h2 {
        margin-bottom: 20px;
        margin-left: 10px;
        line-height: 10px;
        /*display: inline-block;
    padding-left: 10px;*/
        font-size: 14px;
        /*text-transform: uppercase;
        font-family: "RobotoCondensed-Light";*/
    }

    .steps hr {
        /*margin: 0;
    margin-bottom: 10px;*/
        display: none;
    }

.steps-header {
    padding-left: 20px;
    color: #53705e;
}

.requiredField:after {
    content: " *";
    font-size: 16px;
    color: red;
}

.k-dropdown .k-dropdown-wrap {
    height: 32px;
}

/*------------Inputs Red Green Blue----------------*/
/* Override blue input to green */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #62c462;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
}

/* Override green to red when problem with input occured */
textarea.red-glow:focus,
input.red-glow[type="text"],
input.red-glow[type="password"],
input.red-glow[type="datetime"]:focus,
input.red-glow[type="datetime-local"]:focus,
input.red-glow[type="date"]:focus,
input.red-glow[type="month"]:focus,
input.red-glow[type="time"]:focus,
input.red-glow[type="week"]:focus,
input.red-glow[type="number"]:focus,
input.red-glow[type="email"]:focus,
input.red-glow[type="url"]:focus,
input.red-glow[type="search"]:focus,
input.red-glow[type="tel"]:focus,
input.red-glow[type="color"]:focus,
.uneditable-input.red-glow:focus,
span.red-glow,
row.red-glow {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

span.red-glow {
    padding: 5px;
    display: block;
}

/*------------/Inputs Red Green Blue----------------*/

div.error-wrapper {
    margin: 7px;
}

/* data-bind ex. parentValidationElement: 'red-glow-parent'*/
.red-glow-parent {
    border: 1px solid;
    border-radius: 4px;
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.error-span {
    /*border: 1px solid;*/
    /*border-radius: 4px;*/
    color: red;
}

body .highlighted {
    box-shadow: 0px 0px 5px 1px #2CB05E;
}

.popover-content {
    color: red;
    font-size: 10px;
}

/*---------------------Login Logout styles ----------------------------*/
#login-wrapper, #logout-wraper, .custom-error-wrapper {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 3px 3px 108px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 3px 108px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 108px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 52%;
    display: block;
    margin-top: -185px;
    margin-left: -235px;
    padding: 25px;
    background: white;
    text-align: center;
}

#login-wrapper {
    width: 420px;
    height: 350px;
}

#logout-wraper {
    width: 420px;
    height: 200px;
}

.login-form {
    padding-top: 20px;
}

.login-btn-wrapper {
    padding-top: 10px;
    position: absolute;
    top: 80%;
    left: 38%;
}


/*---------------------/Login Logout styles ----------------------------*/


.display-none {
    display: none;
}

/*------------/Bootstrap Dropdowns work on hover-----------------*/

#login-btn {
    width: 100px;
}

#add-company-btn {
    width: 116px;
}

#save-company-btn {
    width: 70px;
}

/*#title-dd-wrapper .k-dropdown {
    width: 80px;
}*/

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

.text-pulled-left {
    text-align: left;
}

.login-field-wrapper {
    height: 50px;
}

.custom-error-fields-wrapper {
    height: 30px;
}

.noUnderline {
    text-decoration-line: none;
    font-weight: normal;
    vertical-align: bottom;
}

.underline {
    text-decoration: underline;
    font-weight: normal;
    vertical-align: bottom;
}

span.k-icon {
    padding-bottom: 4px;
}

#unverified-grid, #verified-grid .k-grid-content {
    height: 250px;
}

.requiredField:after {
    font-weight: normal;
    content: " *";
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: red;
}

.validatable .form-group input.form-control, 
.validatable .form-group span.k-dropdown{
    display: inline-block;
    width:90%;
}

.validatable #title-dd-wrapper .form-group span.k-dropdown{
    display: inline-block;
    width:90%;
}

.form-group.input-collection .separated-input{
    margin-top: 10px;
}
