<div id="control">
    <div class="welcome">
        <span id="ctl00_lblInfo">
            <strong  id="lblInfo"></strong>&nbsp;<img src="../_common/NewImages/dropdown-arrow.png" alt="" />
            <ul  id="ulOptions">
                <li id="MyAccount" ><a href="../Admin/ProfileForm.aspx" title=""  id="aProfile">My Account</a></li>

                
                <li id="NewQuote"  ><a id="aNewQuote" href="~/Admin/Quote.aspx" title="" >New Quote</a></li>
                <li id="InviteReferral"  ><a id="aIviteReferral" href="~/Admin/Company_AddEstateAgentByAgentSourceForm.aspx" title="" >Invite Referrer</a></li>
                <li id="AddUser"  ><a id="a1AddUser" href="~/Admin/Company_BranchUserForm.aspx?From=AddUser" title="" >Add User</a></li>
                <li id="MasterBroker"  ><a id="a1MasterBroker" href="~/Admin/MasterBroker.aspx?From=MasterBroker" title="" >Master Broker</a></li>
                <li id="MBCommissionRpt"  ><a id="a1MBCommRpt" href="~/Admin/Report_MasterBrokerCommission.aspx" title="" >Commission Report</a></li>
                <li id="liLawyerCapacity"  ><a href="#" title="Set Lawyer Capacity" class="edit-Lawyer-Capacity">Edit Capacity</a></li>
                
                

            </ul>
        </span>

    </div>

</div>
<div id="dialog-modal-Capacity" title="Edit Lawyer Capacity" style="display: none;">
    <div class="Popup">
        <table class="smstable">
            <tr>
                <td width="30%">

                    <label class="column1">Quote Capacity Per month</label>
                </td>
                <td>
                    
                </td>
                
            </tr>
            <tr>
              
            </tr>
        </table>
    </div>
</div>
