<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <couchbase>
    <servers bucket="Default" username="Administrator" password="Itsvctr3#">
      <add uri="http://bec-dev-01:8091/pools" />
    </servers>
    <socketPool connectionTimeout="00:01:00" deadTimeout="00:01:00" />
  </couchbase>
  <connectionStrings>
    <!--TAG001 these 2 lines should be uncommented if testing with db on localhost-->
    <add name="TargetFrameworkAnalysisEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=localhostl;Port=5433;Database=TargetFrameworkAnalysis;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
    <add name="PostgreEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=localhost;Database=postgres;Port=5433;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Serilog-->
    <add key="SerilogSeqServerUrl" value="http://bec-dev-01:5341" />
    <add key="SerilogEventLogSource" value="Bec.TargetFramework.Hosts.AnalysisService" />
    <add key="SerilogEventLogName" value="Application" />
    <add key="SerilogFromEmail" value="support@bec.local" />
    <add key="SerilogToEmail" value="c.misson@beconsultancy.co.uk" />
    <!--Startup Service Checks-->
    <add key="ServicesNeededOnStartupPorts" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- certificate paths-->
    <add key="AnalysisServiceCertificateName" value="becanalysis.cer" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="support@bec.local">
        <network host="192.168.10.205" port="25" userName="support@bec.local" password="Itsvctr3#" />
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MexBinding">
          <tcpTransport portSharingEnabled="true" maxPendingConnections="100" listenBacklog="200">
            <connectionPoolSettings groupName="default" maxOutboundConnectionsPerEndpoint="100" />
          </tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetBinding" closeTimeout="00:01:00" maxConnections="100" listenBacklog="200" portSharingEnabled="true" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceAuthorization principalPermissionMode="UseWindowsGroups" />-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="20" maxConcurrentInstances="2147483647" maxConcurrentSessions="20" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Bec.TargetFramework.Analysis.Services.MortgageApplicationLogicService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/TFAnalyServices/MortgageApplicationLogicService" />
            <add baseAddress="net.tcp://localhost:9300/TFAnalyServices/MortgageApplicationLogicService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9003/TFAnalyServices/MortgageApplicationLogicService" binding="basicHttpBinding" contract="Bec.TargetFramework.Analysis.Interfaces.IMortgageApplicationLogic" />
        <endpoint address="net.tcp://localhost:9300/TFAnalyServices/MortgageApplicationLogicService" binding="netTcpBinding" bindingConfiguration="NetBinding" contract="Bec.TargetFramework.Analysis.Interfaces.IMortgageApplicationLogic" />
        <endpoint address="mex" binding="customBinding" bindingConfiguration="MexBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.PostgreSql" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.344.0" newVersion="7.3.344.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.927.0" newVersion="5.0.927.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\Bec.TargetFramework.Hosts.AnalysisServices.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.3.344.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>