<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <couchbase>
    <servers bucket="Default" username="Administrator" password="Itsvctr3#">
      <add uri="http://bec-dev-01:8091/pools" />
    </servers>
    <socketPool connectionTimeout="00:01:00" deadTimeout="00:01:00" />
  </couchbase>
  <connectionStrings>
    <!--TAG001 these 2 lines should be uncommented if testing with db on Bec-Dev-01-->
    <add name="TargetFrameworkAnalysisEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=bec-dev-01;Database=TargetFrameworkAnalysis;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
    <add name="PostgreEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=BEC-DEV-01;Database=postgres;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
    <!--TAG001 these 2 lines should be uncommented if testing with db on Virtual Machine-->
    <!--<add name="TargetFrameworkAnalysisEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=localhost;Database=TargetFrameworkAnalysis;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
    <add name="PostgreEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.csdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.ssdl|res://Bec.TargetFramework.Data.Analysis/TargetFrameworkAnalysis.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=localhost;Database=postgres;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--Serilog-->
    <add key="SerilogSeqServerUrl" value="http://bec-dev-01:5341" />
    <add key="SerilogEventLogSource" value="AnalysisService" />
    <add key="SerilogEventLogName" value="Application" />
    <add key="SerilogFromEmail" value="applications@beconsultancy.co.uk" />
    <add key="SerilogToEmail" value="n.gupta@beconsultancy.co.uk" />
    <!--Startup Service Checks-->
    <add key="ServicesNeededOnStartupPorts" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="applications@beconsultancy.co.uk">
        <network host="192.168.10.15" port="25" userName="applications@bec.local" password="P@ssw0rd" />
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetBinding" closeTimeout="00:01:00" maxConnections="100" listenBacklog="200" portSharingEnabled="true" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--TAG001 Use this if binding by http-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--TAG001 Use this if binding by net tcp-->
          <!--<serviceMetadata httpGetEnabled="false" />-->
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="20" maxConcurrentSessions="20" maxConcurrentInstances="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Bec.TargetFramework.Analysis.Services.MortgageApplicationLogicService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <!--TAG001 Use this if binding by http and deploying to the VM-->
            <!--<add baseAddress="http://213.39.59.93:80/TargetFrameworkServices/MortgageApplicationLogicService" />-->
            <!--TAG001 Use this if binding by http and testing locally-->
            <add baseAddress="http://localhost:80/TargetFrameworkServices/MortgageApplicationLogicService"/>
            <!--TAG001 Use this if binding by net tcp and deploying to the VM-->
            <!--<add baseAddress="net.tcp://213.39.59.93:8900/TargetFrameworkServices/MortgageApplicationLogicService" />-->
            <!--TAG001 Use this if binding by net tcp and testing locally-->
            <!--<add baseAddress="net.tcp://localhost:8900/TargetFrameworkServices/MortgageApplicationLogicService" />-->
          </baseAddresses>
        </host>
        <!--TAG001 Use this if binding by http-->
        <endpoint address="" binding="basicHttpBinding" contract="Bec.TargetFramework.Analysis.Interfaces.IMortgageApplicationLogic">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--TAG001 Use this if binding by net tcp-->
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetBinding" contract="Bec.TargetFramework.Analysis.Interfaces.IMortgageApplicationLogic" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.PostgreSql" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.344.0" newVersion="7.3.344.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.927.0" newVersion="5.0.927.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\Bec.TargetFramework.Hosts.AnalysisServices.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.3.344.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <!--Not needed I think-->
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL"
       type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=7.3.344.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>-->
  <!--Not needed I think-->
  <!--<system.data> 
   <DbProviderFactories> 
     <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version= 7.3.344.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
   </DbProviderFactories> 
  </system.data>-->
</configuration>