<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DaylistEnquiryV2_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DaylistEnquiryV2_0WSImplPortBinding1" />
                <binding name="DaylistEnquiryV2_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DaylistEnquiryV2_0PollRequestWSImplPortBinding1" />
                <binding name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPortBinding1" />
                <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding1" />
                <binding name="OC1TitleKnownV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OC1TitleKnownV2_1WSImplPortBinding1" />
                <binding name="OC1TitleKnownV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OC1TitleKnownV2_1PollRequestWSImplPortBinding1" />
                <binding name="OfficialSearchOfPartV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OfficialSearchOfPartV2_1WSImplPortBinding1" />
                <binding name="OfficialSearchOfPartV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OfficialSearchOfPartV2_1PollRequestWSImplPortBinding1" />
                <binding name="OfficialSearchV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OfficialSearchV2_1WSImplPortBinding1" />
                <binding name="OfficialSearchV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OfficialSearchV2_1PollRequestWSImplPortBinding1" />
                <binding name="OCWithSummaryV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OCWithSummaryV2_1WSImplPortBinding1" />
                <binding name="OCWithSummaryV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OCWithSummaryV2_1PollRequestWSImplPortBinding1" />
                <binding name="SearchOfIndexMapV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchOfIndexMapV2_1WSImplPortBinding1" />
                <binding name="SearchOfIndexMapV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchOfIndexMapV2_1PollRequestWSImplPortBinding1" />
                <binding name="OutstandingRequestsV2_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OutstandingRequestsV2_0WSImplPortBinding1" />
                <binding name="BankruptcySearchV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BankruptcySearchV2_1WSImplPortBinding1" />
                <binding name="BankruptcySearchV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BankruptcySearchV2_1PollRequestWSImplPortBinding1" />
                <binding name="FullSearchV2_1WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FullSearchV2_1WSImplPortBinding1" />
                <binding name="FullSearchV2_1PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FullSearchV2_1PollRequestWSImplPortBinding1" />
                <binding name="OnlineOwnershipVerificationV1_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OnlineOwnershipVerificationV1_0WSImplPortBinding1" />
                <binding name="EDocumentRegistrationV2_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EDocumentRegistrationV2_0WSImplPortBinding1" />
                <binding name="EDocumentRegistrationV2_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EDocumentRegistrationV2_0PollRequestWSImplPortBinding1" />
                <binding name="AttachmentV2_0WSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AttachmentV2_0WSImplPortBinding1" />
                <binding name="AttachmentV2_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AttachmentV2_0PollRequestWSImplPortBinding1" />
                <binding name="EarlyCompletionV2_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EarlyCompletionV2_0PollRequestWSImplPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/DaylistEnquiryV2_0WebService" binding="basicHttpBinding" bindingConfiguration="DaylistEnquiryV2_0WSImplPortBinding" contract="DaylistEnquiry20.DaylistEnquiryV2_0Service" name="DaylistEnquiryV2_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/DaylistEnquiryV2_0PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="DaylistEnquiryV2_0PollRequestWSImplPortBinding" contract="DaylistEnquiryPoll20.DaylistEnquiryV2_0PollService" name="DaylistEnquiryV2_0PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/EnquiryByPropertyDescriptionV2_0PollWebService" binding="basicHttpBinding" bindingConfiguration="PropertyDescriptionEnquiryV2_0PollRequestWSImplPortBinding" contract="EnquiryByPropertyDescriptionPoll20.PropertyDescriptionEnquiryV2_0PollService" name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/EnquiryByPropertyDescriptionV2_0WebService" binding="basicHttpBinding" bindingConfiguration="PropertyDescriptionEnquiryV2_0WSImplPortBinding" contract="EnquiryByPropertyDescription20.PropertyDescriptionEnquiryV2_0Service" name="PropertyDescriptionV2_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OfficialCopyTitleKnownV2_1WebService" binding="basicHttpBinding" bindingConfiguration="OC1TitleKnownV2_1WSImplPortBinding" contract="OfficialCopyTitleKnown21.OC1TitleKnownV2_1Service" name="OC1TitleKnownV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OC1TitleKnownV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="OC1TitleKnownV2_1PollRequestWSImplPortBinding" contract="OfficialCopyTitleKnownPoll21.OC1TitleKnownV2_1PollService" name="OC1TitleKnownV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialSearchOfPartV2_1WebService" binding="basicHttpBinding" bindingConfiguration="OfficialSearchOfPartV2_1WSImplPortBinding" contract="OfficialSearchOfPartWithPriority21.OfficialSearchOfPartV2_1Service" name="OfficialSearchOfPartV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialSearchOfPartV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="OfficialSearchOfPartV2_1PollRequestWSImplPortBinding" contract="OfficialSearchOfPartWithPriorityPoll21.OfficialSearchOfPartV2_1PollService" name="OfficialSearchOfPartV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OfficialSearchV2_1WebService" binding="basicHttpBinding" bindingConfiguration="OfficialSearchV2_1WSImplPortBinding" contract="OfficialSearchWholeWithPriority21.OfficialSearchV2_1Service" name="OfficialSearchV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OfficialSearchV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="OfficialSearchV2_1PollRequestWSImplPortBinding" contract="OfficialSearchWholeWithPriorityPoll21.OfficialSearchV2_1PollService" name="OfficialSearchV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialCopyWithSummaryV2_1WebService" binding="basicHttpBinding" bindingConfiguration="OCWithSummaryV2_1WSImplPortBinding" contract="OfficialCopyWithSummary21.OCWithSummaryV2_1Service" name="OCWithSummaryV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialCopyWithSummaryV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="OCWithSummaryV2_1PollRequestWSImplPortBinding" contract="OfficialCopyWithSummaryPoll21.OCWithSummaryV2_1PollService" name="OCWithSummaryV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/SearchOfIndexMapV2_1WebService" binding="basicHttpBinding" bindingConfiguration="SearchOfIndexMapV2_1WSImplPortBinding" contract="SearchOfIndexMap21.SearchOfIndexMapV2_1Service" name="SearchOfIndexMapV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/SearchOfIndexMapV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="SearchOfIndexMapV2_1PollRequestWSImplPortBinding" contract="SearchOfIndexMapPoll21.SearchOfIndexMapV2_1PollService" name="SearchOfIndexMapV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OutstandingRequestsV2_0WebService" binding="basicHttpBinding" bindingConfiguration="OutstandingRequestsV2_0WSImplPortBinding" contract="OutstandingRequests20.OutstandingRequestsV2_0Service" name="OutstandingRequestsV2_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/BankruptcySearchV2_1WebService" binding="basicHttpBinding" bindingConfiguration="BankruptcySearchV2_1WSImplPortBinding" contract="BankruptcySearch21.BankruptcySearchV2_1Service" name="BankruptcySearchV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/BankruptcySearchV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="BankruptcySearchV2_1PollRequestWSImplPortBinding" contract="BankruptcySearchPoll21.BankruptcySearchV2_1PollService" name="BankruptcySearchV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/FullSearchV2_1WebService" binding="basicHttpBinding" bindingConfiguration="FullSearchV2_1WSImplPortBinding" contract="ChargesFullSearch21.FullSearchV2_1Service" name="FullSearchV2_1WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/FullSearchV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="FullSearchV2_1PollRequestWSImplPortBinding" contract="ChargesFullSearchPoll21.FullSearchV2_1PollService" name="FullSearchV2_1PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/EOOV_StubService/OnlineOwnershipVerificationV1_0WebService" binding="basicHttpBinding" bindingConfiguration="OnlineOwnershipVerificationV1_0WSImplPortBinding" contract="OnlineOwnershipVerification10.OnlineOwnershipVerificationV1_0Service" name="OnlineOwnershipVerificationV1_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/EDocumentRegistrationV2_0WebService" binding="basicHttpBinding" bindingConfiguration="EDocumentRegistrationV2_0WSImplPortBinding" contract="EDocumentRegistration20.EDocumentRegistrationV2_0Service" name="EDocumentRegistrationV2_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/EDocumentRegistrationV2_0PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="EDocumentRegistrationV2_0PollRequestWSImplPortBinding" contract="EDocumentRegistrationPoll20.EDocumentRegistrationV2_0PollRequestService" name="EDocumentRegistrationV2_0PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/AttachmentV2_0WebService" binding="basicHttpBinding" bindingConfiguration="AttachmentV2_0WSImplPortBinding" contract="EDocumentAttachment20.AttachmentV2_0Service" name="AttachmentV2_0WSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/AttachmentV2_0PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="AttachmentV2_0PollRequestWSImplPortBinding" contract="EDocumentAttachmentPoll20.AttachmentV2_0PollRequestService" name="AttachmentV2_0PollRequestWSImplPort" />
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/EarlyCompletionV2_0PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="EarlyCompletionV2_0PollRequestWSImplPortBinding" contract="EarlyCompletionPoll20.EarlyCompletionV2_0PollRequestService" name="EarlyCompletionV2_0PollRequestWSImplPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
