@using Bec.TargetFramework.Entities.Enums
<!-- MAIN CONTENT -->
<div id="content">

    <h2 class="row-seperator-header inline-heading">Check Bank Accounts</h2>
    
    <div class="well">
        <div class="row">
            <div class="col col-6">
                <form id="check-Form" data-url="@Url.Action("PerformCheck","Check", new {Area="BankAccount"})">
                    @Html.ValidationBootstrap()
                    @Html.AntiForgeryToken()
                    <section>
                        <label class="input">
                            <input type="text" name="accountNumber" id="accountNumber" placeholder="Account Number" maxlength="8" />
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <input type="text" name="sortCode" id="sortCode" placeholder="Sort Code" maxlength="6" />
                        </label>
                    </section>
                    <section>
                        <label class="Button">
                            <input type="submit" value="Check" id="submitButton" />
                        </label>
                    </section>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/BankAccount/Check/Index")"></script>
}
