html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: century gothic, arial;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; background-color: #e8e8e8;}

#heading {
	min-width:1000px;
    height: 1%; 
    

}


header {
	background-color: #fff;
}

h1 {
	font-family: century gothic, arial;
	font-size: 18px;
	color: #7d7d7d;
	font-weight: bold;
}
h2 {
	font-family: century gothic, arial;
	font-size: 14px;
	color: #7d7d7d;
	font-weight: bold;
}
h3 {
	font-family: century gothic, arial;
	font-size: 14px;
	color: #b5d633;
	font-weight: bold;
}
h4 {
	font-family: century gothic, arial;
	font-size: 14px;
	color: #ef2c06;
	font-weight: bold;
}
p {
	font-family: century gothic, arial;
	font-size: 13px;
	color: #7d7d7d;
}

.p {
	font-family: century gothic, arial;
	font-size: 13px;
	color: #7d7d7d;
	padding-left:12px;
}

a 
{
    
	font-family: century gothic, arial;
	font-size: 13px;
	color: #7d7d7d;
	text-decoration:none;
}
a:hover 
{
    font-family: century gothic, arial;
	font-size: 13px;
	/*color: #b5d633;*/
	text-decoration:none;
	text-decoration: underline;
}

.font-green {
	font-family: century gothic, arial;
	font-size: 13px;
	color: #b5d633;
}
.content {
	width: 1000px;
	margin: 0 auto;
}

/* Header
   ========================================================================== */


 
 
  #logo
{
    float: left;
    width: 178px;
    height: 64px;
    margin: 16px 0px 16px 0px;
}
 
#logo a {	
	width: 178px;	
	height: 64px;	
	display: block;	
	text-indent: -9999px;	
	background: url('../NewImages/Logo.png') 0 0 no-repeat; 
 }

 #logo a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}
 
/* New Quote Page
   ========================================================================== */

.column1 {
	width: 160px;
	vertical-align: middle;
}

table input[type=text] {
	width: 180px;
}
.smstable td {
	height: 26px;
}
.smstable img {
	vertical-align: middle;
}

.must {
	color: #ef2c06;
}
 
 .main-content {
	height: inherit;
	display: block;
	clear:both;
	margin-top: 20px;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
 
 

#notifications {
	margin-top: 16px;
    margin-left: 32px;
	float: left;
}
#notifications img{
	margin-right: 15px;
}

/* Account Links
   ========================================================================== */
   	
 #control { 
	/*width: 200px;*/
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	color: #4a4a4a;
	margin-top: 16px;
	float: right;
	clear: right;
 }

 #control a { 
	color: #222;
	text-align: left;
	text-decoration: none;  
 }
 #control a:hover {	color: #7ca900; }
 #control span { 
	margin: 0 0 0 10px;  
 }
 #control span b { 
	font-weight: bold;
	color: #2a2a2a; 
 }
 #control .welcome span { 
 	position: relative; 
	display: block; 
	margin-left: 6px; 
	line-height: 22px;
	border: 1px solid #f1f1f1;
	padding: 0 0 0 10px;
	height:26px;
 }
  #control img { 
	margin-left: 25px;
	/*float:right; */
	margin-bottom:-10px;
 }
 
/* Drop Down List */
 /*#control .welcome span ul {
	list-style: none;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	top: 26px; 
	right: -2px;
	margin: 0; 
	text-align: left; 
	width: 193px;
	-webkit-box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .18);   
	box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .18);
	background: #fff; 
	z-index: 700;
	border: 1px solid #f1f1f1;
 }*/
 
 #control .welcome span ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    list-style: none;
    margin: 3px 0px 0px 1px;
    overflow: hidden;
    padding: px 0;
    position: absolute;
    right: -2px;
    text-align: right;
    top: 23px;
    visibility: hidden;
    width: 100%;
    z-index: 700;
}

 #control .welcome span:hover ul { visibility: visible; }
 #control .welcome span ul a { display: block; padding: 0 5px; }
 #control .welcome span ul a:hover { background-color: #eaeaea; color: #000; }


/* Navigation
   ========================================================================== */
  
 #topnav { 
	width: 100%;
	padding: 0;
	margin: 0;
	height: 35px;
	overflow: hidden;  
	float: none;
	clear: both;
	font-family:Tahoma;
 }
 #topnav li { 
	float: left;
	display: inline;
	margin: 0 0px 0 0;  
 }
 #topnav li.last-child { 
	margin: 0;  
 }
 #topnav li a { 
	display: block;
	background: #B6E72E url('../NewImages/nav_bg.jpg') 0 0 repeat-x;
	/* font-size: 11px;*/
	line-height: 35px;
	padding: 0 12px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #8aa621;  
 }
 #topnav li a:hover { 
	background: #426c28;
	color: #fff;  
 }
 #topnav li a.current { 
	background: #e8e8e8;
	color: #7d7d7d;    
 }
 
/* Drop Down List */
 #topnav li ul {
	list-style: none;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	top: 39px; 
	left: 0;
	margin: 0; 
	padding: 10px;
	text-align: left; 
	width: 190px;
	-webkit-box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .18);   
	box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .18);
	background: #fff; 
	padding: 6px; 
	z-index: 700;
 }
 #topnav ul ul li,
 #topnav ul ul li:hover ,
 #topnav ul ul li a,
 #topnav ul ul li a:hover { 
	list-style: none; 
	float: none; 
	font-size: 1em;
	font-weight: normal;
	height:auto;
	margin:0;
	padding:0;
	border: 0;
	line-height: 24px;
	text-transform: none;
	color: #000;
 }
	 



/* buttons / Fields
   ========================================================================== */
#search {
	padding-left: 4px;
	background: url(../NewImages/search-icon.png) no-repeat 4px center;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000;
}
input[type=text] {
	/*float:left;*/
    height: 20px;
	background-color:#FFF !important; 
	margin-right: 0px;
	padding-right: 0px;
	border: 1px solid #e4e4e4;
	padding: 3px;
}

input[type=text].lefttextbox 
{
    float:left;
}


input[type=text].searchtextbox {
	padding-left: 4px;
	background: url(../NewImages/search-icon.png) no-repeat 4px center;
}


input[type=submit] {
    height: 26px;
	padding: 0px 12px 2px 12px;
	color: #fff;
}
.green 
{
    color:#fff;
    height: 26px;
	padding: 0px 12px 2px 12px;
	background: url(../NewImages/green-btn-bg.jpg) repeat-x center;
	border: 1px solid #8aa621;
	min-width:100px;
	white-space:nowrap;
}

.green:hover
{
    background: #426c28;
}

a.button 
{
	color: #fff;
	text-decoration:none;
}

a.green 
{
    color:#fff;
	padding: 2.65px 12px 5px 12px;
	background: url(../NewImages/green-btn-bg.jpg) repeat-x center;
	border: 1px solid #8aa621;
	min-width:100px;
}

a.green:hover
{
	opacity:0.8;
	filter:alpha(opacity=80);
	text-decoration:none;
	background: #426c28;
}

.red 
{
    color:White;
	padding: 4px 12px 4px 12px;
	background: url(../NewImages/red-btn-bg.jpg) repeat-x center;
	border: 1px solid #bb2407;
}


.leftgreen 
{
    float:left;
	background: url(../NewImages/green-btn-bg.jpg) repeat-x center;
	border: 1px solid #8aa621;
}

input[type=submit].red {
	float:left;
	background: url(../NewImages/red-btn-bg.jpg) repeat-x center;
    height: 26px;
	border: 1px solid #bb2407;
	padding: 0px 12px 2px 12px;
	color: #fff;
}
input[type=submit].black {
	float:left;
	background: url(../NewImages/grey-btn-bg.jpg) repeat-x center;
    height: 26px;
	border: 1px solid #535351;
	padding: 0px 12px 2px 12px;
	color: #fff;
}
input[type=submit]:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}


/* Page Selection
   ========================================================================== */
#page-selection {
	padding-top: 7px;
	padding-left: 12px;
}
#page-selection ul {
	list-style-type:none;
}
#page-selection li {
	float: left;
	padding-right: 8px;
}
#page-selection input {
	width: 25px;
}
#page-selection p {
	margin-top: 3px;
}
#page-selection img {
	margin-top: 7px;
}

.FeeStructureTotalRow
{
    border-top-style:dashed; font-weight:bold; border-top-width:2px; border-bottom-width:2px; background-color:Green  !important; 
}
.pagination td
{
    border-bottom:none; !important;
}

/* upload file
   ========================================================================== */
   .form input[type="file"]{
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
  left:0;
  }
 .add-photo-btn{
   position:relative;
   overflow:hidden;
   cursor:pointer;
   text-align:center;
	background: url(../NewImages/green-btn-bg.jpg) repeat-x center;
   color:#fff;
   display:block;
	border: 1px solid #8aa621;
	padding: 0px 12px 0px 12px;
	line-height: 22px;
	color: #fff;
   height:24px;
   float:left;
 }
 
 .nowrapTd
 {
     white-space:nowrap;
     text-align:right;
 }

/* upload file 2
   ========================================================================== */
 

.file_input_div {
	position: relative; 
	width:80px; 
	height:26px; 
	/*overflow: hidden; */
	white-space:nowrap;
	}

.file_input_button {
	width: 80px; 
	/*position:absolute;*/
	top:0px; 
	border: 1px solid #535351;
	background: url(../NewImages/grey-btn-bg.jpg) repeat-x center;
	padding:0px 12px 2px 12px; 
	color: #fff;
	height:24px; 
	margin:0px; 
	margin-right:5px; 
}

.file_input_button_hover{
	width:80px;
	position:absolute;
	top:0px; 
	border:1px solid #0A246A; 
	background-color:#B2BBD0;
	padding:0px 12px 2px 12px; 
	height:24px; 
	margin:0px; 
	font-weight:bold; 
	margin-right:5px;
	}

.file_input_hidden {
	font-size:45px;
	position:absolute;
	/*right:0px;*/
	top:0px;
	cursor:pointer; 
	opacity:0; 
	filter:alpha(opacity=0); 
	-ms-filter:"alpha(opacity=0)"; 
	-khtml-opacity:0; 
	-moz-opacity:0; }

.file_input_textbox
{
}

/* upload file 3
   ========================================================================== */

.page-arrow 
{
    padding-top:4px;
}

#yourBtn{
   position: relative;
   width: 55px;
	padding:4px 12px 3px 12px; 
	border: 1px solid #535351;
   text-align: center;
	background: url(../NewImages/grey-btn-bg.jpg) repeat-x center;
	color: #fff;
	font-size:12px;
   cursor:pointer;
  }
  
#main {
	background-color: #e8e8e8;
}
#pageheading {
	background-color: #f3f1f1;
	height: 1%;
    overflow: hidden; 
    margin-bottom:5px;
  }
#pageheading h1 {
	float:left;
	padding: 12px 12px 12px 12px;
  }
#pageheading .searchbar {
	float:right;
	padding: 12px 12px 12px 12px;
  }
  
  .pageheading {
	background-color: #f3f1f1;
	height: 1%;
    overflow: hidden; 
    margin-bottom:5px;
  }
.pageheading h1 {
	float:left;
	padding: 12px 12px 12px 12px;
  }
.pageheading .searchbar {
	float:right;
	padding: 12px 12px 12px 12px;
  }
  
#breadcrumb {
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}
  
#page-footer{
	margin-top: 15px;
	background-color: #f3f1f1;
	height:41px;
}
#table-footer {
	margin-top: 15px;
	height:26px;
}
  
  
.MainContent {
	display: block;
	clear:both;
	margin-top: 20px;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 1%; 
    overflow: hidden;
    min-height:630px;
}

.MainContentNoHidden {
	display: block;
	clear:both;
	margin-top: 20px;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 1%; 
    
    min-height:630px;
}


footer p {
	text-align:center;
	margin-top: 25px;
	margin-bottom: 25px;
}


table tr.table-header {
	background-color: #f3f1f1;
	height: 30px;
}
.table-header td{
	border-bottom: none;
}

.tableHover tr {
	height: 38px;
	border-bottom: none;
}

.tableHover td {
	vertical-align:middle;
	
}

.tableHover tr:hover td{
	background-color: #eefbbe;
	
}

tableHover2 tr {
	height: 38px;
	border-bottom: none;
}

.tableHover2 td {
	vertical-align:middle;
	
}

.tableHover2 tr:hover td{
	background-color: #eefbbe;
	cursor:auto;
}


table tr {
	height: 38px;
	border-bottom: none;
}

table td {
	vertical-align:middle;
}

.tdCenter 
{
    text-align:center;
}

.tdRight 
{
    text-align:right;
}

.first-column {
	padding-left: 12px;
}
.contact-details img {
	padding-left: 5px;
	vertical-align: -2px;
}
.doc-icon {
	vertical-align:middle;
	margin-left: 55px;
}

.doc-icon1 {
	width: 30px;
	vertical-align:middle;
	margin-left: 44px;
}

/* ==========================================================================
   Forms
   ========================================================================== */
  
 .form_wrapper { 
	float: left;
	clear: both;
	width: 910px;
	/*margin: 0 0 15px 0;  */
 }
 .form_wrapper .form_col { 
	float: left;
	width: 460px;  
 }
 .form_wrapper .form_col.first-child { 
	margin: 0 10px 0 0;  
 }

 .form_wrapper .row { 
	float: left;
	width: 100%;
	clear: both;
	/*margin: 0 0 10px 0;*/
	position: relative; 
 }
 
 .form_wrapper .text { 
	float: left;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 15px;
	font-family: Arial, sans-serif;  
 }
 .form_wrapper .text.inputBlur { color: #000; }
 .form_wrapper .datepicker.inputBlur { color: #666; }
 .form_wrapper .text.time { width: 30px; }
 .form_wrapper .text.datepicker { background: #fff url('../img/date.gif') 190px 4px no-repeat; }
 .form_wrapper .timemid { 
	float: left;
	margin: 0 5px;
	line-height: 26px;
	font-weight: bold;  
 }
 .form_wrapper .label { 
	float: left;
	font-family: century gothic, arial;
	width: 200px;
	font-size: 14px;
	line-height: 22px;
	color:Black;
 }
 .form_wrapper select,
 .form_wrapper .select { 
	float: left;
	width: 212px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 4px 5px;
	margin: 0;
	font-size: 15px;
 }
 .form_wrapper select.am_pm,
 .form_wrapper .select.am_pm { 
	width: 60px;
	margin: 0 5px;
	padding: 4px 4px\9;
	position: relative;
	color: #666;  
 }
 
 .label { 
	width: 200px;
	font-size: 14px;
	line-height: 22px;
	color:Black;
 }


/* ============== Case Details Menu   ================ */

.case-sections {
	margin-top: 10px;
	margin-bottom: 40px;
}
table.case-sections {
    table-layout: fixed;
    /*width: 100%; When we enable this, and when we have only 1 or 2 menus, it looks bad expanded */
}

table.case-sections td{
    overflow: hidden;
    width: 120px;
}
 
td.section-no {
	height: 60px;
	vertical-align:middle;
	text-align:center;
}
td.section-no-on {
	height: 60px;
	vertical-align:middle;
	text-align:center;
}
td.section-no-on h2{
	color: #fff;
}
.section-no-on {
	background: url(../NewImages/circle-green.png) no-repeat center;
}
.section-no {
	background: url(../NewImages/circle-grey.png) no-repeat center;
}
.table-bg {
	background-color: #f3f1f1;
	height: 65px;

}
.table-bg td{
	text-align: center;
	vertical-align:middle;
}
.active-section {
	background:url(../NewImages/Section-bg.jpg) repeat-x;
	text-decoration:none;
	border: 1px solid #8aa621;
}
.active-section p {
	color: #fff;
}

td.section-bg {
	height: 60px;
	vertical-align:middle;
	text-align:center;
	background-color: #f3f1f1;
}

.Info1 {
	float: left;
	display:block;
}
.Info2 {
	float: right;
	margin-right: 50px;
	display:block;
}
.Info3 {
	float: right;
	display:block;
}
.CaseInfo {
	display:block;
	clear:both;
	margin:0px 12px 12px 12px;
	padding-top:5px;
	border-top: 1px #d7d7d7 dashed;
	overflow:hidden;
}

/* End of Case Details Menu */

th {
	background-color: #f3f1f1;
	height: 30px;
	font-family: century gothic, arial;
	font-size: 14px;
	color: #7d7d7d;
	font-weight: bold;
	text-align:left;
	vertical-align:middle;
	padding: 0 12px 0 12px;
}
td{
	font-family: century gothic, arial;
	font-size: 13px;
	color: #7d7d7d;
	background-color: #fff;
	padding: 0 12px 0 12px;
}

.casetable tr {
	height: 38px;
	border-bottom: none; 
}

.casetable td {
	vertical-align:middle;
	border-bottom: 1px dashed #d7d7d7;
}
.firstcolumn {
	padding-left: 12px;
}
.contactdetails img {
	padding-left: 5px;
	vertical-align: -2px;
}

.DF_RequiredField
{
    color:Red;
}

/* Notifications 
   ========================================================================== */



.notifications {
	margin-top: 6px;
	float: right;
	position: relative;
}
.NotifiIcon {
	display:inline;
	width: 25px;
	margin-right: 5px;
}
.NotifiIcon td {
	padding-top: 10px;
	margin-right: -3px;
}
.notificationcount {
	vertical-align:top;
	border-radius: 2px 2px 2px 2px;
	background-color: #F03D25;
	padding: 0px 3px 0px 3px;
	float:right;
}
.countvalue {
	color:#FFF;
	font-size: 11px;
	font-weight: bold;
}

.selectNew {
   width: 192px;
   height:27px;
    padding:4px;
    margin: 0;
    background: #fff;
    color: #000;
    border: 1px solid #e4e4e4;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .selectNew {padding-right:18px}
}

.labelAction {position:relative; float:right; padding-top:12px;}
.labelAction:after {
    content: url(../NewImages/action-dropdown.png);
    /*ontent: url(dropdown-arrow.png); */
    right:10px; top:0px;
    width:20px; height:25px;
    position:absolute;
    pointer-events:none;
    padding-top:12px;
}
.labelAction:before {
    content: url(../NewImages/action-dropdown.png) no-repeat;
    /*content: url(dropdown-arrow.png) no-repeat; */
    right:10px; top:0px;
    width:20px; height:25px;
    
    position:absolute;
    pointer-events:none;
    display:block;
    padding-top:12px;
}

.labelNonAction {position:relative; float:right; padding-top:12px;}
.labelNonAction:after {
    content: url(../NewImages/dropdown-arrow.png);
    /*ontent: url(dropdown-arrow.png); */
    right:10px; top:0px;
    width:20px; height:25px;
    position:absolute;
    pointer-events:none;
    padding-top:12px;
}
.labelNonAction:before {
    content: url(../NewImages/dropdown-arrow.png) no-repeat;
    /*content: url(dropdown-arrow.png) no-repeat; */
    right:10px; top:0px;
    width:20px; height:25px;
    
    position:absolute;
    pointer-events:none;
    display:block;
    padding-top:12px;
}

.popupNew {
    border: 1px solid #999999;
    padding:15px;
    width: 290px;
    background-color:#fff;
}
.popupNew img {
    border: 0; 
    margin: -35px 0 0 -41px;
    float: left; 
    position: absolute;
}
                   
.popupNew h1 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    
}
.popupNew p {
    font-size: 12px;
    
}

/* Popups
   ========================================================================== */
.Popup{
background: #fff; clear: both; height: 1%; overflow: hidden; margin-bottom:12px;padding: 10px; }


.Section2{
margin-bottom:0;}

/* buttons / Fields
   ========================================================================== */
.tooltipNew {
        cursor: help; text-decoration: none;
        position: relative;
        text-align: left;
}
.tooltipNew .span {
        margin-left: -999em;
        position: absolute;
}
.tooltipNew:hover .span {
        font-family: century gothic, arial;
        position: absolute; left: 2.5em; top: 2em; 
        margin-left: 20px; width: 250px;
        margin-top:-10px;
        z-index:3;
}
              
.custom { padding: 0.8em 0.8em 0.8em 3em; }
* html a:hover { background:opaque; }

/* notifications for client id 
   ========================================================================== */

.notifications1 h2{
	float:left;
	margin-left: 56px;
	margin-top: -2px;
}
.notificationcount2 {
	margin-top: -10px;
	border-radius: 2px 2px 2px 2px;
	background-color: #F03D25;
	padding: 0px 3px 0px 3px;
}
.notify {
	margin-top: -15px;
	margin-left:6px;
	float:left;
}
.countvalue2 {
	color:#FFF;
	font-size: 11px;
	font-weight: bold;
}

.imgclass
{
    width:20px;
    height:20px;
    vertical-align:middle;
}

/* Client Home Page
   ========================================================================== */
.client-content {
	padding: 20px 12px 12px 12px;
}
.clients-dashboard {
	margin-top: 50px;
	margin-bottom: 70px;
	margin-left: 10px;
}
.clients-dashboard img {
	float:left;
	padding-top: 5px;
	margin-right: -4px;
}

.clients-dashboard p {
	margin-top: 8px;
	margin-left: 5px;
	float:left;
}
.case-icon {
	width: 40px;
}
.clients-dashboard a {
	margin-top: 8px;
	margin-left: 5px;
	font-weight: normal;
	float:left;
}
.clients-dashboard ul {
	clear:both;
	list-style-type:none;
}
.clients-dashboard li {
	float: left;
	margin-bottom: 10px;
	display:inline;
}
.cases {
	float:left;
	clear:both;
	margin-bottom: 10px;
}
.notificationcount1 {
	vertical-align:top;
	border-radius: 2px 2px 2px 2px;
	background-color: #F03D25;
	padding: 0px 3px 0px 3px;
}
.countvalue1 {
	color:#FFF;
	font-size: 11px;
	font-weight: bold;
}

/* From Old CSS */

.labelRed {
	font-family: century gothic, arial;
	font-size: 13px;
	color: #ef2c06;
	font-weight: bold;
 }
 .labelGreen {
	font-family: century gothic, arial;
	font-size: 13px;
	color: #b5d633;
	font-weight: bold;
 }

.greyedOut
   {
       color:Grey;
   }
   
   .greyedOutText
   {
       color:Grey;
       clear: both;
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px;
	font-weight: 400;
	font-size: 15px;
	width: 300px; 
   }

/* End of Old CSS */
