@using Ext.Net;
@using Ext.Net.MVC;


@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/SafeMoveScheme/Views/Public/_PublicLayout.cshtml";
}



@section publicBody
  {

    @(
 Html.X().Container()
    .Items(
            Html.X().Container()
                     .Cls("text-bg content")
                     .Items(
                                 
                Html.X().Image()
                .Frame(false)
                        
                        .ImageUrl((@Url.Content("~/Content/resources/images/sms/buying-property-img.jpg"))),
                        
                 Html.X().Container()
                              .Html("<p>Looking for a safe, easy property to buy</p>")
                        ),



       Html.X().Container()
                                            .Layout(LayoutType.Column)
                                                    .Items
                                                    (
                        Html.X().Container()
                        .ColumnWidth(0.75)
                        .Padding(10)
                                .Html("<h2>Buying a Property</h2><p>Look out for properties carrying the Safe Move Scheme kite mark. The transaction is likely to be quicker and easier because:</p></span><span><ul><li><p>The property legals have been checked by independent lawyers and are ready for sale</p></li><li><p>Many of the mortgage lender checks have been performed and approved</p></li></ul>"),

                        Html.X().Container()
                        .ColumnWidth(0.25)
                        .Cls("testimonial")
                                        .Html("<p>“As a warehouse-man who works nights, it was fantastic to use the simple online system at my convenience. It was my best moving experience by far and I would recommend it to my friends and family.”</p><p><b>Mr Farley</b></p>")

                        )




)

    )
    }







@*@(
 Html.X().Panel()
    .Frame(false)
       .X(200)
       .Y(175)
       .Width(1000)
       .Height(700)
       .Layout(LayoutType.Absolute)

   .Items(

        Html.X().Panel().Items
        (

                    Html.X().Panel()
                    .Html("<h1> <span>Buying a Property</span></h1>")
                    ,
                    Html.X().Panel()
                                .Html("<span><p>Look out for properties carrying the Safe Move Scheme kite mark. The transaction is likely to be quicker and easier because:</p></span><span><ul><li><p>The property legals have been checked by independent lawyers and are ready for sale</p></li><li><p>Many of the mortgage lender checks have been performed and approved</p></li></ul></span><br/></br>")

                    ).X(10)
                    .Y(300)
                    .Width(600)
                       ,

               Html.X().Image().ImageUrl("~/Content/resources/images/sms/buying-property-img.jpg")
                                    .Html("<p>Looking for a safe, easy property to buy</p>"),


                                    Html.X().Panel()
       .Frame(false)
           .Layout(LayoutType.HBox)


                   .Width(300)
                   .Height(300)
                   .X(700)
                   .Y(330)

       .DockedItems(
                                    Html.X().Panel().Html("<span><p>“As a warehouse-man who works nights, it was fantastic to use the simple online system at my convenience. It was my best moving experience by far and I would recommend it to my friends and family.”</p></span>")
                        .Width(200)

                        ,

                        Html.X().Panel().Html("<span><p><b>Mr Farley</b></p></span>")

                )
         )
)*@