@using Ext.Net;
@using Ext.Net.MVC;

@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/SafeMoveScheme/Views/Public/_PublicLayout.cshtml";
}

@section publicBody
  {

@(

 Html.X().Container()
                    .Items(

                    Html.X().Container()
                             .Cls("text-bg content")
                             .MarginSpec("30 10 10 0")
                               .Items(

                   Html.X().Image()
                    .Frame(false)

                                    .ImageUrl((@Url.Content("~/Content/resources/images/sms/Estate-agents-img.jpg"))),

                                    Html.X().Container()
                                            .Html("<p>Safe Move Estate Agents sell supersonic properties that move quickly because they are so attractive to buyers</p>")


                                    )
                                    ,





                      Html.X().Container()
     .Layout(LayoutType.Column)
                                             .Items
                                             (
                                                  Html.X().Container()
                                                                    .ColumnWidth(0.20)
                                                                    .ItemsFromPartial("TrustedProfessionalLinks"),
                            Html.X().Container()
                                      .MarginSpec("3 5 10 0")
                                      .ColumnWidth(0.55)
                                                .Html("<p>Safe Move Estate Agents give your property ‘buyer appeal’ as they can:</p><ul><li>Get your legal work signed off by Safe Move Lawyers so your buyer knows it is safe to buy</li><li>Promote your property using exclusive marketing products exclusively available to Safe Move Estate Agents</li></ul>"),

                            Html.X().Container()
                                    .ColumnWidth(0.25)
                                    .Cls("testimonial")
                                                .Html("<p>“As a warehouse-man who works nights, it was fantastic to use the simple online system at my convenience. It was my best moving experience by far and I would recommend it to my friends and family.”</p><p><b>Mr Farley</b></p>")

                            )


)
)

}



