@using Ext.Net;
@using Ext.Net.MVC;


@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/SafeMoveScheme/Views/Public/_PublicLayout.cshtml";
}

@section publicBody
  {


@(

 Html.X().Container()
                    .Items(

                    Html.X().Container()
                             .Cls("text-bg content")
                             .MarginSpec("30 10 10 0")
                             .Items(

                   Html.X().Image()
                    .Frame(false)
                                        .Html("<p>Safe Move Lawyers use the latest in legal technology to make your transaction safe, quick and easy</p>")

                                        .ImageUrl((@Url.Content("~/Content/resources/images/sms/laywers-public-img.jpg"))),

                                        Html.X().Container()
                                                .Html("<p>Safe Move Lawyers use the latest in legal technology to make your transaction safe, quick and easy</p>")

                                        )
                                    ,





                      Html.X().Container()
                                    .Layout(LayoutType.Column)
                                                 .Items
                                                 (
                                                      Html.X().Container()
                                                                    .ColumnWidth(0.20)
                                                                    .ItemsFromPartial("TrustedProfessionalLinks"),
                            Html.X().Container()
                                    .ColumnWidth(0.55)
                                    .MarginSpec("3 5 10 0")
                                                    .Html("<p>Safe Move Lawyer status is not granted lightly. We ensure consumers get a noticeably better service from lawyers bearing the kite mark. Using barely any paper, the Safe Move Scheme brings property transactions up to date. You can send your lawyer information via your PC, mobile phone or iPad if you want to which means no waiting for letters to and from lawyers in the post. Your Safe Move Lawyer will get your property transaction in tip top shape for a faster and more convenient transaction that you have more control over.</p>"),

                            Html.X().Container()
                                    .ColumnWidth(0.25)
                                    .Cls("testimonial")
                            .Html("<p>“We looked at 4 agents and decided on 2-move after their explanation of how 2-move Conveyancing works as part of the Safe Move Scheme and how easy it would make the moving process.”</p><p><b>Mr Kidney</b></p>")

                            )


)
)

    }