@using Ext.Net;
@using Ext.Net.MVC;


@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/SafeMoveScheme/Views/Public/_PublicLayout.cshtml";
}

@section publicBody
  {
@(

 Html.X().Container()
                    .Items(

                    Html.X().Container()
                             .Cls("text-bg content")
                             .MarginSpec("30 10 10 0")
                             .Items(

                   Html.X().Image()
                    .Frame(false)
                                            .Html("<p>We work with Safe Move Lenders to make buying your home easier and save you money through new mortgage products</p>")

                                            .ImageUrl("~/Content/resources/images/sms/mortgage-lenders-img.jpg"),

                                            Html.X().Container()
                                                        .Html("<p>We work with Safe Move Lenders to make buying your home easier and save you money through new mortgage products</p>")

                                            )
                                    ,





                      Html.X().Container()
      .Layout(LayoutType.Column)
                                                 .Items
                                                 (
                                                    Html.X().Container()
                                                                    .ColumnWidth(0.20)
                                                                    .ItemsFromPartial("TrustedProfessionalLinks"), 
                                                 
                                                 Html.X().Container()
                                                            .ColumnWidth(0.55)
                                                            .MarginSpec("3 5 10 0")
                                                            .Items(

                                                            Html.X().Container()
                                    .Html("<p>One lender we are working with commented:</p><p>“At Santander, we are supporting the Safe Move Scheme as we aim to simplify the process of purchasing a house in England and Wales. Through our partnership with the Safe Move Scheme, we are looking to provide a simplistic and more certain house buying experience for our customers which saves them time, money and stress. We are delighted to be working with Safe Move Estate Agents and Safe Move Mortgage Advisors via the Safe Move Scheme as it provides a more secure and efficient lending process for Santander.” </p><p><b>Tracey Carr, Financial Crime Manager – Santander</b></p>"),

                                    Html.X().Image().ImageUrl("~/Content/resources/images/sms/santander-logo.jpg")
                                    .Width(80)
                                    .Height(30)

                                    ),


                                      Html.X().Container()
                                            .ColumnWidth(0.25)
                                            .Cls("testimonial")
                                            .Items
                                            (


                            Html.X().Container()

                                                        .Html("<p>“As a warehouse-man who works nights, it was fantastic to use the simple online system at my convenience. It was my best moving experience by far and I would recommend it to my friends and family.”</p><p><b>Mr Farley</b></p>")


)
                            )


)
)

}



