@font-face {
  font-family: 'SmsFont';
  src: url('/content/fonts/sms-font.eot?qn622l');
  src: url('/content/fonts/sms-font.eot?qn622l#iefix') format('embedded-opentype'), url('/content/fonts/sms-font.ttf?qn622l') format('truetype'), url('/content/fonts/sms-font.woff?qn622l') format('woff'), url('/content/fonts/sms-font.svg?qn622l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="sms-"],
[class*=" sms-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SmsFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sms-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.sms-fw {
  width: 1.28571429em;
  text-align: center;
}
.sms-safe-send:before {
  content: "\e900";
}
.color-primary {
  color: #a1c324;
}
.bg-color-primary {
  background-color: #a1c324;
}
.bg-color-transparent {
  background: transparent !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
/* SmartForm Bootstrap Validation */
#extr-page h4.paragraph-header {
  width: auto;
}
#extr-page .smart-form .alert li,
#content .smart-form .alert li {
  margin-left: 14px;
  list-style: none;
}
#extr-page .smart-form .alert li:before,
#content .smart-form .alert li:before {
  content: "\f071";
  font-family: FontAwesome;
  position: absolute;
  left: 25px;
}
#extr-page .smart-form div + fieldset,
#content .smart-form div + fieldset {
  padding-top: 15px;
}
#extr-page .smart-form footer .btn,
#content .smart-form footer .btn {
  font-size: 1em;
}
#header {
  background-image: none !important;
  background-color: #fbfbfb !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
#header #logo-group #activity .badge {
  background: #a1c324;
}
#header #logo-group #activity.active .badge {
  background: #8fad20 !important;
}
#header #logo-group #activity img {
  margin-bottom: 6px;
}
#header #logo-group .ajax-dropdown {
  width: 430px;
  height: 400px;
  padding-top: 0;
  border-top: 0;
}
#header #logo-group .ajax-dropdown:before,
#header #logo-group .ajax-dropdown:after {
  left: 40%;
}
#header #logo-group .active + .ajax-dropdown {
  -moz-animation-name: none;
  -o-animation-name: none;
  -webkit-animation-name: none;
  animation-name: none;
}
#header #logo-group span#activity {
  color: #7d7d7d;
}
#header #logo-group #logo {
  margin-top: 0;
  width: 175px;
}
#header #logo-group #logo img {
  width: 106px !important;
  height: 38px !important;
  margin-top: 6px !important;
  margin-left: 16px !important;
}
#extr-page #header #logo {
  margin-top: 10px !important;
  margin-left: 40px !important;
}
#extr-page #header #logo img {
  width: 118px !important;
  height: 42px !important;
  margin-left: 16px !important;
  margin-top: 7px !important;
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  #logo-group {
    width: inherit !important;
  }
}
@media only screen and (min-width: 980px) {
  .menu-toggle {
    display: none;
  }
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-menu {
  z-index: 2004 !important;
}
.twitter-typeahead .tt-suggestion,
.twitter-typeahead .empty-message {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}
.twitter-typeahead input::-ms-clear {
  display: none;
}
.icon-append + .twitter-typeahead input {
  padding-right: 37px;
}
.typeahead-spinner {
  position: absolute;
  z-index: 2003;
  color: #7b7b7b;
  width: 10px;
  right: 24px;
  top: 7px;
  display: none;
}
.typeahead-spinner.required-field {
  right: 38px;
}
.search-form input.invalid,
.smart-form input.invalid,
form input.invalid {
  border: 1px solid #a90329;
  background-color: #fff0f0;
}
.search-form em.invalid,
.smart-form em.invalid,
form em.invalid {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #d56161;
}
.smart-form fieldset + fieldset {
  border-top: none !important;
}
.dl-horizontal dt {
  width: 175px;
}
.dl-horizontal dd {
  margin-left: 195px;
}
.header-btn-text {
  font-size: 14px !important;
  font-weight: normal;
  line-height: 13px !important;
  margin-left: 6px;
  margin-right: 6px;
}
.modal-dialog .modal-body {
  padding-top: 15px;
  padding-bottom: 20px;
}
.btn {
  box-shadow: none;
}
.btn-primary {
  background-color: #a1c324;
  border: 1px solid #a1c324;
}
.btn-primary:hover {
  border: 1px solid #a1c324;
  background-color: #8fad20;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  border: 1px solid #a1c324 !important;
  background-color: #a8cc26 !important;
}
.btn-primary[disabled] {
  background-color: #a1c324 !important;
  border-color: #7d981c !important;
}
.open > .dropdown-toggle.btn-primary {
  border: 1px solid #a1c324 !important;
  background-color: #a8cc26 !important;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #badb3f;
}
.nav-tabs > li.active > a {
  -webkit-box-shadow: 0 -2px 0 #a1c324;
  -moz-box-shadow: 0 -2px 0 #a1c324;
  box-shadow: 0 -2px 0 #a1c324;
}
.nav-tabs > li > a > .sms {
  opacity: .5;
}
.nav-tabs > li.active > a > .sms {
  opacity: 1;
}
.smart-form .checkbox input + i {
  border-color: #bdbdbd !important;
}
.smart-form .checkbox input + i:after {
  color: #a1c324;
}
.smart-form .toggle input:checked + i {
  border-color: #a1c324;
}
.smart-form .toggle input + input[type=hidden] + i:before {
  background-color: #ccc;
}
.smart-form .toggle input:checked + input[type=hidden] + i:before {
  background-color: #a1c324;
}
.smart-form .checkbox:hover i,
.smart-form .input:hover input,
.smart-form .radio:hover i,
.smart-form .select:hover select,
.smart-form .textarea:hover textarea,
.smart-form .toggle:hover i {
  border-color: #a1c324;
}
.smart-form .checkbox input:focus + i,
.smart-form .input input:focus,
.smart-form .radio input:focus + i,
.smart-form .select select:focus,
.smart-form .textarea textarea:focus,
.smart-form .toggle input:focus + i {
  border-color: #a1c324;
}
.nav-pills li a {
  color: #5a6d14;
}
.nav-pills li.active a {
  background-color: #a1c324;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:active,
.nav-pills li.active a:focus,
.nav-pills li.active a:visited {
  background-color: #a1c324;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  color: #a1c324;
  cursor: pointer;
}
.ui-datepicker td .ui-state-hover {
  background: #a1c324;
}
.btn-header > :first-child > a {
  cursor: pointer !important;
}
.icon-append,
.icon-prepend {
  z-index: 200;
}
#userMenu {
  color: #7d7d7d;
  padding: 2px 12px;
  font-size: 1.5em;
}
#userMenu + .dropdown-menu li a {
  padding: 8px 18px;
}
#logout a {
  font-size: 1.05em;
}
.menu-toggle a {
  color: #7d7d7d;
  font-size: 16px;
  display: inline-block;
}
.validation-summary-errors ul li {
  list-style: none;
}
.delete-entry {
  display: inline-block;
  color: #a90329;
  margin-top: 7px;
  cursor: pointer;
}
.delete-src-of-funds-entry {
  display: inline-block;
  color: #a90329;
  margin-top: 7px;
  cursor: pointer;
}
.add-next-bank-account {
  cursor: pointer;
}
.red-bg {
  background-color: #fad4d4;
}
.view-messages-container {
  position: relative;
}
.view-messages-container .conversations-container .conversations-header {
  margin-top: 5px;
}
.view-messages-container .conversations-container .conversations-list {
  list-style-type: none;
  padding: 0;
}
.view-messages-container .conversations-container .conversations-list .conversation-item {
  border-top: 1px solid #ddd;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
}
.view-messages-container .conversations-container .conversations-list .conversation-item:hover {
  background-color: #eee;
}
.view-messages-container .conversations-container .conversations-list .conversation-item.unread {
  background-color: #f4f4f4;
  border-left: 5px solid #a1c324;
  padding-left: 10px;
}
.view-messages-container .conversations-container .conversations-list .conversation-item.unread .conversation-subject {
  font-weight: bold;
}
.view-messages-container .conversations-container .conversations-list .conversation-item.active {
  background-color: #e8f3c0;
}
.view-messages-container .conversations-container .conversations-list .conversation-item .conversation-subject {
  font-size: 1.0em;
  margin-bottom: 5px;
  margin-right: 120px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.view-messages-container .conversations-container .conversations-list .conversation-item .conversation-message {
  font-size: 0.9em;
}
.view-messages-container .conversations-container .conversations-list .conversation-item .date {
  color: #777;
  font-size: 0.9em;
  text-align: right;
  width: 120px;
  position: absolute;
  right: 10px;
  top: 0;
}
.view-messages-container .messages-container {
  box-shadow: #f5f5f5 -7px 0 20px;
}
.view-messages-container .messages-container #conversationSubject {
  margin-bottom: 10px;
  margin-top: 5px;
}
.view-messages-container .messages-container .messages-list .scrollable {
  max-height: 450px;
  padding-right: 20px;
  overflow-y: scroll;
  box-shadow: inset #dddddd -4px 0 6px;
}
.view-messages-container .messages-container .messages-list .scrollable .message-item {
  border-top: 1px solid #ddd;
}
.view-messages-container .messages-container .messages-list .thumbnail {
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}
.view-messages-container .messages-container .messages-list .message-item {
  padding: 10px;
  padding-left: 15px;
}
.view-messages-container .messages-container .messages-list .message-item.unread {
  border-left: 5px solid #a1c324;
  padding-left: 10px;
}
.view-messages-container .messages-container .messages-list .message-item .message-heading {
  font-size: 0.9em;
}
.view-messages-container .messages-container .messages-list .message-item .usertype {
  font-size: smaller;
  text-align: center;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.view-messages-container .messages-container .messages-list .message-item pre {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background: transparent;
  border: none;
  padding: 3px 0;
  margin: 0;
  white-space: pre-wrap;
  -ms-word-break: normal;
  word-break: normal;
  overflow: hidden;
}
.view-messages-container .messages-container .messages-list .message-item .read-status {
  font-size: 0.8em;
}
.view-messages-container .messages-container .messages-list .message-item .smart-form fieldset {
  padding: 0;
  padding-right: 10px;
  background: none;
}
.view-messages-container .messages-container .messages-list .message-item .smart-form fieldset label.label {
  font-weight: bold;
}
.view-messages-container .messages-container .messages-list .message-item .smart-form fieldset #replyMessageTextArea {
  height: 32px;
  min-height: 32px;
}
.view-messages-container .messages-container .messages-list .message-item .smart-form #replyButton {
  padding: 6px;
}
.view-messages-container .messages-container .new-conversation-form footer {
  border-top: none;
  background: none;
  padding-top: 0;
}
.view-messages-container .messages-container .new-conversation-form fieldset {
  background: none;
}
.view-messages-container .messages-container .new-conversation-form fieldset #newConversationMessage {
  height: 32px;
  min-height: 80px;
}
.view-messages-container .messages-container .new-conversation-form fieldset .form-control {
  min-height: 34px;
}
.view-messages-container .messages-container .new-conversation-form fieldset .icon-append {
  top: 6px;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi {
  border: 1px solid #bdbdbd;
  height: auto;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi.invalid {
  border: none;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi.invalid .select2-choices {
  border: 1px solid #a90329;
  background-color: #fff0f0;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi .select2-choices {
  border: none;
  padding-right: 35px;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi .select2-choices .select2-search-choice {
  line-height: 20px;
  border: 1px solid #a1c324;
  background-color: #a1c324;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi .select2-choices .select2-input {
  margin: 0;
}
.view-messages-container .messages-container .new-conversation-form .select2-container-multi .select2-choices .select2-search-choice-close {
  min-width: 18px;
  padding: 3px 0 0 5px;
}
.select2-drop-active {
  border: 1px solid #bdbdbd;
}
.select2-drop-active .select2-results .select2-highlighted {
  background: #a1c324;
  color: #fff;
}
.buyer-transactions .tab-content {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 1px #eee;
}
.buyer-transactions dt {
  margin-bottom: 2px;
}
.buyer-transactions dd {
  margin-bottom: 10px;
}
.buyer-transactions dd#personalBankAccountsTable {
  margin-top: 5px;
}
.buyer-transactions dd p {
  margin: 0;
}
.buyer-transaction-list p {
  margin: 0;
}
.transaction-icon {
  color: #636363;
}
.hidden {
  display: none;
  width: 0;
}
.dropzone {
  margin-top: 8px !important;
  min-height: 100px;
}
.dropzone .dz-default.dz-message {
  margin: 40px 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 18px !important;
  text-align: center;
}
.dropzone .dz-remove {
  background-image: none !important;
  background-color: #a1c324 !important;
  border-color: #a1c324 !important;
  cursor: pointer !important;
}
.dropzone .dz-remove:hover {
  background-color: #8fad20 !important;
}
a.attachment {
  margin-right: 12px;
}
a.removeupload {
  cursor: pointer;
}
.notification-body {
  padding-left: 0;
}
.notes pre {
  -ms-word-break: normal;
  word-break: normal;
  white-space: pre-wrap;
}
.transaction-details-table > tbody > tr:first-child th {
  border-top: none;
}
.transaction-details-table > tbody > tr:hover > td {
  background-color: #e8f3c0;
}
.transaction-details-table > tbody > tr > td:last-child {
  width: 75px;
}
.transaction-details-table ul li {
  margin: 5px 0;
}
.transaction-details-table ul li:first-child {
  margin-top: 0;
}
.buyer-details-table {
  width: 100%;
}
.buyer-details-table tbody tr td {
  padding-top: 6px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.buyer-details-table tbody tr td:first-child {
  width: 150px;
}
.match {
  color: #7d981c;
}
.match-bg {
  background-color: #a1c324 !important;
  color: #fff;
}
.table tr.match-bg td {
  background-color: #a1c324 !important;
  color: #fff !important;
}
.no-match-bg {
  color: #fff;
  background-color: #c26565 !important;
  text-shadow: none;
}
.table tr.no-match-bg td {
  color: #fff;
  background-color: #c26565 !important;
  text-shadow: none;
}
.error {
  color: red;
}
.btn-header-search {
  padding: 6px 12px 6px 12px;
}
.clear-search-icon {
  cursor: pointer;
  display: none;
}
.badge {
  padding: 2px 3px 3px;
  font-size: 10px;
}
.alert-info,
.alert-warning {
  color: #444;
  border-width: 1px;
  border-left-width: 5px;
  padding: 20px 25px;
  background-color: inherit;
}
.alert-info {
  border-color: #6eb0df;
}
.alert-warning {
  border-color: #dfb56c;
}
.accept {
  color: #24bb43;
}
.reject {
  color: #a90329;
}
.pending-update {
  color: #6eb0df;
  font-weight: bold;
  cursor: pointer;
}
.empty-pending-value {
  text-decoration: line-through;
}
.tooltip > .tooltip-inner {
  background-color: #333;
  color: white;
}
.popover .pending-update-table td {
  padding: 2px;
  border: none;
}
.popover .pending-update-table tr > td:last-child {
  width: 100%;
}
.popover .pending-update-table .pending-no-value {
  color: #aaa;
}
.transaction-details {
  position: relative;
}
.transaction-details h5 {
  margin-left: 9px;
}
.transaction-details .transaction-details-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #FBFBFB;
  opacity: 0.8;
}
.transaction-details .transaction-details-spinner .fa-spinner {
  position: relative;
  left: 50%;
  top: 30%;
}
form.smart-form.pending-update-form .pending-changes-input .pending-changes-button,
form.smart-form.pending-update-form .pending-changes-input input {
  box-shadow: 0 0 6px #2e99ff;
}
form.smart-form.pending-update-form .pending-changes-input .pending-changes-button:focus,
form.smart-form.pending-update-form .pending-changes-input input:focus {
  box-shadow: 0 0 6px #2e99ff !important;
  border-color: #2e99ff;
}
form.smart-form.pending-update-form .pending-changes-button {
  z-index: 2000;
  /* high value because of an arbitrary 1050 from modal window */
  border: none;
  color: #eee;
  -moz-border-radius: 0 9px 9px 0;
  -webkit-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;
  position: absolute;
  bottom: 6px;
  padding: 6px 3px 4px 10px;
  font-size: 0.7em;
  -moz-transition: right ease-in-out 0.1s;
  -o-transition: right ease-in-out 0.1s;
  -webkit-transition: right ease-in-out 0.1s;
  transition: right ease-in-out 0.1s;
}
form.smart-form.pending-update-form .pending-changes-button.not-actioned {
  right: -10px;
  background-color: #6eb0df;
}
form.smart-form.pending-update-form .pending-changes-button.not-actioned:hover {
  right: -14px;
}
form.smart-form.pending-update-form .pending-changes-button.actioned {
  right: -14px;
}
form.smart-form.pending-update-form .pending-changes-button.actioned.accepted {
  background-color: #a1c324;
}
form.smart-form.pending-update-form .pending-changes-button.actioned.rejected {
  background-color: #a90329;
}
form.smart-form.pending-update-form div.input .icon-append,
form.smart-form.pending-update-form div.input .icon-prepend {
  z-index: 2002;
}
form.smart-form.pending-update-form div.input input {
  position: relative;
  z-index: 2001;
  /* high value because of an arbitrary 1050 from modal window */
}
.fa-reject-fix {
  margin-right: 1px;
}
.required {
  padding: 2px 8px;
  color: #a90329;
  background-color: #fee0e7;
  border-radius: 2px;
}
input[type=radio]:checked + label.approve-reject-button {
  background-color: #6eb0df;
}
.bg-color-pending-update {
  background-color: #6eb0df;
}
.popover-close-button {
  position: absolute;
  top: 0;
  right: 4px;
  cursor: pointer;
}
.label-primary {
  background-color: #a1c324;
}
.label-danger {
  background-color: #a90329;
}
@media only screen and (max-width: 992px) {
  .view-messages-container .messages-container h3 {
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .col-xs-0 {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col-sm-0 {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
/*# sourceMappingURL=your_style.css.map */