<style>
    .helpContent {
  
    white-space: pre-wrap;

    }
</style>
<link rel="stylesheet" href="~/Content/css/hopscotch.css" />
<div class="hopscotch-bubble-container" style="width:{{step.width}}px; padding: {{step.padding}}px;">
    <span class="circle hopscotch-bubble-number">{{i18n.stepNum}}</span><h3 class="hopscotch-title">{{step.title}}</h3>
    <div class="hopscotch-bubble-content">
        <div class="hopscotch-content helpContent">{{step.content}}</div>
    </div>
    <div class="hopscotch-actions">
        {{i18n.stepNum}}/{{i18n.numSteps}}
        {{#if buttons.showPrev}}<button class="btn prev hopscotch-prev ">{{i18n.prevBtn}}</button>{{/if}}
        {{#if buttons.showCTA}}<button class="btn btn-primary next hopscotch-cta ">{{i18n.ctaLabel}}</button>{{/if}}
        {{#if buttons.showNext}}<button class="btn btn-primary next hopscotch-next ">{{i18n.nextBtn}}</button>{{/if}}
    </div>
   {{#if buttons.showClose}}<button class="hopscotch-bubble-close hopscotch-close"></button>{{/if}}
</div>
<div class="hopscotch-bubble-arrow-container hopscotch-arrow" style="display: none;">
    <div class="hopscotch-bubble-arrow-border"></div>
    <div class="hopscotch-bubble-arrow"></div>
</div>