<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        <h5>Company</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{Name}}</p></dd>
            <dt>Trading Names:</dt>
            <dd>
                {{#each TradingNamesDisplay}}
                <p>{{this}}</p>
                {{/each}}
            </dd>
        </dl>
    </div>
</div>
<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        <h5>Organisation Administrator</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{SystemAdminNameDisplay}}</p></dd>
            <dt>Email:</dt>
            <dd><p>{{OrganisationAdminEmail}}</p></dd>
        </dl>
        <h5>Other Details</h5>
        <dl class="dl-horizontal">
            <dt>Rejected On:</dt>
            <dd><p>{{StatusChangedOnDisplay}}</p></dd>
            <dt>Rejected By:</dt>
            <dd><p>{{StatusChangedBy}}</p></dd>
            <dt>Rejected Reason:</dt>
            <dd><p>{{Reason}}</p></dd>
            <dt>Rejected Notes:</dt>
            <dd><p>{{Notes}}</p></dd>
        </dl>
    </div>
</div>