# configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = Bec.TargetFramework.SB.TaskServices
quartz.scheduler.instanceId = AUTO
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz

# this section configures the scheduler to use sqlite as the jobstore
# to use the RAM store just comment all of this out
# to use the sqlite store, uncomment all of this
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.dataSource = default
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.clustered = false
quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz
quartz.dataSource.default.provider = Npgsql-20
quartz.jobStore.useProperties = true
quartz.jobStore.selectWithLockSQL = SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName
quartz.dataSource.default.connectionStringName = QuartzStore
quartz.dataSource.default.connectionString = Server=localhost;Port=5433;User Id=postgres;Password=admin;Database=TargetFrameworkCore;Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UTF8;Timeout=15;SslMode=Disable

# this section configures the scheduler to use sql server ce as the jobstore
#quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
#quartz.jobStore.dataSource = default
#quartz.dataSource.default.connectionString = Data Source=quartz.sdf;Persist Security Info=False;
#quartz.jobStore.tablePrefix = QRTZ_
#quartz.jobStore.clustered = false
#quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz
#quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
#quartz.dataSource.default.provider = SqlServerCe-351
#quartz.jobStore.useProperties = true