@model List<Bec.TargetFramework.Entities.ConversationDTO>
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Extensions
@using Bec.TargetFramework.Entities.Enums

<ul class="notification-body" id="latestConversationsList">
    @if (Model.Any())
    {
        foreach (var conversation in Model)
        {
            var icon = ((ActivityType?)conversation.ActivityType).GetFaIconClass();
            <li data-conversation-id="@conversation.ConversationID">
                <span class="padding-10 ">
                    <em class="badge padding-5 no-border-radius bg-color-primary pull-left margin-right-5">
                        <i class="fa @icon fa-fw fa-2x"></i>
                    </em>
                    <span>
                        <span class="text-muted">Subject: </span>@conversation.Subject
                        - @Html.ActionLink("Read more", "Index", "Messages", new { area = "Admin", conversationId = conversation.ConversationID }, new { @class = "display-normal" })
                        <br>
                        <span class="pull-right font-xs text-muted"><i>@Html.Timeago(conversation.Latest)...</i></span>
                    </span>
                </span>
            </li>
        }
    }
    else
    {
        <li>
            <span class="padding-10">
                <em class="badge padding-5 no-border-radius bg-color-transparent pull-left margin-right-5">
                    <i class="fa fa-smile-o fa-fw fa-2x color-primary"></i>
                </em>
                <span>
                    There are no notifications
                </span>
            </span>
        </li>
    }
</ul>
