<span id="activity" class="activity-dropdown" title="Notifications">
    <i class="sms sms-safe-send"></i>
    <b class="badge animated" id="unreadConversationsCountId">0</b>
</span>
<div class="ajax-dropdown">
    <h4>Notifications</h4>
    <div id="latestConversationsError" class="alert alert-danger" style="display:none;">Ooops... Something went wrong. Please try again later.</div>
    <div id="latestConversationsContainer" class="ajax-notifications custom-scroll" data-load-conversations-url="@Url.Action("LatestConversations", "MessagesNotifications", new { area = "Admin" })"></div>
    <span>
        @Html.ActionLink("See all Safe Send messages", "Index", "Messages", new { area = "Admin" }, new { @class = "btn btn-default pull-right" })
    </span>
</div>
<script async src="@Scripts.Url("~/Scripts/Admin/MessagesNotifications/_LatestConversationsContainer")"></script>
