<!-- Modal -->
<div id="add-company-wrapper" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true"
     data-bind="validationOptions: {
        errorElementClass: 'red-glow',
        decorateInputElement: true,
        insertMessages: false
    }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel-add-company-btn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Company</h4>
            </div>
            <div class="modal-body">
                <form class="validatable">
                    <h3>Company Details</h3>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="company-name">Company Name</label>
                                <span data-bind="css: { requiredField:  !$data.companyName.isValid() }">
                                    <input class="form-control requiredField" id="company-name" type="text"
                                           data-bind="value: $data.companyName, valueUpdate: 'afterkeydown'">
                                </span>
                            </div>

                            <div class="form-group input-collection">
                                <label for="address1">Company Address</label>

                                <div class="separated-input">
                                    <span data-bind="css: { requiredField:  !$data.companyAddress1.isValid() }">
                                        <input class="form-control" id="address1" type="text" placeholder="Address Line 1"
                                               data-bind="value: $data.companyAddress1, valueUpdate: 'afterkeydown'">
                                    </span>
                                </div>

                                <div class="separated-input">
                                    <input class="form-control" id="address2" placeholder="Address Line 2" type="text"
                                           data-bind="value: $data.companyAddress2">
                                </div>

                                <div class="separated-input">
                                    <span data-bind="css: { requiredField:  !$data.companyTownCity.isValid() }">
                                        <input class="form-control" id="town-city" placeholder="Town/City" type="text"
                                               data-bind="value: $data.companyTownCity, valueUpdate: 'afterkeydown'">
                                    </span>
                                </div>

                                <div class="separated-input">
                                    <input class="form-control" id="county" placeholder="County" type="text"
                                           data-bind="value: $data.companyCounty">
                                </div>

                                <div class="separated-input">
                                    <span data-bind="css: { requiredField:  !$data.companyPostCode.isValid() }">
                                        <input class="form-control" id="post-code" placeholder="Post Code" type="text"
                                               data-bind="value: $data.companyPostCode, valueUpdate: 'afterkeydown'">
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="additional-address-information">Additional Address Information</label>
                                <input class="form-control" id="additional-address-information" type="text"
                                       data-bind="value: $data.additionalAddressInformation">
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="regulator-dropdown">Regulator</label>
                                <span data-bind="css: { requiredField:  (!$data.companyRegulator() || $data.companyRegulator() == 'Other' && !$data.companyOtherRegulator()) }">
                                    <input id="regulator-dropdown" data-bind="kendoDropDownList: { data: $data.regulatorChoices, value: $data.companyRegulator, optionLabel: $data.regulatorOptionLabel}" />
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="regulator-other" placeholder="Enter Regulator" type="text"
                                       data-bind="value: $data.companyOtherRegulator, visible: $data.companyRegulator() == 'Other', valueUpdate: 'afterkeydown', css: { 'red-glow':  !$data.companyRegulatorGeneral() }">
                            </div>
                        </div>
                    </div>
                </form>
                <form class="validatable">
                    <h3>System Administrator Details</h3>
                    <div class="row">
                        <div class="col-md-3" id="title-dd-wrapper">
                            <div class="form-group">
                                <label for="title-dropdown">Title</label>
                                <span data-bind="css: { requiredField:  (!$data.systemAdminTitle())}">
                                    <input id="title-dropdown" 
                                           data-bind="kendoDropDownList: { data: $data.titleChoices, value: $data.systemAdminTitle, optionLabel: $data.titleOptionLabel }" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <span data-bind="css: { requiredField:  !$data.systemAdminFirstName.isValid() }">
                                    <input class="form-control" id="first-name" type="text"
                                           data-bind="value: $data.systemAdminFirstName, valueUpdate: 'afterkeydown'">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <span data-bind="css: { requiredField:  !$data.systemAdminLastName.isValid() }">
                                    <input class="form-control" id="last-name" type="text"
                                           data-bind="value: $data.systemAdminLastName, valueUpdate: 'afterkeydown'">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <span data-bind="css: { requiredField:  !$data.systemAdminEmail.isValid() }">
                                    <input class="form-control" id="email" type="text"
                                           data-bind="value: $data.systemAdminEmail, valueUpdate: 'afterkeydown'">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="telephone-no">Telephone Number</label>
                                <span data-bind="css: { requiredField:  !$data.systemAdminTel.isValid() }">
                                    <input class="form-control" id="telephone-no" type="text"
                                           data-bind="value: $data.systemAdminTel, valueUpdate: 'afterkeydown'">
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default cancel-add-company-btn">Cancel</a>
                <a class="btn btn-primary" id="save-company-btn" data-bind="click: $data.addCompany">Save</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['Company/ViewModels/AddCompanyVM'], function (AddCompanyVM) {

            var data = {};

            data.addCompanyUrl = '@Url.Action("AddCompany", "Company", new { area = String.Empty }, String.Empty)';
            data.returnUrl = '@Url.Action("ViewTemporaryCompanies", "Company", new { area = String.Empty }, String.Empty)';

            var vm = new AddCompanyVM(data);

            ko.applyBindings(vm, document.getElementById("add-company-wrapper"));

            $('.cancel-add-company-btn').click(function () {

                if ($(this).hasClass('fired') == false) {
                    bootbox.dialog({
                        message: "Are you sure you want to Cancel?",
                        buttons: {
                            danger: {
                                label: "No",
                                className: "btn-default",
                                callback: function () {
                                    return;
                                }
                            },
                            success: {
                                label: "Yes",
                                className: "btn-primary",
                                callback: function () {
                                    $('#add-company-wrapper').modal('hide');
                                }
                            }
                        }
                    });
                }

            });
        });
    });
</script>
