<connectionStrings>
    <add name="TargetFrameworkEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data/TargetFramework.csdl|res://Bec.TargetFramework.Data/TargetFramework.ssdl|res://Bec.TargetFramework.Data/TargetFramework.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=bec-dev-01;Database=TargetFramework;Persist Security Info=True;Unicode=true;Initial Schema=public&quot;"
    providerName="System.Data.EntityClient" />
  <add name="NServiceBus/Transport" connectionString="Data Source=localhost;Initial Catalog=nservicebus;user id=rdp;password=P@ssw0rd" />
  <add name="NServiceBus/Persistence" connectionString="Data Source=localhost;Initial Catalog=nservicebus;user id=rdp;password=P@ssw0rd" />
</connectionStrings>


