@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
    ViewBag.Meta = "Since 2006 BE Consultancy has been working with conveyancers and lenders providing bespoke risk solutions to help make conveyancing better for them and their customers.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Safe Move Scheme was conceived by and is operated by BE Consultancy Ltd, an independently owned and managed company in the South East of England.</p>
        <p>Since 2006 BE Consultancy has been working with conveyancers and lenders providing bespoke risk solutions to help make conveyancing better for them and their customers.</p>
        <p>Ed Powell director of BE Consultancy explains how the Safe Move Scheme came to be “In 2013 we spoke to property market stakeholders about pulling together the knowledge we have acquired over many years of working with conveyancers and lenders to provide a safer place for all property transactions. The stakeholders we are now working with include regulators and Government departments and we are really looking forward to releasing our new products, through the Safe Move Scheme, over the next few months.”</p>
        <p>Lynne Nicholson, Head of Data Products and Services at the Land Registry added <i>“HMLR is working with the Safe Move Scheme to make conveyancing transactions safer, easier and more efficient for conveyancers, lenders and the public.”</i> Lynne Nicholson, Head of Data Products and Services, Digital Services Directorate, Land Registry.</p>
    </div>
    <div class="col-md-5">
        <img src="~/Content/websiteLayout/images/Solution icon.png" alt="Solution." />
    </div>
</div>