@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Buyers at Risk";
    ViewBag.Meta = "Buyers are at risk from cybercrime as criminals are using highly sophisticated scams to steal buyer’s money.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>Buyers are at risk from cybercrime as criminals are using highly sophisticated scams to steal buyer’s money. Ask your conveyancer to protect you using the Safe Move Scheme.</p>
        <p>Click the button below to send your conveyancer an email with the information they need to protect you. Enter your conveyancers email address and your name and transaction reference in the ‘Subject’ field.</p>
        <p><a class="btn btn-primary" href="mailto:[please enter your conveyancers email address]?subject=Name:&body=The above named client has expressed their interest in using the Safe Move Scheme to reduce the risk of cybercrime affecting them during their property transaction. If your Firm is already a member of the Safe Move Scheme you will be able to login to order products.%0D%0A%0D%0AIf your Firm is new to the Safe Move Scheme you can register via our website – for security reasons please search ‘Safe Move Scheme’ via Google to find our website to avoid hackers from redirecting you to a bogus site.%0D%0A%0D%0AKind Regards%0D%0A%0D%0AThe Safe Move Scheme">Click here to contact your conveyancer</a></p>
        <p>The following are real examples of how cybercrime has devastated people’s lives through buying property:</p>
        <ul>
            <li><p>Ann, Paul and Tracey Lupton are left asking <a href="http://www.telegraph.co.uk/finance/personalfinance/borrowing/mortgages/11943552/Why-wont-regulators-act-on-my-48500-property-fraud-loss.html">Why won't regulators act on my £48,500 property fraud loss?</a> (The Telegraph)</p></li>
            <li><p>Single Mother Amanda Jackson <a href="http://www.bbc.co.uk/news/uk-northern-ireland-34506599">loses £77k to fraudsters posing as solicitors</a> (BBC News)</p></li>
            <li><p>Crime rate in England and Wales soars as <a href="http://www.theguardian.com/uk-news/2015/oct/15/rate-in-england-and-wales-soars-as-cybercrime-included-for-first-time">cybercrime is included for first time</a> (The Guardian)</p></li>
            <li><p>Buyer Nick Christofi and family lost their £735,000 purchase money to a <a href="http://www.dailymail.co.uk/property/article-1305436/How-bogus-solicitors-robbed-735-000-Family-lose-fortune-dream-home-scam.html">bogus solicitor scam</a> (Daily Mail)</p></li>
            <li><p>Kate Blakeley and her partner Marco Faes lost their £300,000 purchase money to <a href="http://www.telegraph.co.uk/finance/personalfinance/borrowing/mortgages/11715616/Our-300000-house-buying-money-was-stolen.html">another bogus solicitor scam</a> (The Telegraph)</p></li>
            <li><p>Another buyer lost their £200,000 mortgage to a <a href="http://www.mirror.co.uk/news/uk-news/beware-bogus-law-firms-fake-4080766">bogus law firm</a> (Mirror)</p></li>
            <li><p>Single mother Vivian Gabb faces financial ruin after <a href="http://www.dailymail.co.uk/femail/article-3128084/Single-mother-faces-financial-ruin-losing-life-savings-50-000-internet-scammers-pretending-solicitor.html">losing life savings of £50,000</a> (Daily Mail)</p></li>
            <li><p>Huge jump in reports of <a href="https://www.lovemoney.com/news/45739/fake-solicitor-scam-epidemic">fraudsters posing as solicitors</a> (LoveMoney.com)</p></li>
            <li><p>Solicitors Regulation Authority warns of increasing cases of buyers being scammed by <a href="http://www.sra.org.uk/consumers/scam-alerts/2015/Sep/false-bank-account-risk.page">bogus law firms</a> claiming to be the genuine firm the buyer instructed</p></li>
            <li><p><a href="http://www.sra.org.uk/consumers/scam-alerts/scam-alerts.page">Solicitors Regulation Authority Scam Alerts</a> – up to date reports of latest frauds</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <a href="http://www.bbc.co.uk/news/uk-33257129">
            <img class="large-img" src="~/Content/websiteLayout/images/BBC Video - Mrs Gabb.png" alt="Mrs Gabb - victim of cybercrime." />
        </a>
        <p><a href="http://www.bbc.co.uk/news/uk-33257129">Click here</a> to hear Mrs Gabb explain in a BBC interview how she lost £50,000 from cybercrime</p>
    </div>
</div>