@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Us";
    ViewBag.Meta = "Get in touch with BE Consultancy Ltd.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12 contact">
        <p class="email"><a href="mailto:enquiries@safemovescheme.co.uk">enquiries@safemovescheme.co.uk</a> / <a href="mailto:complaints@beconsultancy.co.uk">complaints@beconsultancy.co.uk</a></p>
        <p class="map">BE Consultancy Ltd, Marlesfield House, 114-116 Main Road, Sidcup, Kent, DA14 6NG</p>
        <p class="globe"><a href="http://www.beconsultancy.co.uk">www.beconsultancy.co.uk</a></p>
    </div>
</div>
