@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conveyancing Firm Registration";
    ViewBag.Meta = "Register your conveyancing firm for the Safe Move Scheme here.";
}
<h2>@ViewBag.Title.</h2>

<p>How to Register:</p>

<br />

<div class="row reg">
    <div class="col-md-2 col-md-offset-1">
        <img src="~/Content/websiteLayout/images/icon-www.png" alt="Submit details and download security PDF" />
        <br />
        <p class="post-arrow">Submit your Firm's details and download security PDF</p>
    </div>
    <div class="col-md-2">
        <img src="~/Content/websiteLayout/images/icon-mag.png" alt="We will validate your details" />
        <br />
        <p class="post-arrow">We will validate your details and ask you to login online</p>
    </div>
    <div class="col-md-2">
        <img src="~/Content/websiteLayout/images/icon-login.png" alt="Login and create an account" />
        <br />
        <p class="post-arrow">Login and create an account</p>
    </div>
    <div class="col-md-2">
        <img src="~/Content/websiteLayout/images/Bank Icon - green.png" alt="Submit bank account details for validation" />
        <br />
        <p class="post-arrow">Submit your bank details for validation</p>
    </div>
    <div class="col-md-2">
        <img src="~/Content/websiteLayout/images/icon-tick.png" alt="Login and use the Safe Move Scheme" />
        <br />
        <p>Login and use the Safe Move Scheme</p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <p class="pull-right">@Html.ActionLink("Click to Register", "Index", "RegisterAdmin", new { Area = "Account" }, new { @class = "btn btn-primary" })</p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <p class="pull-right">Download the <a download="SMS Pre-Registration - Next Steps.pdf" href="~/Content/websiteLayout/SMS - Next Steps After Registration.pdf">SMS - Next Steps After Registration</a>.</p>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="alert alert-danger"><strong>Important security note: </strong>When you are notified to login please browse to <strong>https://safemovescheme.co.uk</strong> in your web browser. To avoid hackers from redirecting your users and clients to a bogus site, please place your SMS membership logo on your website with a link to <strong>https://safemovescheme.co.uk</strong>. Refer to the SMS Next Steps after registration document for further guidance. Never email us sensitive data as emails are not safe – we will never email you links to our website, login details or sensitive data.</p>
    </div>
</div>