@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conveyancers At Risk";
    ViewBag.Meta = "Conveyancers are at risk from the threats of cybercrime and new anti money laundering regulations targeting the legal sector and specifically conveyancing.";
}
<h2>@ViewBag.Title.</h2>
<div class="row margin-bottom-15">
    <div class="col-md-7">
        <p>Conveyancers are at risk from the threats of cybercrime and new anti money laundering regulations targeting the legal sector and specifically conveyancing. The Safe Move Scheme provides new cutting edge solutions to these problems:</p>
        <ul>
            <li><p>Cyber criminals have caused <a href="http://www.legalfutures.co.uk/latest-news/cyber-criminals-caused-substantial-losses-to-50-law-firms-this-year-sra-says">“substantial losses” to 50 law firms this year, ranging from £50,000 to £2m</a>, the Solicitors Regulation Authority (SRA) has said (Legal Futures)</p></li>
            <li><p>A solicitor has told the BBC that being tricked into transferring £750,000 of client money to criminals has left her bankrupt and her life in ruins. The same devastating outcome can occur from online cybercrime. <a href="http://www.bbc.co.uk/news/business-34425717">Full story</a> and <a href="http://www.bbc.co.uk/programmes/b06f4vqf#play">audio interview</a></p></li>
            <li><p>Solicitors Regulation Authority warns of increasing cases of buyers being scammed by bogus law firms <a href="http://www.sra.org.uk/consumers/scam-alerts/2015/Sep/false-bank-account-risk.page">claiming to be the genuine firm the buyer instructed</a></p></li>
            <li><p>SRA warns firms could be <a href="http://www.lawgazette.co.uk/law/sra-warns-firms-could-be-liable-for-imposters/5044860.fullarticle">liable for imposters</a></p></li>
            <li><p>Solicitors Regulation Authority <a href="http://www.lawsociety.org.uk/support-services/advice/practice-notes/protecting-your-firm-if-you-fall-victim-to-a-scam/">'Protecting your firm if you fall victim to a scam'</a></p></li>
            <li><p><a href="http://www.telegraph.co.uk/finance/personalfinance/borrowing/mortgages/11632304/Email-hacking-another-home-seller-robbed-of-270000.html">The telegraph reported</a> that the Solicitors Regulation Authority said member firms are responsible for safeguarding client funds, and had to replace any money that is “improperly withheld or withdrawn from a client account</p></li>
            <li><p>Solicitors Regulation Authority Scam Alerts – <a href="http://www.sra.org.uk/consumers/scam-alerts/scam-alerts.page">up to date reports of latest frauds</a></p></li>
            <li><p>How Do You Know That Your Client Really Owns The Bank Account You Send Funds To or Receive Funds From? An EU anti-fraud task force last year flagged up law firms as <a href="http://www.ft.com/cms/s/0/0edb6ed4-3521-11e4-a2c2-00144feabdc0.html#axzz3l3mzCVt7">vulnerable conduits for the proceeds of crime</a></p></li>
            <li><p>Financial Action Task Force Report <a href="http://www.fatf-gafi.org/media/fatf/documents/reports/ML%20and%20TF%20vulnerabilities%20legal%20professionals.pdf">'Money Laundering and Terrorist Financing Vulnerabilities of Legal Professionals'</a></p></li>
            <li><p>Firms <a href="http://www.lawgazette.co.uk/practice/firms-under-scrutiny-over-anti-money-laundering/5050310.fullarticle">under scrutiny</a> over anti-money laundering</p></li>            
        </ul>
        <p>It has never been a more dangerous time to buy or sell a property as criminals are targeting property transactions to steal large amounts of money from buyers and lenders. The Financial Fraud Action UK (FFA), the body which co-ordinates the financial industry's response to cyber crime, reported that UK financial fraud losses rose 6% to £325m in the first six months of 2015. The cost of these threats are catastrophic financial loss that can be life changing for the buyers and sellers.</p>
        <p>Conveyancers are responsible for preventing cybercrime and, as we have seen recently with some well-established firms, they risk being put out of business by losing their professional indemnity insurance if they make a large claim.</p>
    </div>
    <div class="col-md-5">
        <video src="~/Content/websiteLayout/video/video1.mp4" controls="controls" poster="~/Content/websiteLayout/video/video1.jpg" />
    </div>
</div>
