@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Introduction";
    ViewBag.Meta = "The Safe Move Scheme enables you and your conveyancer to carry out checks that reduce the likelihood of fraud occurring and protect you from financial loss.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>It has never been a more dangerous time to buy a property as criminals are targeting property transactions to steal large amounts of money from buyers. The Financial Fraud Action UK (FFA), the body which co-ordinates the financial industry's response to cyber-crime, reported that UK financial fraud losses rose 6% to £325m in the first six months of 2015. The cost of these threats are catastrophic financial loss that can be life changing for the buyers and sellers.</p>
        <p>The Safe Move Scheme enables you and your conveyancer to carry out checks that reduce the likelihood of fraud occurring and protect you from financial loss.</p>
        <p>The Safe Move Scheme detects when unauthorised conveyancing firms/bogus firms are involved in your transactions.</p>
        <p>Ask your conveyancer to protect you using the Safe Move Scheme. Click the button below to send your conveyancer an email with the information they need to protect you. Enter your conveyancers email address and your name and transaction reference in the ‘Subject’ field.</p>
        <p><a class="btn btn-primary" href="mailto:[please enter your conveyancers email address]?subject=Name:&body=The above named client has expressed their interest in using the Safe Move Scheme to reduce the risk of cybercrime affecting them during their property transaction. If your Firm is already a member of the Safe Move Scheme you will be able to login to order products.%0D%0A%0D%0AIf your Firm is new to the Safe Move Scheme you can register via our website – for security reasons please search ‘Safe Move Scheme’ via Google to find our website to avoid hackers from redirecting you to a bogus site.%0D%0A%0D%0AKind Regards%0D%0A%0D%0AThe Safe Move Scheme">Click here to contact your conveyancer</a></p>
    </div>
    <div class="col-md-5">
        <a href="http://www.bbc.co.uk/news/uk-33257129">
            <img class="large-img" src="~/Content/websiteLayout/images/BBC Video - Mrs Gabb.png" alt="Mrs Gabb - victim of cybercrime." />
        </a>
        <p><a href="http://www.bbc.co.uk/news/uk-33257129">Click here</a> to hear Mrs Gabb explain how she lost £50,000 from cybercrime</p>
    </div>
</div>

