@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "How The SMS Helps Conveyancing Firms";
    ViewBag.Meta = "";
}
<div class="row">
    <div class="col-md-12">
        <h2>Customer Payment Fraud is Costing Property Buyers Over a Million Pounds a Month.</h2>
        <h3>The Safe Move Scheme Can Help Conveyancing Firms in 5 Ways by Preventing:</h3>
        <ol>
            <li><p>A potential financial loss if the buyer claims against the firm</p></li>
            <li><p>An increase to professional indemnity insurance policy premium or cover declined</p></li>
            <li><p>Removal from a lender’s panel</p></li>
            <li><p>Reputational damage caused by high profile reporting of a case study</p></li>
            <li><p>Action by the conveyancing regulator</p></li>
        </ol>
        <p>The Safe Move Scheme’s preventative measures are covered in more detail later…</p>
        <h3>Customer Payment Fraud Explained</h3>
        <p>Fraudsters approach buyers via email, letter or phone call impersonating their conveyancer. The fraudster arranges for the buyer to transfer their deposit money to a bank account controlled by the fraudster and the buyer loses their money. This fraud leaves a buyer with a significant loss and potentially a failed completion to resolve.</p>
        <p>These impersonations are virtually impossible to detect as fraudsters are collecting enough sensitive information before they approach the buyer, which tricks them into trusting the fraudster.</p>
        <p>The money flow through a property transaction where there is <strong>NO</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow1.jpg" />
        <p>The money flow through a property transaction where there <strong>IS</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow2.jpg" />
        <h3>Don’t Confuse ‘Customer Payment Fraud’ With ‘Bogus Conveyancing Firm Fraud’</h3>
        <p>A common mistake is to confuse Customer Payment Fraud with Bogus Conveyancing Firm Fraud, for which many firms have adapted their fraud prevention strategies by using products like ‘Lawyer Checker’ and Lender Exchange’s ‘Vendor’s Law Firm Search’.</p>
        <p>The money flow through a property transaction where there is Conveyancing Firm Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow3.jpg" />
        <h3>A Significant Threat to Conveyancers and Their Clients</h3>
        <p>The City of London Police figures show a dramatic escalation since the first case recorded that can be identified as affecting the conveyance market in July 2013. These figures show that the period between July 2013 and July 2014 saw an average of 1 case reported every 2 months, however in September 2015 (the last month in the latest data set) there were 9 reported cases, representing an 1800% increase. The average loss from buyer deposit redirection fraud is £112,310 and the total losses add up to £10,220,275 from 91 reported cases.</p>
        <p><strong>DCI Jason Tunn, Head of the Metropolitan Police Cyber Crime Unit</strong> commented <em>"The MPS (Metropolitan Police Service) welcomes private industry highlighting crime figures that specifically affect the mortgage and conveyancing market place, which have been contained within ‘mandate fraud’ figures until now. These figures demonstrate a rising crime trend that all stake holders should be made aware of and will assist the public with realising that they may be duped into sending their hard saved money for property deposits to criminals rather than the solicitors. Developing strategies and products with industry stakeholders to prevent these crimes occurring is the way forward, and the MPS Falcon teams are responding to these threats in order to prevent and detect offences"</em></p>
        <h3>So How Does The Safe Move Scheme Work?</h3>
        <p>The Safe Move Scheme provides property buyers with a secure mechanism for checking bank account details before transferring money to their conveyancing firm. This bank account check facility forms part of the Safe Buyer product provided by the Safe Move Scheme and it helps protect clients from customer payment fraud.</p>
        <h3>Preventative Measures in More Detail</h3>
        <ol>
            <li>
                <p><strong>Potential Financial Loss If The Buyer Claims Against The Firm</strong></p>
                <p>We sought the independent expert opinion of a well-qualified professional to comment on whether not using a tool like the Safe Move Scheme may affect a conveyancing firm in regards S61 relief.</p>
                <p>Gordons Solicitors:</p>
                <p><em>“I can see that this would be welcomed in the industry by all practitioners and lenders. As for whether this would be an answer to the S61 Trustee Act relief point, my view is that it would be a good example of good practice if it were used widely and was in effect endorsed by practitioners as a tool that is used in order to reduce risk. If it can be established that this was a good tool to use (by lenders), and is used on a broad scale within the profession, then it will strengthen the argument that by adopting it you (lawyers) were acting in accordance with best practice, and so if there were any unfortunate incidents that occurred you would be able to show that you had taken reasonable steps to protect the lender client. That in turn would put you in a better position should you have to seek the relief under S61 of the Act.”</em>&nbsp;&nbsp;<strong>Matthew Howarth</strong> - Partner and Head of Gordons’ Commercial Litigation Department</p>
                <p>Matthew’s view is reinforced by the conclusion of the high court who in the Lloyds TSB versus Markandan case stated:</p>
                <p><em>“Trustees therefore need to continue to ensure that their decisions will stand up to scrutiny and fall to be classed as reasonable because, even where a third party fraud is concerned, their actions still need to be justifiable in accordance with section 61 principles. Whether this means following the terms set out in the relevant handbook, guidelines or practice note, taking legal or investment advice where required or just using common sense, trustees should make sure that they act with care and efficiency at all stages of administration of a trust.”</em></p>
                <p>The following statement from Paragon Mortgages establishes the Safe Move Scheme as a ‘good tool’ to help prevent this type of fraud which contributes to the formation of best practice:</p>
                <p><em>“Paragon has assessed available tools that help reduce the risk to our customers and we now require all our panel conveyancing firms to register with the Safe Move Scheme and use the Safe Buyer product which allows our customers, before they transfer money to their conveyancing firm, to verify the bank account details that they have received are genuine. This will significantly reduce the risk of our customers sending money to a bogus conveyancing firm. Our customers are at the heart of everything we do and we are committed to protecting them against this type of crime. We have already asked our panel of conveyancers to register with the Safe Move Scheme so our customers can use the bank validation service. We're also pleased to announce that we will be funding the cost of Safe Buyer so all our customers can check their conveyancing firm’s bank account details at no cost to them.”</em></p>
            </li>
            <li>
                <p><strong>Increase to Professional Indemnity Insurance Policy Premium or Cover Declined</strong></p>
                <p>The Safe Move Scheme is working with PI providers who value the risk management benefits in reducing PI claims. We are looking forward to helping Safe Move Scheme firms get better PI renewal quotes.</p>
            </li>
            <li>
                <p><strong>Removal From a Lender’s Panel</strong></p>
                <p>By using the Safe Move Scheme to help protect mortgage lender’s customers from fraud we believe conveyancing firms are less likely to be removed from a lender’s panel on the grounds of not providing satisfactory fraud protection to their customers.</p>
            </li>
            <li>
                <p><strong>Reputational Damage</strong></p>
                <p>By using the Safe Move Scheme to help protect your customers from fraud we believe conveyancing firms are less likely to suffer the reputational damage caused by one of their clients losing money to customer payment fraud.</p>
            </li>
            <li>
                <p><strong>Action by The Conveyancing Regulator</strong></p>
                <p>By using the Safe Move Scheme to help protect your customers from fraud we believe conveyancing firms are less likely to be criticised by a regulator on the grounds of not providing satisfactory fraud protection to their customers.</p>
            </li>
        </ol>
        <h3>Summary</h3>
        <p>Conveyancers cannot prevent criminals impersonating them and targeting their clients, but they can advise their customers to use the Safe Buyer product to help protect them – it is then down to the client to either accept that advice or proceed at their own risk.</p>
        <br />
        <hr />
        <br />
        <p><strong>Important Note:</strong> The content of this document represent the views of BE Consultancy only.</p>
        <br />
    </div>
</div>