@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "How the SMS Helps Lenders";
    ViewBag.Meta = "";
}
<div class="row">
    <div class="col-md-12">
        <h2>Customer Payment Fraud is Costing Property Buyers Over a Million Pounds a Month.</h2>
        <h3>The Safe Move Scheme can help lenders in 2 ways, by preventing:</h3>
        <ol>
            <li><p>Enforcement action by the Financial Conduct Authority</p></li>
            <li><p>Reputational damage caused by high profile reporting of a case study The Safe Move Scheme’s preventative measures are covered in more detail later……</p></li>
        </ol>
        <h3>Customer Payment Fraud Explained</h3>
        <p>Fraudsters approach buyers via email, letter or phone call impersonating their conveyancer. The fraudster arranges for the buyer to transfer their deposit money to a bank account controlled by the fraudster and the buyer loses their money. This fraud leaves a buyer with a significant loss and potentially a failed completion to resolve.</p>
        <p>These impersonations are virtually impossible to detect as fraudsters are collecting enough sensitive information before they approach the buyer, which tricks them into trusting the fraudster.</p>
        <p>The money flow through a property transaction where there is <strong>NO</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow1.jpg" />
        <p>The money flow through a property transaction where there <strong>IS</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow2.jpg" />

        <h3>Don’t Confuse ‘Customer Payment Fraud’ With ‘Bogus Conveyancing Firm Fraud’</h3>
        <p>A common mistake is to confuse Customer Payment Fraud with Bogus Conveyancing Firm Fraud, for which many firms have adapted their fraud prevention strategies by using products like ‘Lawyer Checker’ and Lender Exchange’s ‘Vendor’s Law Firm Search’.</p>
        <p>The money flow through a property transaction where there is Conveyancing Firm Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow3.jpg" />

        <h3>A Significant Threat to Customers</h3>
        <p>The City of London Police figures show a dramatic escalation since the first case recorded that can be identified as affecting the conveyance market in July 2013. These figures show that the period between July 2013 and July 2014 saw an average of 1 case reported every 2 months, however in September 2015 (the last month in the latest data set) there were 9 reported cases, representing an 1800% increase. The average loss from buyer deposit redirection fraud is £112,310 and the total losses add up to £10,220,275 from 91 reported cases.</p>
        <p><strong>DCI Jason Tunn, Head of the Metropolitan Police Cyber Crime Unit</strong> commented <em>"The MPS (Metropolitan Police Service) welcomes private industry highlighting crime figures that specifically affect the mortgage and conveyancing market place, which have been contained within ‘mandate fraud’ figures until now. These figures demonstrate a rising crime trend that all stake holders should be made aware of and will assist the public with realising that they may be duped into sending their hard saved money for property deposits to criminals rather than the solicitors. Developing strategies and products with industry stakeholders to prevent these crimes occurring is the way forward, and the MPS Falcon teams are responding to these threats in order to prevent and detect offences"</em></p>

        <h3>So How Does The Safe Move Scheme Work?</h3>
        <p>The Safe Move Scheme provides property buyers with a secure mechanism for checking bank account details before transferring money to their conveyancing firm. This bank account check facility forms part of the Safe Buyer product provided by the Safe Move Scheme and it helps protect clients from customer payment fraud.</p>
        <h3>Preventative Measures in More Detail</h3>
        <ol>
            <li>
                <p><strong>Enforcement Action by The Financial Conduct Authority</strong></p>
                <p>By using the Safe Move Scheme to help protect customers from fraud we believe lenders are less likely to be criticised by their regulator on the grounds of not providing adequate systems and controls to prevent fraud.</p>
            </li>
            <li>
                <p><strong>Reputational Damage</strong></p>
                <p>By using the Safe Move Scheme to help protect customers from fraud we believe lenders are less likely to suffer the reputational damage caused by one of their clients losing money to customer payment fraud.</p>
            </li>
        </ol>
        <h3>How does a lender use the Safe Move Scheme?</h3>
        <p>A simple statement issued to a lender’s conveyancing panel, such as the example below from Paragon, is all you need to do. The Safe Move Scheme provides a fully searchable audit, by mortgage application number, to ensure lender’s clients receive the advice they require.</p>
        <p>“Paragon has assessed available tools that help reduce the risk to our customers and we now require all our panel conveyancing firms to register with the Safe Move Scheme and use the Safe Buyer product which allows our customers, before they transfer money to their conveyancing firm, to verify the bank account details that they have received are genuine. This will significantly reduce the risk of our customers sending money to a bogus conveyancing firm. Our customers are at the heart of everything we do and we are committed to protecting them against this type of crime. We have already asked our panel of conveyancers to register with the Safe Move Scheme so our customers can use the bank validation service. We're also pleased to announce that we will be funding the cost of Safe Buyer so all our customers can check their conveyancing firm’s bank account details at no cost to them.”</p>
        <p>Lenders are provided with logins to the Safe Move Scheme to view audit data and transaction fraud alerts.</p>

        <h3>Summary</h3>
        <p>Lenders cannot prevent criminals impersonating their panel conveyancers and targeting their clients, but they can ensure that their customers are advised to use tools like the Safe Buyer product to help protect them – it is then down to the client to either accept that advice or proceed at their own risk.</p>
        <br />
        <hr />
        <br />
        <p><strong>Important Note:</strong> The content of this document represents the views of BE Consultancy only.</p>
        <br />
    </div>
</div>