@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "How To Keep Consumers Safe";
    ViewBag.Meta = "";
}
<div class="row margin-bottom-15">
    <div class="col-md-12">
        <h2>Customer Payment Fraud is Costing Property Buyers Over a Million Pounds a Month.</h2>
        <h3>How to Keep Consumers Safe</h3>
        <p>It is impossible to prevent criminals impersonating conveyancers and targeting their clients through a variety of methods (not limited to email), however there are tools available such as the Safe Move Scheme that help consumers to check bank account details before they send money.</p>
        <h3>Customer Payment Fraud Explained</h3>
        <p>Fraudsters approach buyers via email, letter or phone call impersonating their conveyancer. The fraudster arranges for the buyer to transfer their deposit money to a bank account controlled by the fraudster and the buyer loses their money. This fraud leaves a buyer with a significant loss and potentially a failed completion to resolve.</p>
        <p>These impersonations are virtually impossible to detect as fraudsters are collecting enough sensitive information before they approach the buyer, which tricks them into trusting the fraudster.</p>
        <p>The money flow through a property transaction where there is <strong>NO</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow1.jpg" />
        <p>The money flow through a property transaction where there <strong>IS</strong> Customer Payment Fraud looks like this…</p>
        <img class="drop-shadow" src="~/Content/websiteLayout/images/flow2.jpg" />
        <h3>A Significant Threat to Conveyancers and Their Clients</h3>
        <p>The City of London Police figures show a dramatic escalation since the first case recorded that can be identified as affecting the conveyance market in July 2013. These figures show that the period between July 2013 and July 2014 saw an average of 1 case reported every 2 months, however in September 2015 (the last month in the latest data set) there were 9 reported cases, representing an 1800% increase. The average loss from buyer deposit redirection fraud is £112,310 and the total losses add up to £10,220,275 from 91 reported cases.</p>
        <p><strong>DCI Jason Tunn, Head of the Metropolitan Police Cyber Crime Unit</strong> commented <em>"The MPS (Metropolitan Police Service) welcomes private industry highlighting crime figures that specifically affect the mortgage and conveyancing market place, which have been contained within ‘mandate fraud’ figures until now. These figures demonstrate a rising crime trend that all stake holders should be made aware of and will assist the public with realising that they may be duped into sending their hard saved money for property deposits to criminals rather than the solicitors. Developing strategies and products with industry stakeholders to prevent these crimes occurring is the way forward, and the MPS Falcon teams are responding to these threats in order to prevent and detect offences"</em></p>

        <h3>Is email encryption the answer?</h3>
        <p>No. Whilst email encryption is a good idea it must be applied in an appropriate scenario. Email encryption involves the sender scrambling the digital content of an email and the recipient using a decryption code to unscramble the content so it returns to its pre-encrypted state. In a conveyancing scenario the conveyancer would need to obtain an encryption code from the client so the conveyancer can send encrypted messages that the client can decrypt. Another code must be kept securely by the client, as anyone with this code can decrypt the conveyancer’s messages.</p>
        <p>The issues for consumers are:</p>
        <ol>
            <li>
                <p>The crimes are usually committed by criminals using a similar but not exact match to the conveyancer’s email address. These emails are spoofs and trick the client in to thinking that they have receive a genuine email from their conveyancer – encryption has no benefit and offers no protection to phishing emails.</p>
            </li>
            <li>
                <p>Personal computers are at a high risk of being infected by malicious code which steals decryption code as personal computers have a large surface area for cyber attacks.</p>
            </li>
            <li>
                <p>The client has to install and use encryption software which may be troublesome for some users.</p>
            </li>
            <li>
                <p>The client may not be able to use handheld devices to send and receive encrypted messages.</p>
            </li>
            <li>
                <p>The client may not be able to use other computers to send and receive encrypted messages, such as work machines.</p>
            </li>
            <li>
                <p>Installing a decryption code on multiple machines increases the surface area for cyber attacks.</p>
            </li>
        </ol>

        <h3>What is needed to prevent buyer deposit redirection fraud?</h3>
        <p>What is actually needed to prevent Buyer Deposit Redirection Fraud and other types of property transaction crime is a multi-faceted approach involving:</p>
        <ol>
            <li>
                <p>A control system that provides specific tools to mitigate risk from each type of property transaction crime, like the Safe Move Scheme. To take Buyer Deposit Redirection Fraud as an example the Safe Move Scheme provides a tool for clients to enter the conveyancer’s bank account details for independent validation before they send the money. The Safe Move Scheme provides other tools for other specific risks.</p>
            </li>
            <li>
                <p>A secure messaging and file transfer system that doesn’t use email and is easy to use, like the one built in to the Safe Move Scheme.</p>
            </li>
            <li>
                <p>Professionals who use a data security policy that mitigates the risk of sensitive data being leaked unintentionally.</p>
            </li>
        </ol>

        <h3>So how does the Safe Move Scheme work?</h3>
        <p>The Safe Move Scheme provides property buyers with a secure online portal for checking bank account details before transferring money to their conveyancing firm. This bank account check facility forms part of the Safe Buyer product provided by the Safe Move Scheme and it helps protect clients from customer payment fraud.</p>
        <br />
        <hr />
        <br />
        <p><strong>Important Note:</strong> The content of this document represents the views of BE Consultancy only.</p>
        <br />
    </div>
</div>