@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
    ViewBag.Meta = "The Safe Move Scheme makes it easier to reduce risk from property transactions and helps prevent fraud.";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the<br /><span class="highlight">Safe Move</span> <span class="lowlight">Scheme</span></h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-7">
        <p>It has never been a more dangerous time to buy a property as criminals are targeting property transactions to steal large amounts of money from buyers.</p>
        <p>The Safe Move Scheme makes it easier to reduce risk from property transactions and helps prevent fraud.</p>
        <p>Professionals feel supported.</p>
        <p>Customers feel safer.</p>
        <br />
        <p><strong><a href="@Url.Action("FreeTrial", "Home")">** Free Unlimited Safe Buyer Products Until 31st Jan 2016 **</a></strong></p>
        <p><strong><a href="@Url.Action("FreeTrial", "Home")">** Free Annual Membership to the Safe Move Scheme For Conveyancing Firms **</a></strong></p>
    </div>
    <div class="col-md-5">
        <video src="~/Content/websiteLayout/video/video1.mp4" controls="controls" poster="~/Content/websiteLayout/video/video1.jpg" />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-xs-4 ">
        <a href="https://www.cml.org.uk/home/"><img style="float:right;" class="small-img" src="~/Content/websiteLayout/images/cml-logo.jpg" alt="Safe Move Scheme - CML Associate" title="Safe Move Scheme - CML Associate" /></a>
    </div>
    <div class="col-xs-4">
        <a href="http://www.experian.co.uk/"><img class="small-img" src="~/Content/websiteLayout/images/experian-logo.JPG" alt="Safe Move Scheme - Experian" title="Safe Move Scheme - Experian" /></a>
    </div>
    <div class="col-xs-4">
        <a href="https://www.gov.uk/government/organisations/land-registry"><img style="float:left;" class="small-img" src="~/Content/websiteLayout/images/Land-Registry-logo.jpg" alt="Safe Move Scheme - Land Registry" title="Safe Move Scheme - Land Registry" /></a>
    </div>
</div>