@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Safe Buyer Product";
    ViewBag.Meta = "Check bank account details securely. Protect Additional buyers and giftors. Comply with the latest AML regulations.";
}
<h2>@ViewBag.Title.</h2>
<div class="row margin-bottom-15">
    <div class="col-md-7">
        <h3>How It Works</h3>
        <p>The Safe Buyer product reduces the risk of criminals stealing the money that a buyer puts towards the price of their property purchase. Protecting buyers, lenders and conveyancers…</p>
        <p>Buyers receive a secure login to the Safe Move Scheme from their conveyancer so the buyer can check the bank account details match those on the Safe Move Scheme Safe List. This means if criminals have intercepted communications between the conveyancer and buyer the bogus bank account details will not match the authentic details on the Safe List.</p>

        <h3>Safe Buyer Specification</h3>
        <ul>
            <li><p>The buyer can check that the bank account details provided by his/her conveyancer belong to that conveyancing firm - so the buyer can transfer money with low risk.</p></li>
            <li><p>Additional buyers and giftors' (people gifting deposits to the buyer/s) can also check that the bank account details provided by his/her conveyancer belong to that conveyancing firm - so the additional buyer/s or giftors' can transfer money with low risk.</p></li>
            <li><p>Comply with the latest AML regulations by proving that you know who owns the bank account that deposit money has come from.</p></li>
        </ul>

        <h3>Safe Move Scheme Benefits</h3>
        <ul>
            <li><p>The Safe Move Scheme gives lenders and conveyancers a customer outcomes control system to meet FCA and SRA anti-fraud requirements</p></li>
            <li><p>How do you know where incoming funds transferred to your client account really come from? Who owns these bank accounts? The SMS provides a full validated money flow audit trail for new AML regulations</p></li>
            <li><p>The SMS detects when unauthorised conveyancing firms/bogus firms are involved in your transactions</p></li>
            <li><p>Lender integration available</p></li>
            <li><p>Stringently built and maintained to the highest data security standards</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/Content/websiteLayout/images/Protection icon.png" alt="Protection." />
    </div>
</div>
