@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tutorials";
    ViewBag.Meta = "Watch instructional videos for buyers and professional users.";
}
<h2>@ViewBag.Title.</h2>

<h3 class="page-header">Professional Users</h3>
<div class="row">
    <div class="col-md-6">
        <video class="howto-vid" src="~/Content/websiteLayout/video/Professional/Professional User – Next Steps After registration.mp4" controls="controls" poster="~/Content/websiteLayout/video/Professional/Professional User – Next Steps After registration.jpg" preload="none"></video>
        <video class="howto-vid" src="~/Content/websiteLayout/video/Professional/Professional User – Inviting Users to the Safe Move Scheme.mp4" controls="controls" poster="~/Content/websiteLayout/video/Professional/Professional User – Inviting Users to the Safe Move Scheme.jpg" preload="none"></video>
    </div>
    <div class="col-md-6">
        <video class="howto-vid" src="~/Content/websiteLayout/video/Professional/Professional Users - How to Offer the Safe Buyer Product.mp4" controls="controls" poster="~/Content/websiteLayout/video/Professional/Professional Users - How to Offer the Safe Buyer Product.jpg" preload="none"></video>
    </div>
</div>

<h3 class="page-header">General</h3>
<div class="row">
    <div class="col-md-6">
        <video class="howto-vid" src="~/Content/websiteLayout/video/General/How to Check you are on the Secure Safe Move Scheme Website.mp4" controls="controls" poster="~/Content/websiteLayout/video/General/How to Check you are on the Secure Safe Move Scheme Website.jpg" preload="none"></video>
    </div>
    <div class="col-md-6">
        <video class="howto-vid" src="~/Content/websiteLayout/video/General/Forgotten Password.mp4" controls="controls" poster="~/Content/websiteLayout/video/General/Forgotten Password.jpg" preload="none"></video>
    </div>
</div>