 
    <table id="tbChoices">

   
         @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @item.ChoiceName
                    @Html.ActionLink("Remove", "remove", null, new { @id = "remScnt" })
                </td>

            </tr>
        
    }
</table>


