<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        @* todo: ZM ucomment when enable login comes back to life*@
        @*<a id="editButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditCompany", "Company", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit Company</a>*@
        <h5>Company</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{Name}}</p></dd>
            <dt>Address:</dt>
            <dd><p>{{Line1}}</p></dd>
            <dd><p>{{Line2}}</p></dd>
            <dd><p>{{Town}}</p></dd>
            <dd><p>{{County}}</p></dd>
            <dd><p>{{PostalCode}}</p></dd>
            <dd><p>{{AdditionalAddressInformation}}</p></dd>
            <dt>Regulator:</dt>
            <dd><p>{{RegulatorNameDisplay}}</p></dd>
            <dt>Regulator Number:</dt>
            <dd><p>{{RegulatorNumber}}</p></dd>
            <dt>Originally Registered As:</dt>
            <dd><p>{{RegisteredAsName}}</p></dd>
        </dl>
    </div>
</div>
<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        <h5>Organisation Administrator</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{SystemAdminNameDisplay}}</p></dd>
            <dt>Email:</dt>
            <dd><p>{{OrganisationAdminEmail}}</p></dd>
        </dl>
        <h5>Verified Details</h5>
        <dl class="dl-horizontal">
            <dt>Verified On:</dt>
            <dd><p>{{VerifiedOnDisplay}}</p></dd>
            <dt>Verified By:</dt>
            <dd><p>{{VerifiedBy}}</p></dd>
            <dt>Telephone:</dt>
            <dd><p>{{VerifiedNotes}}</p></dd>
        </dl>
        <h5>Other Details</h5>
        <dl class="dl-horizontal">
            <dt>Created On:</dt>
            <dd><p>{{CreatedOnDisplay}}</p></dd>
            <dt>Referrer Source:</dt>
            <dd><p>{{Referrer}}</p></dd>
            <dt>Scheme ID:</dt>
            <dd><p>{{SchemeID}}</p></dd>
            <dt>Files per Month:</dt>
            <dd><p>{{FilesPerMonth}}</p></dd>
            <dt>Safe Active Bank Accounts:</dt>
            <dd><p>{{ActiveSafeAccounts}}</p></dd>
        </dl>
    </div>
</div>