@model string
@{
    ViewBag.Title = "Thank You";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-lg-12">
            @if (ViewBag.Email != null)
            {
                <p>@ViewBag.Message <a href="mailto:@ViewBag.Email">@ViewBag.Email</a></p>
            }
            else
            {
                <p>@ViewBag.Message</p>
            }
            
            @if (ViewBag.Link != null)
            {
                <p>Proceed to <a href="~/Account/Login">Log in</a></p>
            }
        </div>
    </div>
</div>
