@model string
@{
    ViewBag.PageId = "extr-page";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="well no-padding">
                <form action="@Url.Action("Username", "Forgot", new { area = "Account"})" id="username-form" method="POST" class="smart-form client-form">
                    <header>
                        Forgotten Username
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">Please enter your registered email address</label>
                            <label class="input">
                                <input type="email" name="email"  />
                            </label>
                        </section>
                        <br />
                        <section>
                            <div class="g-recaptcha" data-sitekey="6LfblQcTAAAAAOFJDCXm2uQohq7pYC-Y35qRwLxK" data-callback="captchaClick"></div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" id="formSubmit" class="btn btn-primary" disabled>
                            Continue
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script type="text/javascript">
        function captchaClick() {
            $('#formSubmit').prop('disabled', false);
        }

        $(function () {
            // Validation
            $("#username-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        email: true
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                    $('#formSubmit').prop('disabled', true);
                    form.submit();
                }
            });
        });
    </script>
}