<system.diagnostics>
  <trace autoflush="true" />
  <sources>
    <source name="MembershipReboot" switchValue="Verbose">
      <listeners>
        <add name="MembershipRebootListener" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="MembershipRebootListener" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\logs\MembershipReboot.svclog" traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
  </sharedListeners>
</system.diagnostics>
