
@using Ext.Net.MVC;
@using Ext.Net;
@using Bec.TargetFramework.Web.Framework.Extensions
@{
    ViewBag.Title = "Reset Password Sent";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section mainBody
{

    @(Html.X().Window()
    .ID("PasswordResetSentWindow")
    .Closable(false)
    .Resizable(false)
    .Height(150)
    .Width(400)
    .Icon(Icon.Lock)
    .Title("Password Reset Sent")
    .Layout(LayoutType.Fit)
    .Draggable(true)
    .Modal(true)
    .Padding(5)
    .Html(
        @<text>
         <p>
            You have been sent an email to confirm your request
            to reset your password. Once you have recieved the email
            you can follow the instructions to set a new password.
        </p>
        <p>Thanks!</p>
        </text>
    )

    )

}