@model string
@{
    ViewBag.Title = "PIN Expired";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>@ViewBag.Message <a href="mailto:@ViewBag.Email">@ViewBag.Email</a></p>
        </div>
    </div>
</div>
