@model Bec.TargetFramework.Entities.AddPersonalDetailsDTO
@{
    ViewBag.Title = "Welcome to Safe Move Scheme";
}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form action="@Url.Action("AddMobileNumber", "PersonalDetails", new { area = "Account" })" method="POST" id="personal-details-form" class="client-form well no-padding">
            @Html.AntiForgeryToken()
            <header>
                <h1>Add Mobile Number</h1>
            </header>
            <section class="fields">
                @Html.ValidationBootstrap()
                
                <fieldset>
                    <legend>Account Security</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>For your security, you must provide the Safe Move Scheme with a valid UK mobile number.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input name="mobileNumber" id="mobileNumber" maxlength="11" class="form-control" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>

            <footer>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" id="personalDetailsFormSubmit" class="btn btn-primary btn-block">
                            Continue
                            <i class="fa fa-chevron-right margin-left-5"></i>
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/PersonalDetails/AddMobileNumber")"></script>
}