<div class="row" id="tradingNameRow{{index}}">
    <section class="col col-8">
        <label class="input">
            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
            <input type="text" name="TradingNames[{{index}}]" maxlength="200" data-rule-required="true" data-rule-lenderdupecheck="true" data-lender-dupe-check-url="{{lenderDupeCheckUrl}}" class=" form-control" />
            <span class="typeahead-spinner required-field"><i class="fa fa-pulse fa-spinner"></i></span>
        </label>
    </section>
    <section class="col-sm-1">
        <a data-parent-id="tradingNameRow{{index}}" class="delete-entry"><i class="fa fa-minus margin-right-10"></i></a>
    </section>
</div>