<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-inbox margin-right-10"></i>View Qualified Companies</h2>
        <div class="col-sm-12">
            <!-- Widget ID (each widget will need unique ID)-->

            <ul id="myTab1" class="nav nav-tabs bordered" role="tablist" data-selected="@TempData["tabIndex"]">
                <li><a href="#s1"> Active </a></li>
            </ul>
            <div id="myTabContent1" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="s1" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="well">
                                <div id="activeGrid" data-url="@Url.Action("LoadCompanies", "Company", new {area = "Admin", orgStatus = Bec.TargetFramework.Entities.Enums.ProfessionalOrganisationStatusEnum.Active})"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden" id="activePanel">
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <a id="editButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditCompany", "Company", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit Company</a>
                                <h5>Company</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="ddaCompanyName"></p></dd>
                                    <dt>Address:</dt>
                                    <dd><p id="ddaCompanyAddress1"></p></dd>
                                    <dd><p id="ddaCompanyAddress2"></p></dd>
                                    <dd><p id="ddaCompanyTownCity"></p></dd>
                                    <dd><p id="ddaCompanyCounty"></p></dd>
                                    <dd><p id="ddaCompanyPostCode"></p></dd>
                                    <dd><p id="ddaAdditional"></p></dd>
                                    <dt>Regulator:</dt>
                                    <dd><p id="ddaRegulator"></p></dd>
                                    <dt>Regulator Number:</dt>
                                    <dd><p id="ddaRegulatorNumber"></p></dd>
                                    <dt>Registered As:</dt>
                                    <dd><p id="ddaRegisteredAsName"></p></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <h5>Organisation Administrator</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="ddaSystemAdminName"></p></dd>
                                    <dt>Email:</dt>
                                    <dd><p id="ddaSystemAdminEmail"></p></dd>
                                    <dt>Telephone:</dt>
                                    <dd><p id="ddaSystemAdminTel"></p></dd>
                                </dl>
                                <h5>Verified Details</h5>
                                <dl class="dl-horizontal">
                                    <dt>Verified On:</dt>
                                    <dd><p id="ddaCompanyVerifiedOn"></p></dd>
                                    <dt>Verified By:</dt>
                                    <dd><p id="ddaCompanyVerifiedBy"></p></dd>
                                    <dt>Telephone:</dt>
                                    <dd><p id="ddaCompanyVerifiedTelephone"></p></dd>
                                </dl>
                                <h5>Other Details</h5>
                                <dl class="dl-horizontal">
                                    <dt>Created On:</dt>
                                    <dd><p id="ddaCompanyCreatedOn"></p></dd>
                                    <dt>Created By:</dt>
                                    <dd><p id="ddaCompanyCreatedBy"></p></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Admin/Company/Qualified")"></script>
}
