@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conveyancer's Compliance";
    ViewBag.Meta = "It is an essential part of your obligations that you assess the risks to your organisation’s information security with the same vigour as you would for any other serious risk.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Solicitors Regulation Authority says 'member firms are responsible for safeguarding client funds, and had to replace any money that is improperly withheld or withdrawn from a client account'. <a target="_blank" href="http://www.telegraph.co.uk/finance/personalfinance/borrowing/mortgages/11632304/Email-hacking-another-home-seller-robbed-of-270000.html">Click here to read the Telegraph’s full article</a></p>
        <p>The Council for Licensed Conveyancers says ‘The CLC is urging firms to be vigilant to cyber-crime following an increase in reports of these types of attacks. While cyber attacks are a threat to all businesses, legal services firms are unfortunately particularly attractive to criminals.</p>
        <p>It is an essential part of your obligations that you assess the risks to your organisation’s information security with the same vigour as you would for any other serious risk’. <a target="_blank" href="http://www.conveyancer.org.uk/CLC-Lawyer/Tackling-Cybercrime.aspx">Click here to read the CLC’s full article</a></p>
    </div>
    <div class="col-md-5">
        <img src="~/Content/websiteLayout/images/Compliance icon.png" alt="Compliance" />
    </div>
</div>