@{
    ViewBag.Title = "How It Works";
    ViewBag.Meta = "The Safe Buyer product reduces the risk of criminals stealing the money that a buyer puts towards the price of their property purchase.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Safe Buyer product reduces the risk of criminals stealing the money that a buyer puts towards the price of their property purchase. Protecting buyers, lenders and conveyancers…</p>
        <p>Buyers receive a secure login to the Safe Move Scheme from their conveyancer so the buyer can check the bank account details match those on the Safe Move Scheme Safe List. This means if criminals have intercepted communications between the conveyancer and buyer the bogus bank account details will not match the authentic details on the Safe List.</p>
    </div>
    <div class="col-md-5">
        <img src="~/images/Protection icon.png" alt="Protection." />
    </div>
</div>