@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lender's Compliance";
    ViewBag.Meta = "The Financial Conduct Authority states: 'You are responsible for making sure your business is not vulnerable to fraud – whether you are exposing it to unscrupulous customers or organised mortgage fraud gangs'.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Financial Conduct Authority states on its website:</p>
        <p>What we expect from lenders on mortgage fraud: You are responsible for making sure your business is not vulnerable to fraud – whether you are exposing it to unscrupulous customers or organised mortgage fraud gangs.</p>
        <p>All lenders:</p>
        <ul>
            <li><p>should have robust and proportionate resources, systems and controls in place so you can identify, detect and prevent mortgage fraud;</p></li>
            <li><p>should make fraud detection and prevention a key part of your business; and</p></li>
            <li>
                <p>senior management should be responsible for managing fraud risks, overseeing, owning and regularly reviewing the control framework’s effectiveness’.</p>
                <p><a href="https://www.fca.org.uk/about/what/enforcing/fraud/mortgage">Click here to read the article on the FCA website</a></p>
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/Content/websiteLayout/images/Compliance icon.png" alt="Compliance" />
    </div>
</div>