@{
    ViewBag.Title = "Safe Move Scheme Benefits";
    ViewBag.Meta = "The Safe Move Scheme gives lenders and conveyancers a customer outcomes control system to meet FCA and SRA anti-fraud requirements.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <ul>
            <li><p>The Safe Move Scheme gives lenders and conveyancers a customer outcomes control system to meet FCA and SRA anti-fraud requirements</p></li>
            <li><p>How do you know where incoming funds transferred to your client account really come from? Who owns these bank accounts? The SMS provides a full validated money flow audit trail for new AML regulations</p></li>
            <li><p>The SMS detects when unauthorised conveyancing firms/bogus firms are involved in your transactions</p></li>
            <li><p>Lender integration available</p></li>
            <li><p>Stringently built and maintained to the highest data security standards</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/images/SMS Benefits icon.png" alt="SMS Benefits" />
    </div>
</div>