@{
    ViewBag.Title = "Safe Buyer Specification";
    ViewBag.Meta = "Check bank account details securely. Protect Additional buyers and giftors. Comply with the latest AML regulations.";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <ul>
            <li><p>The buyer can check that the bank account details provided by his/her conveyancer belong to that conveyancing firm - so the buyer can transfer money with low risk.</p></li>
            <li><p>Additional buyers and giftors' (people gifting deposits to the buyer/s) can also check that the bank account details provided by his/her conveyancer belong to that conveyancing firm - so the additional buyer/s or giftors' can transfer money with low risk.</p></li>
            <li><p>Comply with the latest AML regulations by proving that you know who owns the bank account that deposit money has come from.</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/images/tape-measure-icon.png" alt="Tape Measure" />
    </div>
</div>