
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("headtag", false)

    <style>
        .x-form-item-body {
            height: 26px;
        }

        .x-tab-default-top {
            padding: 8px 12px 1px 12px;
        }

        .x-tab-bar-default-horizontal {
            height: 30px;
        }

        .my-header .x-panel-header-text{
       color:black;
      
    }

     .my-header .x-panel-header {
        background-color: white;        
    }

        .x-panel-body-default {
            color: black;
            font-size: 12px;
            font-size: normal;
        }

        .x-panel-header-default {
            font-size: 12px;
            border: 1px solid #157fcc;
        }

        .x-panel-header-default-horizontal-noborder {
            padding: 5px 5px 5px 5px;
        }

        .x-body {
            color: black;
            font-size: 12px;
            font-family: helvetica,arial,verdana,sans-serif;
            background: #ffffff;
        }

        .errorMultiSelect {
             line-height: 16px;
            color: #cf4c35;
            font: normal 13px helvetica, arial, verdana, sans-serif;
            background: no-repeat 0 2px;
              background-image: url("WebResource.axd?d=A9nfHYdt6grVm3Z9_ZzsR6Dq-vCpQq_I7BVooMdCTeHxZAFrst4LOrOowQTkwDBuj9xOYNnZ0LNfXC5Ho-IW9Pni6t28yWGNa6sxCN3nZ7I_f6TOgVsNrmcqMzhiheVvSpjZxDeBbfWZJDnbum1dhDk0Tricd83uLLPAcs0Cfy6Kx1_UO-Jo_MuBhYWDr5nm0&t=635373843721989656");
            padding: 2px 2px 2px 20px;
        }

 


        .inactiveClass {
            background-image: url(/icons/flagred/ext.axd);
            background-repeat: no-repeat;
            background-position: right;
        }

        .activeClass {
            background-image: url(/icons/flaggreen/ext.axd);
            background-repeat: no-repeat;
            background-position: right;
        }

        .tickClass {
            background-image: url(/icons/tick/ext.axd);
            background-repeat: no-repeat;
            background-position: right;
        }

        .crossClass {
            background-image: url(/icons/cross/ext.axd);
            background-repeat: no-repeat;
            background-position: right;
        }

         .x-tree-icon {
            display: none;
        }

        .x-selectedtreenode {
           color: #99CC33 !important; 
           font-weight: bold;
        }

               .next-btn {
          background-image:url('../../Content/resources/images/STS/RightArrow.png');
           background-size: 25px 25px;
          width: 25px !important;
         background-color:none !important;
        }

        .prev-btn {
           width:16px;
           background-image:url('../../Content/resources/images/STS/LeftArrow.png');
           background-size: 25px 25px;
          width: 25px !important;
         background-color:none !important;
        }

        .stsbtn {
            background-color: #99CC33;
            background-image :none !important;
            color: black;
        }

          .stsgreybtn {
            background-color:  #666666 !important;
            background-image :none !important;
            color: #FFFFFF;
            font-family : Verdana !important;
            font-size: 12px;
            width: 130px;
        }

        .x-btn-default-toolbar-small .x-btn-inner{
            color : white;
        }

        .link-btn{
            color : black;
            font-family : Verdana !important;
            font-size: 12px;
        }

        .paragraph-text{
            text-align:justify;
            font-family : Verdana !important;
            font-size:12px;

        }

        .x-panel-header-text-container-default{
            font-family : Verdana !important;
            line-height : 22px;

        }

        .x-form-item-label{

            font-family : Verdana !important;
            font-size : 12px;
        }

      .x-form-item-linkbtn{

            font-family : Verdana !important;
            font-size : 12px;
        }

      .x-label-value{
          font-family : Verdana !important;
            font-size : 12px;
      }

      .x-btn-default-small{
          background:none !important;
          border:none !important;
      }

      .x-btn-default-small .x-btn-inner{
            color:black !important;
            
      }
       .x-nlg .x-btn-default-small{
          background-image:none !important;
          background-color:none !important;
       }
      
          .x-form-trigger-wrap{
        border-color: #666666 !important;
    }
    
    .x-btn-toolbar{
        background:none !important;
        border:none !important;
    }

    </style >
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
    @RenderSection("mainBody", true)
</body>
</html>
