<?xml version="1.0" encoding="utf-8" ?>
<!-- See http://github.com/faniereynders/webapiproxy for documentation on using this configuration file  -->

<!-- build through Nuget WebApiProxy-Generate-CSharp-->
<proxy name="WebApiProxy"
       clientSuffix="Client"
       endpoint="http://localhost:9000/api/proxies"
       namespace="Bec.TargetFramework.Business.Client" entitiesNamespace="Bec.TargetFramework.Entities" enumsNamespace="Bec.TargetFramework.Entities.Enums"  generateOnBuild="false"/>
