<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BusinessServiceBaseURL" value="http://dev-as-01.bec.local:9000/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<connectionStrings>
		<add name="TargetFrameworkConnectionString"
			 connectionString="Host=bec-dev-01;User Id=postgres;Password=0277922cdd;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="TargetFrameworkCoreConnectionString"
			 connectionString="Host=bec-dev-01;User Id=postgres;Password=0277922cdd;Database=TargetFrameworkCore;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>