<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LocalBusinessServiceBaseURL" value="http://localhost:9000/"/>
		<add key="DevBusinessServiceBaseURL" value="http://dev-as-01.bec.local:9000/"/>
		<add key="SysBusinessServiceBaseURL" value="http://sys-as-01.bec.local:9000/"/>
		<add key="UatBusinessServiceBaseURL" value="http://uat-as-01.bec.local:9000/"/>

		<add key="StashUrl" value="http://bec-dev-01:7990/"/>
		<add key="StashSqlBasePathFormat" value="projects/BF/repos/main/browse/Applications/Bec.TargetFramework/MainLine/Bec.TargetFramework.DatabaseScripts/Scripts/{0}?raw"/>
		<add key="StashBase64Pass" value="Basic c3ZjLWF1dG8tdGVzdDokUiZsKCU2d0IjaTl4QQ=="/>
	</appSettings>
	<connectionStrings>
		<add name="LocalTargetFrameworkConnectionString" 
			 connectionString="Host=localhost;User Id=postgres;Password=admin;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>
		<add name="LocalTargetFrameworkCoreConnectionString" 
			 connectionString="Host=localhost;User Id=postgres;Password=admin;Database=TargetFrameworkCore;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>

		<add name="DevTargetFrameworkConnectionString"
			 connectionString="Host=bec-dev-01;User Id=postgres;Password=0277922cdd;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>
		<add name="DevTargetFrameworkCoreConnectionString"
			 connectionString="Host=bec-dev-01;User Id=postgres;Password=0277922cdd;Database=TargetFrameworkCore;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>

		<add name="SysTargetFrameworkConnectionString"
			 connectionString="Host=sys-db-01;User Id=postgres;Password=Wzrfdza8VjM3y86WTqdX;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>
		<add name="SysTargetFrameworkCoreConnectionString"
			 connectionString="Host=sys-db-01;User Id=postgres;Password=Wzrfdza8VjM3y86WTqdX;Database=TargetFrameworkCore;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>

		<add name="UatTargetFrameworkConnectionString"
			 connectionString="Host=uat-db-01;User Id=postgres;Password=14244095dbbc6324c35067a045fd877e;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>
		<add name="UatTargetFrameworkCoreConnectionString"
			 connectionString="Host=uat-db-01;User Id=postgres;Password=14244095dbbc6324c35067a045fd877e;Database=TargetFrameworkCore;Port=5433;Persist Security Info=True;Initial Schema=public;Unicode=True;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>