@model Bec.TargetFramework.Entities.Workflow.WorkflowInstanceCurrentStateDTO

@Html.TextBox("txtName","You got here")

@using (Html.BeginForm("InternalInvite", "InternalInvite", new { area = "Workflow" }))
{
    @Html.HiddenFor(model => model.CurrentActionDTO)
    <button name="next" type="submit">Next</button>
}