@model Bec.TargetFramework.Entities.Workflow.WorkflowInstanceCurrentStateDTO

@Html.TextBox("txtName", "TnC")

@using (Html.BeginForm("TnCInternalInvite", "InternalInvite", new { area = "Workflow" }))
{
    @Html.HiddenFor(model => model.CurrentActionDTO)
    <button name="next" type="submit">Next</button>
}
