@model List<Bec.TargetFramework.Entities.VNotificationInternalUnreadDTO>
<span id="activity" class="activity-dropdown"> <i class="fa fa-bell"></i> <b class="badge">@Model.Count</b> </span>

<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
<div class="ajax-dropdown">
    <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
    <h4>Notifications</h4>
    <!-- notification content -->
    <div class="ajax-notifications custom-scroll">
        <ul class="notification-body">
            @foreach (var notification in Model)
            {
                <li>
                    <span class="padding-10 ">
                        <em class="badge padding-5 no-border-radius bg-color-green pull-left margin-right-5">
                            <i class="fa fa-bell fa-fw fa-2x"></i>
                        </em>
                        <span>
                            @notification.Name
                            - @Html.ActionLink("See details", "Index", "InternalNotifications", new { }, new { @class = "display-normal" })
                            <br>
                            <span class="pull-right font-xs text-muted"><i>@Html.Timeago(notification.DateSent)...</i></span>
                        </span>
                    </span>
                </li>
            }
        </ul>
    </div>
    <!-- end footer -->
</div>
<!-- END AJAX-DROPDOWN -->