<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading txt-color-blueDark"><i class="fa fa-lg fa-shopping-cart margin-right-10"></i>Order Products</h2>
        <div class="col-sm-12">
            <div class="well well-light">
                <h3>Buyer Products</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                @if (!ViewBag.HasOrganisationAnySafeBankAccounts)
                                {
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-info fade in">
                                                <h5><i class="fa-fw fa fa-info"></i><strong>How can I order this product?</strong></h5>
                                                <p>
                                                    To proceed with ordering this product your firm must have a ‘Safe’ bank account with the Safe Move Scheme system.
                                                </p>
                                                <p>
                                                    Please ask your system administrator to submit a bank account for validation.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h5 class="margin-top-5 margin-bottom-5">Bank Account Check</h5>
                                    </div>
                                    <div class="col-xs-4">
                                        @if (ViewBag.HasOrganisationAnySafeBankAccounts)
                                        {
                                            <a data-href="@Url.Action("ViewAddSmsTransaction", "Products", new { area  = "ProOrganisation" })" data-modallink="true" class="btn btn-sm btn-primary pull-right">
                                                <i class="fa fa-plus margin-right-5"></i>Order
                                            </a>
                                        }
                                        else
                                        {
                                            <a disabled="true" class="btn btn-sm btn-primary pull-right">
                                                <i class="fa fa-plus margin-right-5"></i>Order
                                            </a>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
<script async src="@Scripts.Url("~/Scripts/ProOrganisation/Products/Index")"></script>
}
