@{
    ViewBag.Title = "Show Me How On Page";
}
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Presentation.Web.App_Helpers
<style>
    #ItemList, #SysItemList {
        list-style-type: none;
        margin-bottom: 9px;
        box-sizing: border-box;
        display: block;
        padding: 0px;
        margin-left: 0px;
    }

        #ItemList li, #SysItemList li {
            display: list-item;
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 8px;
            margin-left: 0px;
            cursor: pointer;
        }

            #ItemList li span:nth-child(3), #SysItemList li span:nth-child(3) {
                float: right;
                margin-right: 10px;
                color: #ccc;
            }

                #ItemList li span:nth-child(3) a, #ItemList li span:nth-child(3) a:visited, #ItemList li span:nth-child(3) a:link, #SysItemList li span:nth-child(3) a, #SysItemList li span:nth-child(3) a:visited, #SysItemList li span:nth-child(3) a:link {
                    color: #3276B1;
                }

            #ItemList li span:nth-child(1), #SysItemList li span:nth-child(1) {
                position: absolute;
                margin-left: -0.3em;
                color: #333;
            }

            #ItemList li span:nth-child(2), #SysItemList li span:nth-child(2) {
                margin-left: 1em;
            }
</style>

<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-support margin-right-10"></i>Show Me How Management</h2>

        <div class="col-sm-12">
            <ul id="myTab1" class="nav nav-tabs bordered" role="tablist" data-selected="@TempData["tabIndex"]">
                <li><a href="#s1"> On Page </a></li>
                <li><a href="#s2"> For System </a></li>
            </ul>
            <div id="myTabContent1" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="s1" role="tabpanel">
                    @Html.Partial("_OnPage")

                </div>
                <div class="tab-pane fade" id="s2" role="tabpanel">
                    @Html.Partial("_ForSystem")
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script async src="@Scripts.Url("~/Scripts/Admin/ShowMeHow/Index")"></script>


