@using ServiceStack.Text
@model Bec.TargetFramework.Entities.VerfiedUnverifiedCompaniesDTO


<div id="all-companies-wrapper" class="page-content-wrapper">

    <div role="tabpanel">
       
            <h2>View Temporary Companies</h2>

            <div class="row">
                <div class="col-md-5">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#unverified-tab" aria-controls="unverified-tab" role="tab" data-toggle="tab">Unverified</a></li>
                        <li role="presentation"><a href="#verified-tab" aria-controls="verified-tab" role="tab" data-toggle="tab">Verified</a></li>
                    </ul>
                </div>
            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Unverified -->
                <div role="tabpanel" class="tab-pane active" id="unverified-tab">
                    @Html.Partial("~/Views/Company/Partials/UnverifiedCompaniesTab.cshtml")
                </div>
                <!--Verified -->
                <div role="tabpanel" style="visibility:hidden" class="tab-pane active" id="verified-tab">

                    @Html.Partial("~/Views/Company/Partials/VerifiedCompaniesTab.cshtml")

                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['Company/ViewModels/AllCompaniesVM'], function (AllCompaniesVM) {

            var newCompanyId = '@TempData["AddedCompany"]';
            
            var data = JSON.parse('@Bec.TargetFramework.Infrastructure.Helpers.JsonHelper.SerializeDataUnformattedWithCamelCase(Model)'.replace(/&quot;/g, '"'));
            
            data.newCompanyId = newCompanyId;

            var vm = new AllCompaniesVM(data);
        
            ko.applyBindings(vm, document.getElementById("all-companies-wrapper"));

            $('#verified-tab').removeClass('active').css('visibility', 'visible');


            @{TempData["AddedCompany"] = null;}
        });
    });
</script>