@{
    ViewBag.Title = "Client";
}


<!-- Client Content -->
<div id="client-content-wrapper" class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Simple Client</h1>
                <p>This template is a Client</p>
                <a href="#" class="btn btn-default menu-toggle-partial">Toggle Menu</a>
            </div>
        </div>

        <div class="row">
            <!-- Add Client Section -->
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <label>First Name:</label>
                    </div>

                    <div class="col-md-6">
                        <input data-bind="value: clientEditMode().firstName, valueUpdate:'afterkeydown'" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Last Name:</label>
                    </div>

                    <div class="col-md-6">
                        <input data-bind="value: clientEditMode().lastName, valueUpdate:'afterkeydown'" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Full Name:</label>
                    </div>

                    <div class="col-md-6">
                        <div data-bind="text: clientEditMode().fullName, valueUpdate:'afterkeydown'"> </div>
                    </div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-info pull-left" data-bind="click: clearEditClient">Clear</button>
                    <button type="button" class="btn btn-success pull-right" data-bind="click: addClient, enable: clientEditMode().firstName && clientEditMode().lastName">Add</button>
                </div>
            </div>
            <!-- /Add Client Section -->
            <!-- Display Clients Section -->
            <div class="col-md-6">
                <div data-bind='foreach: clients '>
                    <div class="row">

                        <div class="col-md-6">
                            <label>First Name:</label>
                            <div data-bind="text: firstName"> </div>
                        </div>

                        <div class="col-md-6">
                            <label>Last Name:</label>
                            <div data-bind="text: lastName"> </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <label>Full Name:</label>
                            <div data-bind="text: fullName"> </div>
                        </div>

                        <div class="col-md-2">
                            <div class="btn-group" role="group">
                                <button type="button" data-bind="click: removeClient">Delete</button>
                            </div>
                        </div>
                    </div>

                    <br />
                </div>
            </div>
            <!-- /Display Clients Section -->
        </div>
    </div>
</div>
<!-- /Client Content -->

<script type="text/javascript">
    $(document).ready(function () {
        require(['HomeVM/Client/ClientPageVM'], function (ClientPageVM) {

            var vm = new ClientPageVM();
            ko.applyBindings(vm, document.getElementById("client-content-wrapper"));
        })
    });
</script>