<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Safe Move Scheme was conceived by and is operated by BE Consultancy Ltd, an independently owned and managed company in the South East of England.</p>
        <p>Since 2006 BE Consultancy has been working with conveyancers and lenders providing bespoke risk solutions to help make conveyancing better for them and their customers.</p>
        <p>Ed Powell director of BE Consultancy explains how the Safe Move Scheme came to be “In 2013 we spoke to property market stakeholders about pulling together the knowledge we have acquired over many years of working with conveyancers and lenders to provide a safer place for all property transactions. The stakeholders we are now working with include regulators and Government departments and we are really looking forward to releasing our new products, through the Safe Move Scheme, over the next few months.”</p>

    </div>
    <div class="col-md-5">
        <img class="large-img" src="~/images/Solution icon.png" alt="Solution." />
        <p><i>“At Santander, we are supporting the Safe Move Scheme as we aim to simplify the process of purchasing a house in England and Wales. Through our partnership with the Safe Move Scheme, we are looking to provide a simplistic and more certain house buying experience for our customers which saves them time, money and stress. We are delighted to be working with the Safe Move Scheme as it provides a more secure and efficient lending process for Santander.”</i> Tracey Carr, Financial Crime Manager – Santander</p>
    </div>
</div>