<h2>@ViewBag.Title.</h2>

<p>How to Register:</p>

<br />

<div class="row reg">
    <div class="col-md-2 col-md-offset-1">
        <img src="~/images/icon-www.png" alt="Submit details and download security PDF" />
        <br />
        <p class="post-arrow">Submit your Firm's details and download security PDF</p>
    </div>
    <div class="col-md-2">
        <img src="~/images/icon-mag.png" alt="We will validate your details" />
        <br />
        <p class="post-arrow">We will validate your details and ask you to login online</p>
    </div>
    <div class="col-md-2">
        <img src="~/images/icon-login.png" alt="Login and create an account" />
        <br />
        <p class="post-arrow">Login and create an account</p>
    </div>
    <div class="col-md-2">
        <img src="~/images/Bank Icon - green.png" alt="Submit bank account details for validation" />
        <br />
        <p class="post-arrow">Submit your bank details for validation</p>
    </div>
    <div class="col-md-2">
        <img src="~/images/icon-tick.png" alt="Login and use the Safe Move Scheme" />
        <br />
        <p>Login and use the Safe Move Scheme</p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <p class="pull-right"><a target="_blank" class="btn btn-primary" href="https://sms.safemovescheme.co.uk/Account/RegisterAdmin">Click to Register</a></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <p class="pull-right">Download the <a download="SMS Pre-Registration - Next Steps.pdf" href="~/PDF/SMS Pre-Registration - Next Steps.pdf">SMS Pre-Registration Next Steps</a>.</p>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="alert alert-danger"><strong>Important security note: </strong>When you are notified to login please search 'Safe Move Scheme' via Google to find our website to avoid hackers from redirecting you to a bogus site. Never email us sensitive data as emails are not safe - we will never email you links to our website, login details or sensitive data.</p>
    </div>
</div>