<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the<br /><span class="highlight">Safe Move</span> <span class="lowlight">Scheme</span></h1>
    </div>
    <div class="col-md-7">

        <br />
        <p>It has never been a more dangerous time to buy a property as criminals are targeting property transactions to steal large amounts of money from buyers.</p>
        <p>The Safe Move Scheme makes it easier to reduce risk from property transactions and helps prevent fraud.</p>
        <p>Professionals feel supported.</p>
        <p>Customers feel safer.</p>
    </div>
    <div class="col-md-5">
        <img src="~/images/SMS-logo.png" alt="Safe Move Scheme - Prevents Property Fraud" title="Safe Move Scheme - Prevents Property Fraud" />
    </div>
</div>