<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>
            According to the Law Society Gazette in an article dated 29 July 2015
            <i>“Regulators have been forced to make repeat visits to some firms over concerns about the potential for money laundering, it has emerged. The Solicitors Regulation Authority yesterday published its latest risk report which identified inadequate systems and controls over the transfer of money as a key problem facing the sector. Regulators are concerned that law firms handling large sums of money can make attractive targets for those wishing to launder the proceeds of crime.”</i>
            <a href="http://www.lawgazette.co.uk/practice/firms-under-scrutiny-over-anti-money-laundering/5050310.fullarticle">Click here to read the full article</a>
        </p>
        <p>SMS Solution:</p>
        <ul>
            <li><p>Full money flow audit showing money flows through bank accounts for every transaction</p></li>
            <li><p>Ownership data for bank accounts identified in every transaction</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/images/AML icon.png" alt="Anti-money laundering" />
    </div>
</div>