<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-7">
        <p>The Safe Buyer product reduces the risk of criminals stealing the money that a buyer puts towards the price of their property purchase. Protecting buyers, lenders and conveyancers…</p>
    </div>
    <div class="col-md-5">
        <img src="~/images/Protection icon.png" alt="Protection." />
    </div>
</div>