<div  id="divTopMenu" class="primaryNav">
    <ul id="topnav">
        <li><b><a href="@Url.Action("Forms_Summary", "ConfigureDynamicForm")" title="Dynamic Form">Configure Dynamic Form</a></b></li>
        </ul>
</div>