{{#each this}}
    <h5>{{SmsUserAccountOrganisationTransactionType.Description}}</h5>
    <dl class="dl-horizontal">
        <dt>Full Name:</dt>
        <dd><p>{{fullName}}</p></dd>
        {{#if formattedBirthDate}}
            <dt>Date of Birth:</dt>
            <dd><p>{{formattedBirthDate}}</p></dd>
        {{/if}}
        {{#if formattedLastLogin}}
            <dt>Last Logged In:</dt>
            <dd><p>{{formattedLastLogin}}</p></dd>
        {{/if}}
        <dt>Bank Account Check:</dt>
        {{#if formattedLatestBankAccountCheckOn}}
            <dd><p>{{formattedLatestBankAccountCheckOn}}: <span class="{{matchClass}}">{{latestCheckResult}}</span></p></dd>
        {{else}}
            <dd><p>N/A</p></dd>
        {{/if}}
        {{#if Address.Line1}}
        <dt>Address:</dt>
        <dd>
            <p>{{Address.Line1}}</p>
            <p>{{Address.Line2}}</p>
            <p>{{Address.Town}}</p>
            <p>{{Address.County}}</p>
            <p>{{Address.PostalCode}}</p>
        </dd>
        {{/if}}
    </dl>
{{/each}}