{{#each this}}
    <h5>{{SmsUserAccountOrganisationTransactionType.Description}}</h5>
    <dl class="dl-horizontal">
        <dt>Full Name:</dt>
        <dd><p>{{fullName}}</p></dd>
        {{#if formattedBirthDate}}
            <dt>Date of Birth:</dt>
            <dd><p>{{formattedBirthDate}}</p></dd>
        {{/if}}
        {{#if formattedLastLogin}}
            <dt>Last Logged In:</dt>
            <dd><p>{{formattedLastLogin}}</p></dd>
        {{/if}}
        {{#if Address.Line1}}
        <dt>Address:</dt>
        <dd>
            <p>{{Address.Line1}}</p>
            <p>{{Address.Line2}}</p>
            <p>{{Address.Town}}</p>
            <p>{{Address.County}}</p>
            <p>{{Address.PostalCode}}</p>
        </dd>
        {{/if}}
        <dt>Decision:</dt>
        <dd>
            {{#if ProductAcceptedOn}}
            <span><i class="fa fa-check margin-right-5"></i>Accepted</span>
            {{else if ProductDeclinedOn}}
            <span><i class="fa fa-exclamation-triangle margin-right-5"></i>Declined</span>
            {{else}}
            <label class="label label-outstanding-decisions" title="Buyer Party Decision">No Decision</label>
            {{/if}}
        </dd>
    </dl>
{{/each}}