@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}

@(         X.Container().Anchor("100% -300").PaddingSpec("10 10 10 10").Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Center, Pack = BoxPack.Start })
                        .Items(
                                  X.Container().PaddingSpec("10 10 10 10").Html("<h1>Welcome to the <span >Safe Move Scheme</span></h1> <h4>Building better property transactions</h4>"),
                                          X.Container().PaddingSpec("10 10 10 10").Layout(LayoutType.Column)
                             .ItemsFromPage(this, "~/Areas/SafeMoveScheme/Views/Default/_professional.cshtml")
                             .ItemsFromPage(this, "~/Areas/SafeMoveScheme/Views/Default/_public.cshtml")
                            )
                            )
                            
        
  