@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}

@(
 X.Container().PaddingSpec("10 10 10 10")
.ID("IndexProfessional")
.Items(
        X.ImageButton().ID("ImgProfessioals").AnchorHorizontal("100%").Center().ImageUrl(@Url.Content("~/Content/resources/images/sms/professional-landing-image.jpg"))
            .Listeners(l => l.Click.Handler = "window.location = '" + Url.Action("Home", "Professional", new { Area = "SafeMoveScheme" }) + "'"),
        X.Container().ID("divProfessioanal").AnchorHorizontal("100%").Center().Items(
                                                                    X.Container().ID("txtProfessioanal").Html("<h1>For <span>Professionals</span></h1><p>Lenders, mortage advisers, financial services networks, estate agents,</br> lawyers, house builders, surveyors</p>"),
        
                                                                    X.LinkButton().ID("lrnProfessionals").Flat(true).Text("Learn More").Icon(Icon.BulletGo).IconAlign(IconAlign.Right).Type(ButtonType.Button)
                                                                                .Listeners(l => l.Click.Handler = "window.location = '" + Url.Action("Home", "Professional", new { Area = "SafeMoveScheme" }) + "'")
                                                                    )
)
)
  