@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}

@( X.Container().Layout(LayoutType.Column)
.Items(

        X.Container().Padding(5).ColumnWidth(0.6)
        .Items(
                             X.Container().Html("<p>“Independently run with a focus on building partnerships”</p></br>"),
                             X.Container().Html("<p>The Safe Move Scheme is part of a privately owned limited company that has evolved from a legal services panel management company founded in 2000.</p></br>"),
                             X.Container().Html("<p>We are internally resourced with no reliance on 3rd party software developers. Our independence enables us to meet new commercial requirements quickly and without conflicts.</p></br>")
        ),
             X.Container().Padding(5).ColumnWidth(0.4)
        .Items(
                            X.Container().Padding(20).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/About-professional-img.jpg"))),
                    X.Container().Padding(20).Cls("testimonial").Padding(15)
                             .Items(
                                             X.Container().Html("<p>“At Santander, we are supporting the Safe Move Scheme as we aim to simplify the process of purchasing a house in England and Wales.”</p></br>"),
                                             X.Container().Html("<h4>Tracey Carr, Financial Crime Manager<p>- Santander</p></h4>"),
                                                 X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items(X.Image().Width(80).Height(30).ImageUrl(@Url.Content("~/Content/resources/images/sms/santander-logo.jpg")))
                              )
             )
        )
)
