@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@( X.Container().Layout(LayoutType.Column)
.Items(

        X.Container().Padding(5).ColumnWidth(0.6)
        .Items(
                         X.Container().Html("<p>The Safe Move Scheme helps estate agents:</p></br>"),
                         X.Container().Html("<ul><li><p>Attract new listings</p></li><li><p>Reduce fall throughs</p></li><li><p>Speed their sales pipeline</p></li><li><p>List new build sites</p></li><li><p>Provide a better customer experience</p></li></ul>")
        ),
             X.Container().Padding(5).ColumnWidth(0.4)
        .Items(
                        X.Container().Padding(20).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/estate-agents-professional-img.jpg"))),
                    X.Container().Padding(20).Cls("testimonial").Padding(15)
                             .Items(
                                         X.Container().Html("<p>“Through our partnership with the Safe Move Scheme, we are looking to provide a simplistic and more certain house buying experience for our customers which saves them time, money and stress.””</p></br>"),
                                         X.Container().Html("<h4>Tracey Carr, Financial Crime Manager<p>- Santander</p></h4>"),
                                            X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items( X.Image().Width(80).Height(30).ImageUrl(@Url.Content("~/Content/resources/images/sms/santander-logo.jpg")))
                              )
             )
        )
)

  