@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}

@( X.Container().Layout(LayoutType.Column)
.Items(

        X.Container().Padding(5).ColumnWidth(0.6)
        .Items(
                     X.Container().Html("<p>The Safe Move Scheme helps mortgage advisers and financial services networks:</p></br>"),
                         X.Container().Html("<ul><li><p>Speed up mortgage fee income</p></li><li><p>Reduce wasted time on mortgage applications and processing</p></li><li><p>Recruit estate agents</p></li><li><p>Provide a better customer experience</p></li></ul>")                     
        ),
             X.Container().Padding(5).ColumnWidth(0.4)
        .Items(
                    X.Container().Padding(20).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/financialservices-professional-img.jpg"))),
                    X.Container().Padding(20).Cls("testimonial").Padding(15)
                             .Items(
                                     X.Container().Html("<p>“RICS Home Surveys can support and add real value to the Safe Move Scheme, which is leading the way to help home movers make better informed, more secure and certain transactions.”</p></br>"),
                                     X.Container().Html("<h4>Graham Ellis, Associate Director - RICS</h4>"),
                                     X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items(X.Image().Width(60).Height(30).ImageUrl(@Url.Content("~/Content/resources/images/sms/rics-logo.jpg")))
                              )
             )
        )
)

