@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@( X.Container().Layout(LayoutType.Column)
.Items(

        X.Container().Padding(5).ColumnWidth(0.6)
        .Items(
                     X.Container().Html("<p>The Safe Move Scheme works with professionals from across the property industry to help them deliver better services to other professionals and consumers.</p></br>"),
                     X.Container().Html("<p>The Safe Move Scheme provides services to: residential lenders, commercial lenders, lawyers, financial services networks & advisers, estate agents, house builders, surveyors.</p></br>"),
                     X.Container().Html("<p>The sectors we support can be categorised into 3 main segments: lending services, property services and legal services.</p></br>")
        ),
         X.Container().Padding(5).ColumnWidth(0.4)
        .Items(
                X.Container().Padding(10).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/professionals-img-safemovescheme.jpg"))),
                    X.Container().Padding(10).Cls("testimonial").Padding(15)
                             .Items(
                                     X.Container().Html("<p>“Encouraging use of the Safe Move Scheme kite mark by the industry is part of our overall strategy to improve the home buying / selling experience for customers whilst reducing mortgage fraud. It is very encouraging to see other lenders working with the Safe Move Scheme to increase the Scheme’s profile.”</p></br>"),
                                     X.Container().Html("<h4>Tracey Carr, Financial Crime Manager<p>- Santander</p></h4>"),
                                     X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items(X.Image().Width(80).Height(30).ImageUrl(@Url.Content("~/Content/resources/images/sms/santander-logo.jpg")))
                              )
             )
        )
)

