@using Ext.Net;
@using Ext.Net.MVC;
@{
    ViewBag.Title = "Safe Move Scheme";
    Layout = "~/Areas/SafeMoveScheme/Views/Professional/_ProfessionalLayout.cshtml";
    var X = Html.X();
}


    @section professionalBody
    {
         @(X.Container().AnchorVertical("75%").AnchorHorizontal("100%").PaddingSpec("10 10 10 10").Items(
            X.Image().PaddingSpec("10 0 2 0").ImageUrl(@Url.Content("~/Content/resources/images/sms/home-professional-img.jpg")),
            X.Container().Layout(LayoutType.Column).PaddingSpec("2 10 2 10").Items(
                                    X.Container().ColumnWidth(0.75).Html("<h2>The <span>Safe Move Scheme</span> for Professionals</h2><p>A property data management system developed with property professionals to help lenders, mortgage advisers, financial services networks, estate agents, lawyers, house builders and surveyors benefit from improved processes.</p><p>The Safe Move Scheme increases control, reduces processing costs and enhances the customer experience.</p>"),
                                    X.Container().ColumnWidth(0.25).Cls("testimonial").AutoDoLayout(true).Padding(10).Items(
                                            X.Container().Html("<p>“Through our partnership with the Safe Move Scheme, we are looking to provide a simplistic and more certain house buying experience for our customers which saves them time, money and stress.”</p><p>Tracey Carr, Financial Crime Manager- Santander</p>"),
                                           X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items( X.Image().Width(80).Height(30).Align(System.Web.UI.WebControls.ImageAlign.Right).ImageUrl(@Url.Content("~/Content/resources/images/sms/santander-logo.jpg")))
                    ))
                    )
    )
    }
   