@media screen and (max-width: 1140px) {
    .nav nav:last-child ul a li {padding: 5px 15px;}
}
@media screen and (max-width: 1110px) {
    #logo {width: 200px;}
}
@media screen and (max-width: 1070px) {
	nav ul li {margin-left: 30px;}
/* 	#logo {width: 315px; margin: 31px 0;} */
    .nav nav:last-child ul a li {font-size: 13px;}
}
@media screen and (max-width: 1024px) {
    nav ul li {margin-left: 25px;}
}
@media screen and (max-width: 1000px) {
    .nav nav:last-child ul a li {padding: 5px 10px;}
}
@media screen and (max-width: 990px) {
	nav ul li {margin-left: 25px;}
/* 	#logo {width: 290px; margin: 33px 0;} */
}
@media screen and (max-width: 975px) {
    #logo {width: 150px; margin-top: 33px;}
    .nav nav:last-child ul {margin-bottom: 20px;}
}
@media screen and (max-width: 945px) {
/*     .container {width: 85%;} */
}
@media screen and (max-width: 930px) {
	nav ul li {margin-left: 15px;}
/* 	.container {width: 85% !important;} */
/* 	#logo {width: 250px; margin: 37px 0;} */
}
@media screen and (max-width: 920px) {

}
@media screen and (max-width: 876px) {

}
@media screen and (max-width: 876px) {

}
@media screen and (max-width: 870px) {

}
@media screen and (max-width: 865px) {

}
@media screen and (max-width: 850px) {
/* 	#logo {width: 220px; margin: 40px 0;} */
	.nav nav:last-child ul a li {font-size: 12px;}
}
@media screen and (max-width: 845px) {

}
@media screen and (max-width: 830px) {

}
@media screen and (max-width: 820px) and (min-width: 805px) {

}
@media screen and (max-width: 820px) {

}
@media screen and (max-width: 815px) {

}
@media screen and (min-width: 805px) {

}
@media screen and (max-width: 805px) {
	/* Misc */
	#navigation ul { display:none; visibility:hidden}
	.navbar{ display:block; visibility:visible; margin-top: 75px; float: right; margin-right: 20px;}
	#logo {width: 250px; margin: 30px 0 5px 20px;}
	.headerBottom .strap {width: 100%;}
	.headerBottom .strap p {margin-top: 0px; margin-left: 20px;}
	.headerLast {display: none;}

	/* Strapline */
	.strapline p {text-align: center;}

	/* Home */
	.container.home .six.columns {width: 100%; margin-left: 0; text-align: center;}
	.container.home .six.columns img {width: 80%;}

	/* Products */
	.container.products .five.columns, .container.products .seven.columns {width: 100%; margin-left: 0; text-align: center;}
	.container.products .five.columns img {width: 50%;}

	/* Safe Move Scheme */
	.container.safe {text-align: center;}
	.container.safe .five.columns, .container.safe .seven.columns {width: 100%; margin-left: 0;}
	.container.safe .seven.columns img {width: 80%; margin: 0 auto; margin-bottom: 5%; margin-top: 5%;}

	/* Buyers */
	.container.buyers .five.columns, .container.buyers .seven.columns {width: 100%; margin-left: 0; text-align: center;}
	.container.buyers .five.columns img {width: 50%;}

	/* Buyers & Sellers */
	.container.b-s .five.columns, .container.b-s .seven.columns {width: 100%; margin-left: 0; text-align: center;}
	.container.b-s .five.columns img {width: 50%;}

	/* Professionals */
	.container.pros .five.columns, .container.pros .seven.columns {width: 100%; margin-left: 0; text-align: center;}
	.container.pros .five.columns img {width: 50%; margin-top: 5%;}

	/* Software */
	.container.software {text-align: center;}
	.container.software .five.columns, .container.software .seven.columns {width: 100%; margin-left: 0;}
	.container.software .seven.columns img {margin-top: 5%; margin-bottom: 5%;}

	/* Business Services */
	.container.business {text-align: center;}
	.container.business .five.columns, .container.business .seven.columns {width: 100%; margin-left: 0;}
	.container.business .seven.columns img {margin: 0 auto; margin-top: 5%; margin-bottom: 5%;}

	/* Submit Details */
	.container.submit table.six.columns, .container.submit #locationField input, .container.submit .twelve.columns.left input {width: 100%;}

	/* Contact */
	.container.contact {text-align: center;}
}
@media screen and (max-width: 790px) {

}
@media screen and (max-width: 755px) {

}
@media screen and (max-width: 720px) {

}
@media screen and (min-width: 690px) and (max-width: 920px) {

}
@media screen and (max-width: 670px) {

}
@media screen and (max-width: 650px) {
	footer p.copyright, footer p {float: none;}
	footer p.copyright {margin-top: 0; padding-top: 2.5rem; margin-bottom: 1.5rem;}
	footer {text-align: center;}
	footer p {margin-top: 0rem;}
}
@media screen and (max-width: 625px) {

}
@media screen and (max-width: 600px) {

    /* Misc */
    .headerBottom .strap p {margin-top: 15px;}
    .navbar {position: relative; right: 20px; margin-top: 55px;}
    .containerThree {max-width: 100% !important; padding: 0 !important;}

	/* Home */
	.container.home .six.columns img {width: 100%;}
	.container.home .row:first-child {margin-top: 12%;}
	.container.home .row:last-child {margin-bottom: 12%;}

	/* Safe Move Scheme */
	.container.safe .row:first-child {margin-top: 12%;}
	.container.safe .row:last-child {margin-bottom: 12%;}

	/* Software */
	.container.software .row:first-child {margin-top: 12%;}
	.container.software .row:last-child {margin-bottom: 12%;}

	/* Business Services */
	.container.business .row:first-child {margin-top: 12%;}
	.container.business .row:last-child {margin-bottom: 12%;}

	/* Contact */
	.container.contact .row:first-child {margin-top: 12%;}
	.container.contact .row:last-child {margin-bottom: 12%;}

	/* Sponsors */
	.sponsors .three.columns:first-child img {width: 30%; margin-top: 5%;}
	.sponsors img {width: 45%; margin-bottom: 5%;}
}
@media screen and (max-width: 590px) {

}
@media screen and (max-width: 570px) {

}
@media screen and (max-width: 550px) {

}
@media screen and (max-width: 549px) {

}
@media screen and (max-width: 535px) {

}
@media screen and (max-width: 530px) {

    /* Misc / Header */
    #logo {width: 220px;}
}
@media screen and (max-width: 512px) {
    tr.none {display: table-row;}
    .hideAll {display: none;}
}
@media screen and (max-width:500px) {
	.headerSocial i {display: block; float: none;}
	.headerSocial span.slider {position: absolute; z-index: 99999; /* top: -144px; */ display: none;}
	.fa.fa-caret-square-o-down.none {display: block; background-color: #D1D1D1;}

	/* Misc / Header */
    #logo {width: 200px;}
}
@media screen and (max-width: 475px) {

    /* Misc / Header */
	#logo {width: 180px;}
	.navbar {right: 0;}
}
@media screen and (max-width: 475px) and (min-width: 446px) {

}
@media screen and (max-width: 450px) {
    .headerBottom {text-align: center;}
	#logo {width: calc(89% - 20%); margin: 20px auto 0; float: none;}
	.navbar {display: none;}
	.navbar.navbar1 {display: block; display: inline-flex; width: 100%; text-align: center; float: none; margin-top: 5px; margin-bottom: 20px;}
	.navbar .sb-toggle-left {float: none; margin: 0 auto;}
	.headerBottom .strap {text-align: center; float: none;}
	.headerBottom .strap p {margin: 0 auto; }
	.sb-left .sb-menu li a {font-size: 0.9em !important;}
    .sb-left .sb-menu li i {font-size: 1.2em;}

	/* Sponsors */
	.sponsors .three.columns:first-child img {margin-top: 7%;}
	.sponsors img {margin-bottom: 7%;}
}
@media screen and (max-width: 430px) {

}
@media screen and (max-width: 400px){
    .containerTwo {width: 102.5% !important;}
    .sb-left .sb-menu li a {font-size: 0.8em !important;}
    .sb-left .sb-menu li i {font-size: 1em;}
}
@media screen and (max-width: 370px) {

	/* Header */
	#logo {width: calc(89% - 20%);}
	.navbar {margin-top: 35px;}
	.headerTop .headerEmail a, .headerLogin span {font-size: 12px;}
	.headerLogin span {display: none;}
}
@media screen and (max-width: 350px) {
    #logo {width: calc(89% - 20%);}
}
@media screen and (max-width: 330px) {

}