@model string
<div id="content">
    <div class="row">

        <h2 class="row-seperator-header inline-heading">Notification details</h2>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <a href="@Url.Action("Index", "InternalNotifications", new {area = "Admin"})" class="btn btn-primary btn-sm inline-heading">
                        <i class="fa fa-caret-left margin-right-5"></i>Notifications
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        @Html.Raw(Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>