<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">

        <h2 class="row-seperator-header inline-heading">Notifications</h2>

        <hr class="simple">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="notificationsGrid"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="notificationsPanel">
                <div class="col-sm-6">
                    <!-- well -->
                    <div class="well">
                        <h5>Notification details</h5>
                        <div id="notificationContent" style="overflow: scroll; width:100%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        //set up grid options for the three grids. most are passed straight on to kendo grid.
        var notificationsGrid = new gridItem(
            {
                gridElementId: 'notificationsGrid',
                url: '@Url.Action("LoadNotifications", "InternalNotifications", new { area = "Admin" })',
                schema: { data: "data", total: "total", model: { id: "NotificationID" } },
                defaultSort: { field: "NotificationSubject", dir: "asc" },
                change: notificationsChange,
                panels: ['notificationsPanel'],
                columns: [
                        {
                            field: "NotificationID",
                            hidden: true,
                        },
                        {
                            field: "NotificationSubject",
                            title: "Notification Subject"
                        },
                        {
                            field: "DateSent",
                            title: "Date Sent",
                            template: function (dataItem) {
                                return moment(dataItem.DateSent).format('DD/MM/YYYY');
                            }
                        }
                ]
            });

        $(document).ready(function () {
            notificationsGrid.makeGrid();
        });

        //data binding for the panes beneath each grid
        function notificationsChange(dataItem) {
            $.ajax({
                url: '@Url.Action("GetNotification", "InternalNotifications", new { area = "Admin" })',
                method: 'GET',
                data: { notificationId: dataItem.NotificationID }
            }).done(function (result) {
                $('#notificationContent').html(result.data);
            });
        }

    </script>
}
