<!-- ko if: $data.isReadOnly -->
<label data-bind="text: $data.title"></label>
<div data-bind="text: $data.value"></div>
<!-- /ko -->

<!-- ko ifnot: $data.isReadOnly -->
<label data-bind="text: $data.title, attr: labelAttrOptions, css: { 'requiredField': $data.isRequired }"></label>

<input type="text" class="form-control" data-bind="value: $data.value, attr: attrOptions, valueUpdate: 'afterkeydown'" />

<span class="error-span red-glow" data-bind="if:$data.value.isModified && $data.value.isModified() && !$data.value.isValid && !$data.value.isValid(), validationMessage: $data.value,  attr: { title: errorMsg }, text: errorMsg"></span>
<!-- /ko -->