<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="TargetFrameworkConfig" type="Bec.TargetFramework.Framework.Configuration.TargetFrameworkConfig, Bec.TargetFramework.Framework" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="membershipReboot" type="BrockAllen.MembershipReboot.SecuritySettings, BrockAllen.MembershipReboot" />
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <couchbase>
    <servers bucket="Default" username="Administrator" password="Itsvctr3#">
      <add uri="http://bec-dev-01:8091/pools" />
    </servers>
    <socketPool connectionTimeout="00:01:00" deadTimeout="00:01:00" />
  </couchbase>
  <TargetFrameworkConfig>
    <DynamicDiscovery Enabled="true" />
    <Engine Type="" />
    <Themes basePath="~/Themes/" />
  </TargetFrameworkConfig>
  <membershipReboot requireAccountVerification="true" emailIsUsername="false" multiTenant="false" passwordHashingIterationCount="0" accountLockoutFailedLoginAttempts="6" accountLockoutDuration="00:30:00" forgottenUsernameLockoutFailedAttempts="3" forgottenUsernameLockoutDuration="00:03:00" forgottenPasswordLockoutFailedAttempts="3" forgottenPasswordLockoutDuration="00:03:00" />
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthorizationManager type="Bec.TargetFramework.Security.TfClaimsAuthorizationManager, Bec.TargetFramework.Security" />
    </identityConfiguration>
  </system.identityModel>
  <connectionStrings>
    <add name="TargetFrameworkEntitiesConnectionString" connectionString="metadata=res://Bec.TargetFramework.Data/TargetFramework.csdl|res://Bec.TargetFramework.Data/TargetFramework.ssdl|res://Bec.TargetFramework.Data/TargetFramework.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=admin;Host=bec-dev-01;Database=TargetFramework;Port=5433;Persist Security Info=True;Initial Schema=public&quot;" providerName="System.Data.EntityClient" />
    <add name="NServiceBus/Transport" connectionString="Data Source=localhost;Initial Catalog=nservicebus;user id=rdp;password=P@ssw0rd" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=localhost;Initial Catalog=nservicebus;user id=rdp;password=P@ssw0rd" />
    <add name="HangFireConnectionString" connectionString="User Id=postgres;Password=admin;Server=bec-dev-01.bec.local;Database=TargetFramework;Port=5433;" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationServerIpAddress" value="192.168.10.152" />
    <add key="Environment" value="DEV" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BusinessServiceBaseURL" value="net.tcp://localhost:8900/TargetFrameworkServices/" />
    <add key="WorkflowServiceBaseURL" value="net.tcp://localhost:8800/WorkflowServices/" />
    <add key="NotificationServiceBaseURL" value="net.tcp://localhost:8700/NotificationServices/" />
    <add key="ReCaptchaPublicKey" value="6LeGFvMSAAAAALpGLi_GTojEYar14o3atr4NVJCs" />
    <add key="ReCaptchaPrivateKey" value="6LeGFvMSAAAAAB7hU7wU6VK5xMFl4uuRYEb78-iG" />
    <!-- Serilog -->
    <add key="SerilogSeqServerUrl" value="http://bec-dev-01:5341" />
    <add key="SerilogEventLogSource" value="WebApplication" />
    <add key="SerilogEventLogName" value="Application" />
    <add key="SerilogFromEmail" value="applications@beconsultancy.co.uk" />
    <add key="SerilogToEmail" value="s.anumalsetty@beconsultancy.co.uk" />
    <add key="ServicesNeededOnStartupPorts" value="8900" />
  </appSettings>
  <!-- we don't want to stop anyone seeing the css and images -->
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Areas/UserAccount/Login/CertificateLogin">
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
  <system.web>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error">
      <error statusCode="500" redirect="500"/>
    </customErrors>-->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-GB" culture="en-GB" />
    <!--<sessionState mode="InProc" cookieless="false" timeout="30" cookieName="s" />-->
    <sessionState customProvider="Couchbase" mode="Custom" cookieName="s" timeout="10">
      <providers>
        <add name="Couchbase" type="Couchbase.AspNet.SessionState.CouchbaseSessionStateProvider, Couchbase.AspNet" section="couchbase" factory="Couchbase.AspNet.CouchbaseClientFactory" exclusiveAccess="false" />
      </providers>
    </sessionState>
    <caching>
      <outputCache defaultProvider="CouchbaseCache">
        <providers>
          <add name="CouchbaseCache" type="Couchbase.AspNet.OutputCache.CouchbaseOutputCacheProvider, Couchbase.AspNet" section="couchbase" factory="Couchbase.AspNet.CouchbaseClientFactory" />
        </providers>
      </outputCache>
    </caching>
    <!-- for PRD add requireSSL=true -->
    <httpCookies httpOnlyCookies="true" />
    <browserCaps configSource="browserCaps.config" />
    <!-- User will be logged out in 30 -->
    <authentication mode="Forms">
      <!-- Set timeout of form cookie to 30, probably need method to resubmist user details,  for PRD add requireSSL=true -->
      <forms loginUrl="~/Login/Index" protection="All" cookieless="UseCookies" timeout="30" slidingExpiration="false">
      </forms>
    </authentication>
    <!--<customErrors defaultRedirect="GenericError.chtml"
                  mode="RemoteOnly">
      <error statusCode="500"
             redirect="InternalError.chtml"/>
    </customErrors>-->
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="filenotfound.htm" />-->
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" batch="false" optimizeCompilations="true" />
    <trace enabled="false" localOnly="true" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error/404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error/500" responseMode="ExecuteURL" />
    </httpErrors>-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <!--Query String Length-->
        <requestLimits maxQueryString="6000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.0" newVersion="1.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.0" newVersion="1.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.3.344.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="applications@beconsultancy.co.uk">
        <network host="192.168.10.15" port="25" userName="applications@bec.local" password="P@ssw0rd" />
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" persistentSessionLifetime="30:00:00" />
    </federationConfiguration>
  </system.identityModel.services>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="CustomExtension" type="Bec.TargetFramework.UI.Web.WCF.BehaviorExtension, Bec.TargetFramework.UI.Web" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientEndpointBehavior">
          <CustomExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics configSource="Configuration\Diagnostics.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PostcodeAnywhere_Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.postcodeanywhere.co.uk/PostcodeAnywhere/Interactive/RetrieveByParts/v1.00/soapnew.ws" binding="basicHttpBinding" bindingConfiguration="PostcodeAnywhere_Soap" contract="PostCodeSearch.PostcodeAnywhere_Soap" name="PostcodeAnywhere_Soap" />
    </client>
  </system.serviceModel>
</configuration>