<div class="row">
    <div class="col-lg-12">
        <h2>Thank you for completing the registration form</h2>
        <p>Your details have been submitted and you will be contacted by the member of our team to complete the registration process.</p>
    </div>
</div>

