<div class="row">
    <div class="col-lg-12">
        <h1>Thank you for completing the registration form</h1>
        <p>Your details have been submitted and you will be contacted by the member of our team to complete the registration process.</p>
        <p>Download the <a download="SMS - Next Steps After Registration.pdf" href="~/Content/websiteLayout/SMS - Next Steps After Registration.pdf">SMS - Next Steps After Registration</a>.</p>
    </div>
</div>
<script async src="@Scripts.Url("~/Scripts/Shared/_IntroSMS")"></script>