
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("headtag", false)
</head>
    <body>
        @RenderSection("mainBody", true)
    </body>
</html>
