@model IEnumerable<Bec.DynamicForm.Entities.DTO.QuestionDTO>

@{
    ViewBag.Title = "Dynamic Form Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@section PageScripts {

}
<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Questions Summary</h2></div>
        <div class="portlet-content">

            <div class="row">

                <a href="@Url.Action("add", "question", new  { area="dynamicform" })" class="btn">Create Question Form</a>
            </div>
            <table class="table" style="width:100%">
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                      

                        <td>
                          
                            @Html.ActionLink("Edit", "question", new { area="dynamicform", id = item.QuestionId }, new { @class = "btn" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>