@model Bec.TargetFramework.UI.Web.Areas.UserAccount.Models.CaptchaRequest
      
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section mainBody
{

        @( Html.X().FormPanel().ID("captchaform").Title("Captcha").Url("/UserAccount/Register/ValidateCaptcha")
            .Buttons(
                 Html.X().Button()
                .Text("Check Captcha")
                .OnClientClick("allowsubmit(this.up('form').getForm())")
)
            .Items(items =>
            {
                items.Add(Html.X().Container().Html("<p>To prevent robots of submitting, please enter the words below.</p>"));
                items.Add(Html.X().Container().ID("divcaptcha"));
                items.Add(Html.X().HiddenFor(model => model.Challenge));
                items.Add(Html.X().HiddenFor(model => model.Response));
                items.Add(Html.X().Container().ID("error").Html("You miss-spelled the words. Please try again."));
                items.Add(Html.X().Container().ID("success").Html("Congrats."));
            })
            )
    }

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">

    function CreateCaptcha() {
        debugger;
        Recaptcha.create('@Model.PublicKey', 'divcaptcha',
        {
            theme: "red",
            callback: Recaptcha.focus_response_field
        });
    }

    $.ajax({
        url: 'http://www.google.com/recaptcha/api/js/recaptcha_ajax.js',
        dataType: 'script',
        success: function (result) {
            CreateCaptcha();
            var error = $('#error');
            error.hide();
            var success = $('#success');
            success.hide();
        },
        error: function (xmlhttprequest, status, error) {
            $('#divcaptcha').html('Cannot create captcha');
        }
    });


    function allowsubmit(captchaform) {
        var error = $('#error');
        var success = $('#success');
        $('#Challenge').val(Recaptcha.get_challenge());
        $('#Response').val(Recaptcha.get_response());
        $.ajax({
            url: captchaform.url,
            type: 'POST',
            data: captchaform.getValues(true),
            success: function (data) {
                if (!data.Success) {
                    error.show();
                    success.hide();
                    CreateCaptcha();
                }
                else {
                    success.show();
                    error.hide();
                    $('#divcaptcha').hide();
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            }
        });
    }



</script>

 