@using Ext.Net.MVC;
@using Ext.Net;
@using Bec.TargetFramework.Web.Framework.Extensions
@{
    ViewBag.Title = "Username Reminder Success";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section mainBody
{

    @(Html.X().Window()
    .ID("UsernameReminderSuccessWindow")
    .Closable(false)
    .Resizable(false)
    .Height(120)
    .Width(360)
    .Icon(Icon.Lock)
            .Title("Username Reminder Success")
    .Layout(LayoutType.Fit)
    .Draggable(true)
    .Modal(true)
    .Padding(5)
    .Html(
    @<text>
        <p>
            You should recieve an email shortly at @ViewData["Email"]. 
            It will contain your username.
            </p>
    </text>
    )

    )

}
