<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DynamicFormDBEntities" connectionString="metadata=res://*/DynamicFormModel.csdl|res://*/DynamicFormModel.ssdl|res://*/DynamicFormModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bec-dev-01.bec.local;initial catalog=DynamicFormDB;persist security info=True;user id=rdp;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>