<tr>
    <td>
        <span data-bind="text: id" />
    </td>
    <td>
        <span data-bind="text: lastName" />
    </td>
    <td>
        <span data-bind="text: userName" />
    </td>
    <td>
        <span data-bind="text: other" />
    </td>
</tr>