<tr class="kendo-grid-row">
    <td data-bind="text: $data.name"></td>
    <td data-bind="text: $data.pinCode"></td>
    <td data-bind="text: $data.pinCreatedStr"></td>
    <td data-bind="text: $data.address1"></td>
    <td data-bind="text: $data.address2"></td>
    <td data-bind="text: $data.townCity"></td>
    <td data-bind="text: $data.county"></td>
    <td data-bind="text: $data.postCode"></td>
    <td data-bind="text: $data.firstName"></td>
    <td data-bind="text: $data.lastName"></td>
    <td data-bind="text: $data.tel"></td>
    <td data-bind="text: $data.email"></td>
    <td data-bind="text: $data.recordCreatedStr"></td>
</tr>