<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">Are you sure you want to Cancel?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelNo" class="btn btn-default" data-dismiss="modal">
                    No
                </button>
                <button type="button" id="cancelYes" class="btn btn-primary" data-dismiss="modal">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>