<div>
    <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
    <div class="g-recaptcha" data-sitekey="6LfblQcTAAAAAOFJDCXm2uQohq7pYC-Y35qRwLxK" data-callback="captchaClick"></div>
</div>
<small>
    reCAPTCHA may not display correctly if you are running IE in compatbility view
</small>