    <!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> LOGO </span>
        <!-- END LOGO PLACEHOLDER -->
  
    </div>
    @if (Request.IsAuthenticated)
    {
    <!-- projects dropdown -->
      
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        
    </section>
</header>
<!-- END HEADER -->