    <!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <span id="logo"><img src="~/Content/img/SMS Master Screen.png" /></span>
  
    </div>
    @if (Request.IsAuthenticated)
    {
        <div style="margin-top:2px;">
            <h5>@Bec.TargetFramework.Entities.WebUserHelper.GetWebUserObject(Context).OrganisationName</h5>
        </div>
    <!-- projects dropdown -->
      
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        
    </section>
</header>
<!-- END HEADER -->