@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Security
@{
    var currentUser = Context.GetWebUserObject();
    var showNotifications =
        Request.IsAuthenticated &&
        currentUser != null &&
        !currentUser.IsTemporaryUser &&
        !currentUser.NeedsTCs &&
        ClaimsHelper.UserHasClaim("View", "InternalNotifications");
    var showOrganisationName =
        Request.IsAuthenticated &&
        (ClaimsHelper.UserHasClaim("Add", "SmsTransaction") || ClaimsHelper.UserHasClaim("Configure", "BankAccount"));
}
<!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <span id="logo"><img src="~/Content/img/sms-logo-118x42.png" /></span>
        @{Html.RenderActionIf("LatestNotifications", "InternalNotificationsAlert", new { area = "Admin" }, showNotifications);}
    </div>
    @if (showOrganisationName)
    {
        <div style="margin-top: 2px;">
            <h5>@Context.GetOrganisationName()</h5>
        </div>
    }
    <!-- projects dropdown -->

    <section id="top-right">
        <div class="pull-right">
            @Html.Partial("_TopRight")
        </div>
    </section>
</header>
<!-- END HEADER -->