@using Bec.TargetFramework.Security
@{
    var currentUser = Bec.TargetFramework.Entities.WebUserHelper.GetWebUserObject(Context);
    var showNotifications =
        Request.IsAuthenticated &&
        currentUser != null &&
        !currentUser.IsTemporaryUser &&
        !currentUser.NeedsTCs;
}
<!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <span id="logo"><img src="~/Content/img/SMS Master Screen.png" /></span>
        
        @{Html.RenderActionIf("LatestNotifications", "InternalNotificationsAlert", new { area = "Admin" }, showNotifications);}
        @*@{ Html.RenderActionIf("LatestNotifications", "InternalNotificationsAlert", new { area = "Admin" }, ClaimsHelper.UserHasClaim("View", "Notification")); }*@

    </div>

    <section id="top-right">

        <div class="pull-right">
            @Html.Partial("_TopRight")
        </div>

    </section>
</header>
<!-- END HEADER -->