<h3 id="conversationsubject"><i class="fa fa-caret-left margin-right-10 hidden-lg"></i>Subject: New property to buy</h3>
<div class="messages-list">
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class="thumbnail">
                <i class="fa fa-user fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Edward Powell</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                </div>
                <div class="panel-body">
                    You should have done it before!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class=" thumbnail">
                <i class="fa fa-user fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Bob Smith</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                </div>
                <div class="panel-body">
                    You should have done it before!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <div class=" thumbnail">
                <i class="fa fa-user fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Bob Smith</strong> <span class="text-muted">wrote on 20/07/2015 10:20</span>
                </div>
                <div class="panel-body">
                    You should have done it before!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reply-panel panel panel-default margin-top-20">
    <div class="panel-heading">
        <strong>Reply to the conversation</strong>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="comment">Message:</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Reply</button>
        </form>
    </div>
</div>