<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">@ViewBag.title</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="smart-form">
                    <label class="label">@ViewBag.message</label>
                </form>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="modal-footer" >
                <button type="button" id="messageButton" class="btn btn-primary" data-dismiss="modal">
                    @ViewBag.button
                </button>
            </div>
        </div>
    </div>
</div>