<dl class="dl-horizontal">
    <dt>Full Name:</dt>
    <dd><p>{{fullName}}</p></dd>
    <dt>Email:</dt>
    <dd><p>{{UserAccountOrganisation.UserAccount.Email}}</p></dd>
    {{#if formattedBirthDate}}
    <dt>Date of Birth:</dt>
    <dd><p>{{formattedBirthDate}}</p></dd>
    {{/if}}
</dl>
<h5>Registered Home Address</h5>
<dl class="dl-horizontal">
    <dt>Address Line 1:</dt>
    <dd><p>{{Address.Line1}}</p></dd>
    {{#if Address.Line2}}
    <dt>Address Line 2:</dt>
    <dd><p>{{Address.Line2}}</p></dd>
    {{/if}}
    <dt>Town:</dt>
    <dd><p>{{Address.Town}}</p></dd>
    {{#if Address.County}}
    <dt>County:</dt>
    <dd><p>{{Address.County}}</p></dd>
    {{/if}}
    <dt>Post Code:</dt>
    <dd><p>{{Address.PostalCode}}</p></dd>
</dl>