@using Bec.TargetFramework.Entities
@if (Request.IsAuthenticated)
{
    <div class="dropdown pull-right margin-top-10">
        <button class="btn btn-default dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-user"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li>
                <a href="@Url.Action("Index", "Logout", new {area = "Account"})" title="Change Password"><i class="fa fa-key"></i><span class="header-btn-text">Change Password</span></a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="@Url.Action("Index", "Logout", new {area = "Account"})" title="Logout"><i class="fa fa-sign-out"></i><span class="header-btn-text">Log out</span></a>
            </li>
        </ul>
    </div>

    <div id="welcome-message" class="pull-right margin-top-15 margin-right-15">
        <span>Welcome @Context.GetUserName()</span>
    </div>
}