@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">@Model.Exception.Message</h2>
        </article>
    </div>
</div>
