@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <h1 class="text-danger">Error.</h1>
            <h4 class="text-danger">Sorry, something went wrong. This issue has been logged and will be investigated by our team.</h4>
            <h4 class="text-danger">In the meantime, please go back and try again.</h4>
        </article>
    </div>
</div>
