.modal-body{
    padding: 0 20px 0 20px;
}

.smart-form fieldset{
    padding-top:10px;
}

.smart-form section{
    margin-bottom:5px;
}

.smart-form label{
    margin-bottom:3px;
}

#logo{
    margin:0;
}

#logo img{
    width:220px;
    height:49px;
    padding:0;
}

#extr-page #header #logo img{
    width:220px;
    height:49px;
}

#extr-page #header #logo{
    margin-top:11px;
}

h2.inline-heading {
    display:inline-block;
}

a.inline-heading {
    position:relative;
    top:-3px;
}