@{
    ViewBag.Title = "Home Page";
}




 <!-- Index Content -->
<div id="index-content-wrapper" class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome</h1>
                
            </div>
        </div>
    </div>
</div>
<!-- /Index Content -->