@{
    ViewBag.Title = "Project";
}


<!-- Project Content -->
<div id="project-content-wrapper" class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Simple Project</h1>
                <p>This template is a Project</p>
                <a href="#" class="btn btn-default menu-toggle-partial">Toggle Menu</a>
            </div>
        </div>
    </div>
</div>
<!-- /Project Content -->

<script type="text/javascript">
    $(document).ready(function () {
        require(['HomeVM/Project/ProjectPageVM'], function (ProjectPageVM) {

            var vm = new ProjectPageVM();
            ko.applyBindings(vm, document.getElementById("project-content-wrapper"));
        })
    });
</script>