@{
    ViewBag.Title = "Test Dynamic";
}


<!-- Test Content -->
<div id="test-content-wrapper" class="page-content-wrapper">
    <!-- FORM -->
    <div class="form-horizontal">
        <!-- SECTIONS -->
        <!-- ko if: $data.isCustom() === true -->
        <div data-bind='foreach: sections'>
            <!-- Iterate trough sections and if we meet custom section render it this way -->
            <div class="steps">
                <h2 style="display:inline-block" data-bind="text: $data.name"></h2>
                <hr />
                <!-- ROWS -->
                <div class="row" data-bind='foreach: rows, attr: { id: $data.name }'>
                    <div class="col-md-12">
                        <!-- COLUMNS -->
                        <div data-bind='foreach: columns'>
                            <!-- FIELDS -->
                            <div data-bind="attr: { 'class': ('col-md-' + $data.colSpan())}">
                                <div data-bind="foreach: fields">
                                    <!-- IF field is custom render it with custom template in order for template to know from where to get the value from VM -->
                                    <!-- ko if: $data.isCustom == true -->
                                    <div data-bind="template: { name: 'CustomFields/' + $data.type }"></div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.isCustom != true -->
                                    <div data-bind="template: { name: 'Fields/' + $data.type }"></div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <!-- END FIELDS -->
                        </div>
                        <!-- END COLUMNS -->
                    </div>
                </div>
                <!-- END ROWS -->
            </div>
        </div>
        <!-- /ko -->
        <!-- END SECTIONS -->
    </div>
    <!-- END FORM -->
</div>
<!-- /Test Content -->


<script type="text/javascript">
    $(document).ready(function () {
        require(['PagePartials/ViewVM'], function (ViewVM) {

            var metadataJSON = '{"metadata":{"pages":[{"name":"Names","isCustom":true,"sections":[{"name":"Section 1","isCustom":true,"rows":[{"name":"Row1","columns":[{"colName":"Columnn1","colSpan":"3","fields":[{"name":"FirstName","type":"TextField","title":"First Name","value":"First Name TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":true,"errorMsg":"This is Error Msg"}]},{"colName":"Columnn2","colSpan":"3","fields":[{"name":"LastName","type":"TextField","title":"Last Name","value":"Last Name TXT","isCustom":false,"isRequired":false,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg","validationRules":[{"errorRuleName":"maxLength20","errorMessage":"{0} field max length can not exceed 20 characters!"},{"errorRuleName":"noNumeric","errorMessage":"{0} field can not contain numeric characters!"},{"errorRuleName":"required","errorMessage":"{0} field is required!"}]}]},{"colName":"Columnn3","colSpan":"6","fields":[{"name":"FullName","type":"TextField","title":"Full Name","value":"Full Name TXT","isCustom":false,"isRequired":false,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]}]},{"name":"Row1","columns":[{"colName":"Columnn1","colSpan":"3","fields":[{"name":"HairColor","type":"TextField","title":"Hair Color","value":"Hair Color TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]},{"colName":"Columnn2","colSpan":"3","fields":[{"name":"EyesColor","type":"TextField","title":"Eyes Color","value":"Eyes Color TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]},{"colName":"Columnn3","colSpan":"6","fields":[{"name":"Height","type":"TextField","title":"Height","value":"Height TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]}]}]},{"name":"Address Information","isCustom":true,"rows":[{"name":"Row1","columns":[{"colName":"Columnn1","colSpan":"3","fields":[{"name":"Country","type":"TextField","title":"Country","value":"Country TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]},{"colName":"Columnn2","colSpan":"3","fields":[{"name":"City","type":"TextField","title":"City","value":"City TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]},{"colName":"Columnn3","colSpan":"6","fields":[{"name":"Address","type":"TextField","title":"Address","value":"Address TXT","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg"}]}]}]},{"name":"TypeAheadFields","isCustom":true,"rows":[{"name":"Row1","columns":[{"colName":"Columnn1","colSpan":"3","fields":[{"name":"CountryAC","type":"AutoCompleteFieldVM","title":"Country","value":"Bulgaria","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg","choices":[{"id":1,"name":"Bulgaria"},{"id":2,"name":"Great Britain"},{"id":3,"name":"Germany"},{"id":4,"name":"France"},{"id":5,"name":"Sweeden"}],"validationRules":[{"errorRuleName":"required","errorMessage":"{0} field is required!"}]}]},{"colName":"Columnn2","colSpan":"3","fields":[{"name":"CityAC","type":"AutoCompleteFieldVM","title":"City","value":"London","isCustom":false,"isRequired":false,"isValidatable":true,"isReadOnly":true,"errorMsg":"This is Error Msg","choices":[{"id":1,"name":"London"},{"id":2,"name":"Greensboro"},{"id":3,"name":"New York"},{"id":4,"name":"Berlin"},{"id":5,"name":"Oslo"}]}]},{"colName":"Columnn3","colSpan":"6","fields":[{"name":"AddressAC","type":"AutoCompleteFieldVM","title":"Address","value":"Address1","isCustom":false,"isRequired":true,"isValidatable":true,"isReadOnly":false,"errorMsg":"This is Error Msg","choices":[{"id":1,"name":"Address1"},{"id":2,"name":"Some OtherAddress"},{"id":3,"name":"Yes Address 6000"},{"id":4,"name":"Berlin"},{"id":5,"name":"Oslo"}]}]}]}]}]}]}}';
            var inputData = JSON.parse(metadataJSON);
            var vm = new ViewVM(inputData.metadata.pages[0]);

            ko.applyBindings(vm, document.getElementById("test-content-wrapper"));
        })
    });
</script>