<div id="index-content-wrapper" class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <h2>View</h2>

            <div>View View</div>
        </div>
    </div>
</div>
