@model Bec.TargetFramework.Entities.Workflow.WorkflowInstanceCurrentStateDTO

<h2>CONextSteps</h2>

@using (Html.BeginForm("CONextSteps", "SignUp", new { area = "SafeTransactionSearch" }))
{
    @Html.HiddenFor(model => model.CurrentActionDTO)
    <button name="Next" type="submit">Next</button>
}


