@using Bec.TargetFramework.Web.Framework.Extensions
@model Bec.TargetFramework.Entities.RegistrationDTO
@using Ext.Net
@using Ext.Net.MVC

<h2>Payment</h2>

@{
    var X = Html.X();
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


@section headTag
{


}

@section mainBody
{

    @(X.FormPanel().Title("Payment")
                            .ID("PaymentForm").ApplyFormPanelDefaults(Razor.ApplyFormPanelDefaults).Items(
                           X.TextFieldFor(model => model.COEmail).ID("COEmail").ApplyTextFieldDefaults(Razor.ApplyTextFieldDefaults).FieldLabel("Email").Hidden(true)
                    )
                    .TopBar(Html.X().Toolbar()
                    .Items(
                    Html.X()
                            .Button().ID("btnPrevious").Text("Previous").Icon(Icon.NextGreen)
                            .DirectEvents(de =>
                                    {
                                        @*de.Click.Before = "return App.TermsnConditionsForm.isValid();";*@
                                        de.Click.Url = Url.Action("PaymentPrevious", "SignUp", new { area = "SafeTransactionSearch" });
                                        de.Click.FormID = "PaymentForm";
                                        de.Click.EventMask.ShowMask = true;
                                        de.Click.EventMask.Msg = "Please wait ...";
                                    }),
                                  Html.X().ToolbarFill(),
                                  Html.X()
                                          .Button().ID("btnNext")
                                  .Text("Next").Icon(Icon.NextGreen)
                                  .DirectEvents(de =>
                                          {
                                            @*de.Click.Before = "return App.TermsnConditionsForm.isValid();";*@
                                              de.Click.Url = Url.Action("PaymentNext", "SignUp", new { area = "SafeTransactionSearch" });
                                              de.Click.FormID = "PaymentForm";
                                              de.Click.EventMask.ShowMask = true;
                                              de.Click.EventMask.Msg = "Please wait ...";
                                          })
                                                          )
                                                          )
    )
}



