<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        <h5>Company</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{Name}}</p></dd>
            {{#if TradingNamesDisplay}}
            <dt>Trading Names:</dt>
            <dd>
                {{#each TradingNamesDisplay}}
                <p>{{this}}</p>
                {{/each}}
            </dd>
            {{/if}}
        </dl>
    </div>
</div>
<div class="col-sm-6">
    <!-- well -->
    <div class="well">
        <h5>Organisation Administrator</h5>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><p>{{SystemAdminNameDisplay}}</p></dd>
            <dt>Email:</dt>
            <dd><p>{{OrganisationAdminEmail}}</p></dd>
            <dt>Telephone:</dt>
            <dd><p>{{OrganisationAdminTelephone}}</p></dd>
        </dl>
        <h5>Verified Details</h5>
        <dl class="dl-horizontal">
            <dt>Verified On:</dt>
            <dd><p>{{VerifiedOnDisplay}}</p></dd>
            <dt>Verified By:</dt>
            <dd><p>{{VerifiedBy}}</p></dd>
        </dl>
        <h5>Other Details</h5>
        <dl class="dl-horizontal">
            <dt>Created On:</dt>
            <dd><p>{{CreatedOnDisplay}}</p></dd>
        </dl>
    </div>
</div>