<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header"> View Registered Users </h2>
        <hr class="simple">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="regGrid"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <!-- well -->
                    <div class="well">
                        <h5>Selected User</h5>
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd><p id="ddName"></p></dd>
                            <dt>Email:</dt>
                            <dd><p id="ddEmail"></p></dd>
                            <dt>Username:</dt>
                            <dd><p id="ddUsername"></p></dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pagespecific {
    <script type="text/javascript">

        //set up grid options for the three grids. most are passed straight on to kendo grid.
        var iGrid = new gridItem(
            {
                gridElementId: 'regGrid',
                url: '@Html.Raw(@Url.Action("GetUsers", "Users", new { area = "ProOrganisation", temporary = false, loginAllowed = true, hasPin = false }))',
                schema: { data: "Items", total: "Count", model: { id: "UserID" } },
                type: 'odata-v4',
                serverSorting: true,
                serverPaging: true,
                defaultSort: { field: "Contact.LastName", dir: "asc" },
                panels: ['rPanel'],
                change: rChange,
                columns: [
                        {
                            field: "UserID",
                            hidden: true,
                        },
                        {
                            field: "Contact.Salutation",
                            title: "Salutation"
                        },
                        {
                            field: "Contact.LastName",
                            title: "Name",
                            template: function (dataItem) { return dataItem.Contact.FirstName + " " + dataItem.Contact.LastName; }
                        },
                        {
                            field: "UserAccount.Email",
                            title: "Email"
                        },
                        {
                            field: "UserAccount.Username",
                            title: "Username"
                        }
                ]
            });

        $(document).ready(function () {
            iGrid.makeGrid();
        });

        //data binding for the panes beneath each grid
        function rChange(dataItem) {
            $("p#ddName").text(dataItem.Contact.FirstName + " " + dataItem.Contact.LastName);
            $("p#ddEmail").text(dataItem.UserAccount.Email || "");
            $("p#ddUsername").text(dataItem.UserAccount.Username || "");
        }

    </script>
}
