@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Models

<table class="transaction-details-table" id="primaryBuyer-details">
    <tr>
        <td>Full Name</td>
        <td><p>{{fullName}}</p></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><p>{{UserAccountOrganisation.UserAccount.Email}}</p></td>
    </tr>

    {{#if formattedBirthDate}}
    <tr>
        <td>Date of Birth</td>
        <td><p>{{formattedBirthDate}}</p></td>
    </tr>
    {{/if}}

    {{#if UserAccountOrganisation.UserAccount.IsTemporaryAccount}}
    <tr>
        <td>PIN:</td>
        <td><p>{{UserAccountOrganisation.PinCode}}</p></td>
    </tr>
    {{/if}}

    {{#if formattedLastLogin}}
    <tr>
        <td>Last Logged In:</td>
        <td><p>{{formattedLastLogin}}</p></td>
    </tr>
    {{/if}}
    <tr>
        <td>Registered Home Address</td>
        <td>
                <div class="view">
                    <p>{{Address.Line1}}</p>
                    <p>{{Address.Line2}}</p>
                    <p>{{Address.Town}}</p>
                    <p>{{Address.County}}</p>
                    <p>{{Address.PostalCode}}</p>
                </div>
        </td>
    </tr>
</table>

{{#if srcFundsBankAccounts.length}}
<h5>Personal Bank Account(s)</h5>
<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Sort Code</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each srcFundsBankAccounts}}
                    <tr>
                        <td>{{AccountNumber}}</td>
                        <td>{{SortCode}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/if}}
