<dl class="dl-horizontal">
    <dt>Full Name:</dt>
    <dd><p>{{fullName}}</p></dd>
    <dt>Email:</dt>
    <dd><p>{{UserAccountOrganisation.UserAccount.Email}}</p></dd>
    {{#if formattedBirthDate}}
    <dt>Date of Birth:</dt>
    <dd><p>{{formattedBirthDate}}</p></dd>
    {{/if}}
    {{#if UserAccountOrganisation.UserAccount.IsTemporaryAccount}}
    <dt>PIN:</dt>
    <dd><p>{{UserAccountOrganisation.PinCode}}</p></dd>
    {{/if}}
    {{#if formattedLastLogin}}
    <dt>Last Logged In:</dt>
    <dd><p>{{formattedLastLogin}}</p></dd>
    {{/if}}
</dl>
{{#if srcFundsBankAccounts.length}}
<h5>Personal Bank Account(s)</h5>
<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Sort Code</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each srcFundsBankAccounts}}
                    <tr>
                        <td>{{AccountNumber}}</td>
                        <td>{{SortCode}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/if}}
