@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Models

<div class="panel-group smart-accordion-default" id="{{accordionId}}">
    {{#each items}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-parent="#{{@@root.accordionId}}">
                <a data-toggle="collapse" href="#{{elementId}}" aria-expanded="false" class="collapsed">
                    <i class="fa fa-lg fa-angle-down pull-right"></i>
                    <i class="fa fa-lg fa-angle-up pull-right"></i>
                    <span>{{fullName}}</span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="{{elementId}}">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Personal Details</h5>
                        {{#if UserAccountOrganisation.UserAccount.IsTemporaryAccount}}
                        <div class="pull-right">
                            <a class="btn btn-sm btn-primary" data-modallink="true" title="Regenerate PIN"
                               data-href="@Url.Action("ViewGeneratePIN", "Transaction", new { area = "SmsTransaction" })?txID={{transactionId}}&uaoID={{UserAccountOrganisation.UserAccountOrganisationID}}&email={{UserAccountOrganisation.UserAccount.Email}}&pageNumber={{@@root.pageNumber}}">
                                <i class="fa fa-repeat margin-right-5"></i>Regenerate PIN
                            </a>
                        </div>
                        {{/if}}

                        <table class="transaction-details-table">
                            <tr>
                                <td>Full Name</td>
                                <td><p>{{fullName}}</p></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><p>{{UserAccountOrganisation.UserAccount.Email}}</p></td>
                            </tr>

                            {{#if formattedBirthDate}}
                            <tr>
                                <td>Date of Birth</td>
                                <td><p>{{formattedBirthDate}}</p></td>
                            </tr>
                            {{/if}}

                            {{#if UserAccountOrganisation.UserAccount.IsTemporaryAccount}}
                            <tr>
                                <td>PIN:</td>
                                <td><p>{{UserAccountOrganisation.PinCode}}</p></td>
                            </tr>
                            {{/if}}

                            {{#if formattedLastLogin}}
                            <tr>
                                <td>Last Logged In:</td>
                                <td><p>{{formattedLastLogin}}</p></td>
                            </tr>
                            {{/if}}
                            <tr>
                                <td>Registered Home Address</td>
                                <td>
                                    <div class="view">
                                        <p>{{Address.Line1}}</p>
                                        <p>{{Address.Line2}}</p>
                                        <p>{{Address.Town}}</p>
                                        <p>{{Address.County}}</p>
                                        <p>{{Address.PostalCode}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                {{#if srcFundsBankAccounts.length}}
                <h5>Personal Bank Account(s)</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Sort Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each srcFundsBankAccounts}}
                                    <tr>
                                        <td>{{AccountNumber}}</td>
                                        <td>{{SortCode}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>