@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Models
{{#unless SmsTransaction.InvoiceID}}
@*<span class="pull-right">
        <a id="quoteButton" class="btn btn-sm btn-primary" data-modallink="true" title="Send Quote" data-url="@Url.Action("ViewSendQuote", "Transaction", new { area = "SmsTransaction" })"><i class="sms-fw sms-safe-send margin-right-5"></i>Send Quote</a>
    </span>*@
{{/unless}}

<h5>Transaction Details</h5>
<table class="transaction-details-table" id="transaction-details">
    <tr>
        <td>Transaction Address</td>
        <td>
            <div class="view">
                <p>{{SmsTransaction.Address.Line1}}</p>
                <p>{{SmsTransaction.Address.Line2}}</p>
                <p>{{SmsTransaction.Address.Town}}</p>
                <p>{{SmsTransaction.Address.County}}</p>
                <p>{{SmsTransaction.Address.PostalCode}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>Mortgage Details</td>
        <td>
            <div class="view">
                <p>{{SmsTransaction.LenderName}}</></p>
                <p>{{SmsTransaction.MortgageApplicationNumber}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>Price</td>
        <td>
            <div class="view">
                <p>{{SmsTransaction.Price}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td><p>Safe Buyer</p></td>
    </tr>
    <tr>
        <td>Product Offered</td>
        <td><p>{{transactionCreated}}</p></td>
    </tr>
    <tr>
        <td>Product Advised</td>
        <td>
            <p>
                {{#if SmsTransaction.IsProductAdvised}}
                {{productAdvisedOn}}
                {{else}}
                No
                {{/if}}
            </p>
        </td>
    </tr>
</table>

{{#xif "this.SmsTransaction.IsProductAdvised == false && this.SmsTransaction.InvoiceID == null"}}
<div class="pull-right">
    <a class="btn btn-sm btn-primary" data-modallink="true" title="Advise Buyer To Use Safe Buyer Product"
       data-href="@Url.Action("ViewAdviseProduct", "Transaction", new { area = "SmsTransaction" })?transactionId={{SmsTransactionID}}&primaryBuyerUaoId={{UserAccountOrganisationID}}&&pageNumber={{pageNumber}}">
        <i class="fa fa-bullhorn margin-right-5"></i>Advise Buyer To Use Safe Buyer Product
    </a>
</div>
{{/xif}}
