{{#xif "this.SmsTransaction.Address.Line1 || this.SmsTransaction.Address.Line2 || this.SmsTransaction.Address.Town || this.SmsTransaction.Address.County || this.SmsTransaction.Address.PostalCode"}}
<h5>Transaction Address</h5>
{{/xif}}

<dl class="dl-horizontal">
    {{#if SmsTransaction.Address.Line1}}
    <dt>Address Line 1:</dt>
    <dd><p>{{SmsTransaction.Address.Line1}}</p></dd>
    {{/if}}
    {{#if SmsTransaction.Address.Line2}}
    <dt>Address Line 2:</dt>
    <dd><p>{{SmsTransaction.Address.Line2}}</p></dd>
    {{/if}}
    {{#if SmsTransaction.Address.Town}}
    <dt>Town:</dt>
    <dd><p>{{SmsTransaction.Address.Town}}</p></dd>
    {{/if}}
    {{#if SmsTransaction.Address.County}}
    <dt>County:</dt>
    <dd><p>{{SmsTransaction.Address.County}}</p></dd>
    {{/if}}
    {{#if SmsTransaction.Address.PostalCode}}
    <dt>Post Code:</dt>
    <dd><p>{{SmsTransaction.Address.PostalCode}}</p></dd>
    {{/if}}
</dl>
{{#xif "this.SmsTransaction.LenderName || this.SmsTransaction.MortgageApplicationNumber || this.SmsTransaction.Price"}}
<h5>Other Details</h5>
{{/xif}}
<dl class="dl-horizontal">
    {{#if Confirmed}}
    <dt>Mortgage Lender:</dt>
    <dd>
        <p>
            {{#if SmsTransaction.LenderName}}
                {{SmsTransaction.LenderName}}
            {{else}}
                None
            {{/if}}
        </p>
    </dd>
    <dt>Mortgage Application No:</dt>
    <dd>
        <p>
            {{#if SmsTransaction.MortgageApplicationNumber}}
                {{SmsTransaction.MortgageApplicationNumber}}
            {{else}}
                None
            {{/if}}
        </p>
    </dd>
    {{#if SmsTransaction.Price}}
    <dt>Purchase Price:</dt>
    <dd><p>{{purchasePrice}}</p></dd>
    {{/if}}
</dl>
{{/if}}
<h5>Product</h5>
{{#unless SmsTransaction.IsProductPushed}}
<div class="pull-right">
    <a class="btn btn-sm btn-primary" data-modallink="true" title="Push Safe Buyer Product"
       data-href="@Url.Action("ViewPushProduct", "Transaction", new { area = "SmsTransaction" })?transactionId={{SmsTransactionID}}&primaryBuyerUaoId={{UserAccountOrganisationID}}&&pageNumber={{pageNumber}}">
        <i class="fa fa-bullhorn margin-right-5"></i>Push Safe Buyer Product
    </a>
</div>
{{/unless}}
<dl class="dl-horizontal">
    <dt>Product Name:</dt>
    <dd>
        <p>Safe Buyer</p>
    </dd>
</dl>