@using Bec.TargetFramework.Presentation.Web.Controllers
@using Bec.TargetFramework.Presentation.Web.Models
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">Welcome</h4>
            </div>
            <div class="modal-body">
                <form class="smart-form">
                    <label class="label">Welcome to the Safe Move Scheme (SMS).</label>
                    <label class="label">You are now successfully registered and can start using the system to protect your Firm.</label>
                    @*<label class="label">To get started, first visit the <a href="@Url.Action("Index", "Downloads", new { Area = "ProOrganisation" })">Downloads</a> page.</label>*@
                </form>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" id="messageButton" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script src="@Scripts.Url("~/Scripts/Shared/_IntroSysSms")"></script>
<script src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Welcome")"></script>
