<div class="col-md-5">
    <h4>Company</h4>
    <div class="row">
        <div class="col-md-2">
            Name: 
        </div>
        <div class="col-md-9">
            <span data-bind="text: $data.companyName"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Address:
        </div>
        <div class="col-md-9">
            <!-- ko if: $data.companyAddress1() == '-' -->
            <div>-</div>
            <div>-</div>
            <div>-</div>
            <div>-</div>
            <div>-</div>
            <!-- /ko -->

            <!-- ko ifnot: $data.companyAddress1() == '-' -->
            <div data-bind="text: $data.companyAddress1"> {{Address1}}</div>
            <div data-bind="text: $data.companyAddress2"> {{Address2}}</div>
            <div data-bind="text: $data.companyTownCity"> {{TownCity}}</div>
            <div data-bind="text: $data.companyCounty"> {{County}}</div>
            <div data-bind="text: $data.companyPostCode"> {{PostCode}}</div>
            <!-- /ko -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Regulator:
        </div>
        <div class="col-md-9">
            <!-- ko if: $data.companyRegulator() !== 'Other'-->
            <span data-bind="text: $data.companyRegulator"></span>
            <!-- /ko -->
            <!-- ko if: $data.companyRegulator() === 'Other'-->
            <span data-bind="text: $data.companyOtherRegulator"></span>
            <!-- /ko -->
        </div>
        
    </div>
</div>

<div class="col-md-7">
    <div class="row">
        <h4>System Administrator</h4>
        <div class="row">
            <div class="col-md-2">
                Name:
            </div>
            <div class="col-md-9">
                <span data-bind="text: $data.sysAdmin"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Email:
            </div>
            <div class="col-md-9">
                <span data-bind="text: $data.systemAdminEmail"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Telephone:
            </div>
            <div class="col-md-9">
                <span data-bind="text: $data.systemAdminTel"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>Other Details</h4>
        <div class="row">
            <div class="col-md-2">
                Record Creation:
            </div>

            <div class="col-md-9">
                <span data-bind="text: $data.companyRecordCreated() == '-'? '-' : ko.utils.formatDate($data.companyRecordCreated())"></span>
            </div>
        </div>
    </div>
</div>
