<div class="steps">
    <h6>(<span data-bind="text:$data.verifiedCompanies.length"></span> companies found)</h6>
    <div class="row">
        <div class="col-md-12">
            <div id="verified-grid" data-bind="kendoGrid: $data.verifiedGridOptions($data.verifiedCompanies)"> </div>
        </div>
    </div>
</div>
<div class="steps">
    <div id="verified-company-details" class="row" data-bind="with: $data.verifiedCompany">
        @Html.Partial("~/Views/Company/Partials/CompanyDetails.cshtml")
    </div>
</div>
