<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="membershipReboot" type="BrockAllen.MembershipReboot.SecuritySettings, BrockAllen.MembershipReboot" />
		<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

	<membershipReboot requireAccountVerification="true" emailIsUsername="true" multiTenant="false" passwordHashingIterationCount="0" accountLockoutFailedLoginAttempts="3" accountLockoutDuration="00:30:00" forgottenUsernameLockoutFailedAttempts="3" forgottenUsernameLockoutDuration="00:03:00" forgottenPasswordLockoutFailedAttempts="3" forgottenPasswordLockoutDuration="00:03:00" />
	<system.identityModel>
		<identityConfiguration>
			<claimsAuthorizationManager type="Bec.TargetFramework.Security.TfClaimsAuthorizationManager, Bec.TargetFramework.Security" />
		</identityConfiguration>
	</system.identityModel>
	<appSettings>
		<!-- Theme -->
		<add key="config:EnableTiles" value="1" />
		<add key="config:EnableLoader" value="1" />
		<add key="config:Project" value="SmartAdminMvc" />
		<add key="config:Company" value="MyOrange Inc., Walapa" />
		<add key="config:CurrentTheme" value="" />
		<!-- -->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PreserveLoginUrl" value="true" />
		<!-- Serilog -->
		<add key="SerilogSeqServerUrl" value="http://bec-dev-01:5341" />
		<add key="SerilogEventLogSource" value="WebApplication" />
		<add key="SerilogEventLogName" value="Application" />
		<add key="SerilogFromEmail" value="applications@beconsultancy.co.uk" />
		<add key="SerilogToEmail" value="applications@beconsultancy.co.uk" />
		<add key="SerilogUser" value="support@bec.local" />
		<add key="SerilogPass" value="Itsvctr3#" />
		<!-- SOA -->
		<add key="BusinessServiceBaseURL" value="http://localhost:9000" />
		<add key="WorkflowServiceBaseURL" value="net.tcp://localhost:8800/WorkflowServices/" />
		<add key="NotificationServiceBaseURL" value="net.tcp://localhost:8700/NotificationServices/" />
		<!-- Octopus Deploy version -->
		<add key="octo:version" value="[local]" />
		<!-- Couchbase -->
		<add key="couchbase:bucket" value="Default" />
		<add key="couchbase:username" value="Administrator" />
		<add key="couchbase:password" value="Itsvctr3#" />
		<add key="couchbase:uri" value="http://bec-dev-01:8091/pools" />
		<add key="couchbase:connectionTimeout" value="00:01:00" />
		<add key="couchbase:deadTimeout" value="00:01:00" />
    <add key="smtp:from" value="applications@beconsultancy.co.uk" />
    <add key="smtp:host" value="192.168.10.205" />
    <add key="smtp:port" value="25" />
    <add key="smtp:ssl" value="false" />
    <add key="smtp:user" value="support@bec.local" />
    <add key="smtp:pass" value="Itsvctr3#" />
	</appSettings>

	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Areas/Account/Views/Login">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>


	<system.web>
		<sessionState customProvider="Couchbase" mode="Custom" cookieName="s" timeout="15">
			<providers>
				<add name="Couchbase" type="Couchbase.AspNet.SessionState.CouchbaseSessionStateProvider, Couchbase.AspNet" factory="Bec.TargetFramework.Infrastructure.CouchBaseCache.MyCouchbaseFactory, Bec.TargetFramework.Infrastructure.CouchBaseCache" exclusiveAccess="false" />
			</providers>
		</sessionState>
		<caching>
			<outputCache defaultProvider="CouchbaseCache">
				<providers>
					<add name="CouchbaseCache" type="Couchbase.AspNet.OutputCache.CouchbaseOutputCacheProvider, Couchbase.AspNet" factory="Bec.TargetFramework.Infrastructure.CouchBaseCache.MyCouchbaseFactory, Bec.TargetFramework.Infrastructure.CouchBaseCache" />
				</providers>
			</outputCache>
		</caching>

		<authentication mode="Forms">
			<!-- Set timeout of form cookie to 30, probably need method to resubmist user details,  for PRD add requireSSL=true -->
			<forms loginUrl="~/Account/Login/Index" timeout="30" slidingExpiration="false" requireSSL="true"></forms>
		</authentication>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5" enableVersionHeader="false" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <customErrors mode="RemoteOnly" />
	</system.web>
	<system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
		</modules>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.3.0" newVersion="1.3.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Couchbase" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.3.0" newVersion="1.3.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.3.344.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>
	<system.identityModel.services>
		<federationConfiguration>
			<cookieHandler requireSsl="true" persistentSessionLifetime="30:00:00" />
		</federationConfiguration>
	</system.identityModel.services>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="CustomExtension" type="Bec.TargetFramework.Presentation.Web.WCF.BehaviorExtension, Bec.TargetFramework.Presentation.Web" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ClientEndpointBehavior">
					<CustomExtension />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>